<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>{/$title/}</title>
<!--[if lt IE9]  --> 
<script src="{/version file='html5.js'/}"></script>  
<!-- [endif] -->
<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='front.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='about.css'/}" />
<script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
</head>
<body>
{/include file="header.html"/}

<section class="oth">
	<div class="othLft">
    	{/include file="about/leftlink.html" link="advertput"/}
    </div>
    <hgroup class="othRht">
    	<div class="hd"><h2>广告服务</h2></div>
        <div class="bd ad">
        	<div class="img">  
            	<img src="{/$siteurl.style/}/img/about/ad_intro1.jpg"/>
                <img src="{/$siteurl.style/}/img/about/ad_intro2.jpg"/>
                <img src="{/$siteurl.style/}/img/about/ad_intro3.jpg"/>
                <img src="{/$siteurl.style/}/img/about/ad_intro4.jpg"/>
                <img src="{/$siteurl.style/}/img/about/ad_intro5.jpg"/>
                <img src="{/$siteurl.style/}/img/about/ad_intro6.jpg"/>
                <img src="{/$siteurl.style/}/img/about/ad_intro7.jpg"/>
            </div>
            <p class="tit">广告报价说明</p>
            <p>1.所有广告设计中不得加入影响网民感受的元素（如类似电脑中毒的创意）或虚假元素（如假关闭按钮），如广告创意中加入此类元素，汇博有权不予投放；</p>
            <p>2.屏位的划分均以1024*768分辨率为准；</p>
            <p>3.所有页面的广告报价、形式、位置和尺寸均以当期实际页面及广告政策为准。</p>
            <div class="table">
            	<div class="tableTit">汇博网(www.huibo.com)广告报价</div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th colspan="2">类 别（编号）</th>
                            <td align="center">价格</td>
                            <td>备注</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1号广告位</th>
                            <td class="tableLeft">首页焦点图片广225*275）</td>
                            <td align="center">10000元/月</td>
                            <td class="tableLeft">&nbsp;</td>
                        </tr>
                        <tr>
                            <th>3号广告位</th>
                            <td class="tableLeft">图片广告（150*57）</td>
                            <td align="center">7000元/月</td>
                            <td class="tableLeft">&nbsp;</td>
                        </tr>
                        <tr>
                            <th>5号广告位</th>
                            <td class="tableLeft">图片广告（185*70）</td>
                            <td align="center">3000元/月</td>
                            <td class="tableLeft">&nbsp;</td>
                        </tr>
                        <tr>
                            <th>6号广告位</th>
                            <td class="tableLeft">图片广告（998*70）</td>
                            <td align="center">6500元/月</td>
                            <td class="tableLeft">&nbsp;</td>
                        </tr>
                        <tr>
                            <th>7号广告位</th>
                            <td class="tableLeft">图片广告（319*70）</td>
                            <td align="center">3500元/月</td>
                            <td class="tableLeft">&nbsp;</td>
                        </tr>
                        <tr>
                            <th>8号广告位</th>
                            <td class="tableLeft">图片广告（127*47）</td>
                            <td align="center">1500元/月</td>
                            <td class="tableLeft">&nbsp;</td>
                        </tr>
                        <tr>
                            <th>9号广告位（行业广告）</th>
                            <td class="tableLeft">图片广告（115*44）</td>
                            <td align="center">800元/月</td>
                            <td class="tableLeft">&nbsp;</td>
                        </tr>
                        <tr>
                            <th>个性化模板</th>
                            <td class="tableLeft">个性化服务（专属企业招聘页）</td>
                            <td align="center">300元/月</td>
                            <td class="tableLeft">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </hgroup>
    <div class="clear"></div>
</section>
{/include file="./about/footer.html"/}
<section class="floatRT"><a href="{/get_url rule='/about/message' domain='main'/}" target="_blank" class="serviceLink">我有问题要反馈</a><b></b></section>
</body>
</html>
