<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>{/$title/}</title>
<!--[if lt IE9]  --> 
<script src="{/version file='html5.js'/}"></script>  
<!-- [endif] -->
<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='front.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='about.css'/}" />
<script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='common.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='dialog.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='jquery.form.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='ui_validate.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='ui_inputFocus.js'/}"></script>
<script type="text/javascript">
    window.CONFIG = {
        HOST: '{/$siteurl.style/}',
        COMBOPATH: '/js/v2/'
    }
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file="global.js"/}"></script>
<script type="text/javascript">
        hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
</script>
</head>
<body>

{/include file="new_headsearch_2015.html"/}

<section class="oth">
	<div class="othLft">
    	{/include file="about/leftlink.html" link="law"/}
    </div>
    <hgroup class="othRht">
    	<div class="hd"><h2>法律声明</h2></div>
        <div class="bd law">
            <dl>
            <dt>版权</dt>
            <dd>汇博网拥有此网站内容和资源的版权，未经本公司书面同意，任何单位或个人不得以任何方式对本网站的信息、资源等进行复制、使用、转载，否则本公司将对其追究法律责任。</dd>
            <dt>商标</dt>
            <dd><img src="{/$siteurl.style/}/img/common/logo_bak.png" /><img src="{/$siteurl.style/}/img/common/flogo.png" />汇博网的商标属于：重庆汇博信息科技有限公司及旗下重庆展达人力资源服务有限公司、重庆聚焦科技有限公司所有。 汇博网上的合作者的商标属于合作者所有。</dd>
            <dt>责任承担</dt>
            <dd>汇博网并未随时监视此网址，但保留对其实施实时监视的权利。对于非汇博网发布的材料，汇博网概不负任何法律责任。应聘信息发布方对其存入简历中心的个人简历及材料的格式、内容的准确性和合法性独立承担一切法律责任。招聘信息的发布方对其在职位数据库公布的材料的准确性和合法性独立承担一切法律责任。对于汇博网为使用者而设置的外部链接网址，汇博网不保证其准确性、安全性和完整性，亦并不代表本网站对其链接内容的认可，汇博网概不负任何法律责任。本网站对任何因使用本网站而产生的第三方之间的纠纷，不负任何责任。
            </dd>
    
            <dt>免责声明</dt>
            <dd>汇博网对由于政府禁令、火灾、地震、动乱、战争、停电、通讯线路中断、黑客攻击、计算机病毒侵入或发作、电信部门技术调整、因政府管制而造成网站的暂时性关闭等任何影响网络正常运营的不可抗力事件(包含但不限于不可预见、不可避免、不可克服和不可控制的事件)，以及他人蓄意破坏，正常的系统维护、系统升级，或者因网络拥塞而导致本网站不能访问而造成的本网站所提供的信息及数据的延误、停滞或错误，以及使用者由此受到的一切损失不承担任何责任。
            </dd>
			<dd>企业同意在网站上发布的任何信息，包括但不限于公司介绍、企业文化、职位等信息，均有可能被本网站的访问者浏览或被第三方基于商业或非商业性目的抄录。对于任何因第三方可能错误使用甲方信息所引起的纠纷，汇博网将不予承担任何责任。</dd>
    
            <dt>网站使用</dt>
            <dd>
                <p>A、明确禁止条款：</p>
                <p>　　汇博网只能用于合法的特定目的，即雇主寻找雇员和个人寻找职业。汇博网明确禁止任何其他用途，且所有使用者必须保证不用于以下任何一种途径：</p>
                <p>1、在网站简历中公布虚假、不完整和不准确的简历信息，或不是使用者个人的准确简历。</p>
                <p>2、公布非简历资料，如：意见、通知、商业广告及其他无关的非简历内容。</p>
                <p>3、未经发布者许可，删除或修改其他个人或公司公布的资料。</p>
                <p>4、擅自打印、复印或者以其他方式使用有关雇员的个人资料或有关雇主的商业信息。</p>
                <p>5、利用网站中的信息开展与汇博网有竞争的相关业务。</p>
				<p>6、将网站信息用作除招聘以外的其它用途。</p>
				<p>7、未经合同明确书面许可，发布第三方招聘信息和代第三方招聘的行为。</p>
				<p>8、冒用其他公司名义招聘。</p>
                <p>9、泄露在网站上的账号和密码、将营业执照借给其他企业开账号，以及将账号借给其他企业及个人使用。</p>
				<p>10、非人力资源代招机构代发招聘信息、代提简历。</p>
				<p>11、向其他单位或个人泄露汇博网上的简历信息。</p>
				<p>12、假借招聘名义进行培训招生。</p>
				<p>13、企业在账号操作、信息读取等存在异常，及账号操作可能产生相关风险的其他情况时，汇博网将对甲方的账号进行冻结。</p>
				<p>14、为了尽可能的规避求职者的风险，全面禁止以下行业及部分风险职位：</p>
                <p>（1）直销业、传销行业、其他诈骗行业。</p>
                <p>（2）汇博网的同行业公司、非人力资源中介公司、收费中介公司、要求求职者自己出钱的投资理财公司及含有寿险业务的保险公司。</p>
                <p>（3）娱乐会所：包含但不限于夜总会、浴场洗浴、按摩场所等可能会涉及色情、准色情的行业；陪聊、视频陪聊、包房公主、包房少爷、私人游伴等职位。</p>
                <p>（4）手工兼职：包含但不限于兼职打字员、工艺品制作、制作打火机或圆珠笔等职位或行业、淘宝信誉代刷、代购等虚拟兼职的职位或行业。</p>
                <p>（5）挂靠职位、“合伙人”职位、岗位职责描述虚假不实的职位、故意以高薪等为诱饵吸引求职者或其他可能导致求职者误解的职位。</p>
                <p>对于以上行为，有3人反馈投诉（恶意投诉除外），或有1人投诉反馈且对方已经提供属实证据，该公司账号将被冻结，汇博网对账号进行冻结后，将通过短信、电话等方式通知甲方按照相应的程序进行申诉。公司按要求进行申诉并经汇博网审核通过的，汇博网将立即解除账号冻结措施；如该公司未在规定时间内进行申请，或申诉未能通过汇博网审核的，汇博网将有权长期冻结账号。针对被冻结账号的企业，已付费用不予退还。</p>
                <p>B、在汇博网上进行招聘，甲方须及时向乙方提供营业执照等各类相关手续所需的证件，中介和培训机构等特殊行业须提供相关业务所需的资质证件或证明，所提供的证件须真实、合法、有效。</p>
                <p>1、培训学校/机构等代招航空地勤类收费职位的代招机构须提供以下资料：</p>
                <p>①　提供培训机构（学校）的办学许可证</p>
                <p>②　培训机构（学校）盖公章的授权委托书或是航空地勤等授权单位盖章的授权委托书</p>
                <p>③　被授权单位及个人的营业执照、身份证复印件</p>
                <p>2、为国家机构类、事业单位等代招的企业须提供以下资料：</p>
                <p>①　人力资源代招机构提供人力资源许可证和代招证明</p>
                <p>②　非人力资源类企业提供代招证明</p>
                <p>3、进行海外招聘的企业须提供以下资料：</p>
                <p>①　人力资源许可证和代招证明</p>
                <p>②　资质证书（对外劳务合作经营资格）或者是跟有资质证书公司之间的代招协议</p>
				<p>除B项所描述情况，提供相关资质证件或证明的特殊行业所招聘的B项所涉及到的职位外，其余行业须承诺不向求职者收取任何费用</p>
                <p>C、网络安全：</p>
                <p>禁止使用者破坏或企图破坏汇博网的安全法规，包括但不限于：</p>
                <p>1、接触未经许可的数据或进入未经许可的服务器或帐户。 </p>
                <p>2、未得到许可，企图探查、扫描及测试系统或网络的弱点，或破坏网站安全措施。</p>
                <p>3、企图干涉对用户及网络的服务，包括但不限于通过超载、‘邮件爆炸’或‘摧毁’等手段。</p>
                <p>4、发送促销，产品广告及服务的E-mail。</p>
                <p>5、伪造TCP/IP数据包名称 或部分名称。</p>
                <p></p>
                <p>D、总则：</p>
                <p>   严禁出现以下情况：</p>
                <p>1、违反任何法律法规；</p>
                <p>2、侵犯他人版权、著作权、商业机密及其他知识产权，或侵犯他人的隐私权、出版权或任何其他个人合法权利。</p>
                <p>3、利用本网站传送、分发、储存属于诽谤、淫秽、威胁、辱骂、摧毁他人或其他非法或违法社会公德的材料。</p>
                <p>4、以任何形式使用汇博网提供的服务进行任何不利于汇博网的行为。</p>
            </dd>
    
            <dt>暂停使用、终止使用</dt>
            <dd>任何经汇博网确认已违反了相关法律法规、本公司法律声明或网站使用规则的某一项或多项的用户，汇博网有权决定是否给予其暂停使用或终止使用的处理，且已付费用不予以退还。
            </dd>
            
            <dt>企业打标</dt>
            <dd>
                <p>1、人力资源公司为其他企业代招，将该企业打标为“代招机构”；</p>
                <p>2、企业同时拥有KTV业务和其他业务，将在该企业的招聘职位页面，对求职者提示“该企业部分职位为KTV”；</p>
                <p>3、企业进行海外招聘，将在该企业的招聘职位页面，对求职者提示“海外招聘”；</p>
                <p>4、人力资源公司为其他企业代招，发布海外招聘职位，将打标为“代招机构”，并在职位上提示“海外招聘”。</p>
            </dd>
            
            <dt>保密</dt>
            <dd>
                <p>除了本网站在隐私声明中提出的条款外，使用者同意，汇博网在不开姓名的情况下，可以向第三方提供综合性的资料，在没有本人实现同意的情况下，本公司不会向第三方公布使用者的姓名、地址、电子邮箱及电话等信息，但下列情况除外：</p>
                <p>（1）根据执法单位的要求向相关单位提供个人资料；</p>
                <p>（2） 由于访问者将用户密码告知他人或他人共享注册账户，由此导致的任何个人资料泄露；</p>
                <p>（3） 由于不可抗拒力，包含但不限于黑客攻击、计算机病毒入侵、政府管制而造成的暂时性关闭等影响网络正常经营而造成的个人资料泄露、丢失、被盗用或被篡改；</p>
                <p>（4） 由于与本网站链接的其他网站所造成的个人资料泄露及由此而导致的任何法律争议和后果；</p>
                <p>对于以上原因导致的任何损失或伤害，汇博网不承担任何法律责任。</p>
            </dd>
            </dl>
            <p class="red" style="margin-top:20px;">汇博网保留随时修正本法律声明的权利。警告： 在使用汇博网网络时违反本法律声明及构成对汇博网权利的侵害，汇博网将保留采取一切法律措施的权利。</p>

        </div>
    </hgroup>
    <div class="clear"></div>
</section>
{/include file="./about/footer.html"/}
<section class="floatRT"><a href="{/get_url rule='/about/message' domain='main'/}" target="_blank" class="serviceLink">我有问题要反馈</a><b></b></section>
</body>
</html>
