<ul>
 <li {/if $link=='about'/}class="cu"{//if/}><a href="{/get_url rule="/about/"/}"><b class="hbFntWes">&#xf105;</b>关于我们</a></li>
 <li {/if $link=='contact'/}class="cu"{//if/}><a href="{/get_url rule="/about/contact"/}"><b class="hbFntWes">&#xf105;</b>联系我们</a></li>
 <li {/if $link=='join'/}class="cu"{//if/}><a href="/qiye/ent49no58.html"><b class="hbFntWes">&#xf105;</b>加入我们</a></li>
   <li {/if $link=='brand'/}class="cu"{//if/}><a href="{/get_url rule="/about/brand"/}"><b class="hbFntWes">&#xf105;</b>品牌合作</a></li>
  <!--<li {/if $link=='fee'/}class="cu"{//if/}><a href="{/get_url rule="/about/fee"/}"><b class="hbFntWes">&#xf105;</b>收费标准</a></li> -->
  <!--<li {/if $link=='advertput'/}class="cu"{//if/}><a href="{/get_url rule="/about/advertput"/}"><b class="hbFntWes">&#xf105;</b>广告服务</a></li> -->
 <li {/if $link=='message'/}class="cu"{//if/}><a href="{/get_url rule="/about/message"/}"><b class="hbFntWes">&#xf105;</b>网上留言</a></li>
 <li {/if $link=='links'/}class="cu"{//if/}><a href="{/get_url rule="/about/links"/}"><b class="hbFntWes">&#xf105;</b>友情链接</a></li>
 <!--<li {/if $link=='sitemap'/}class="cu"{//if/}><a href="{/get_url rule="/about/sitemap"/}"><b class="hbFntWes">&#xf105;</b>网站地图</a></li>
 --><li {/if $link=='law'/}class="cu"{//if/}><a href="{/get_url rule="/about/law"/}"><b class="hbFntWes">&#xf105;</b>法律声明</a></li>
 <li {/if $link=='privacy'/}class="cu"{//if/}><a href="{/get_url rule="/about/privacy"/}"><b class="hbFntWes">&#xf105;</b>隐私声明</a></li>

 </ul>