<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>{/$title/}</title>
<!--[if lt IE9]  --> 
<script src="{/version file='html5.js'/}"></script>  
<!-- [endif] -->
<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='front.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='about.css'/}" />
<script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='common.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='dialog.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='jquery.form.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='ui_validate.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='ui_inputFocus.js'/}"></script>
<script type="text/javascript">
    window.CONFIG = {
        HOST: '{/$siteurl.style/}',
        COMBOPATH: '/js/v2/'
    }
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file="global.js"/}"></script>
<script type="text/javascript">
        hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
</script>
</head>
<body>
{/include file="new_headsearch_2015.html"/}

<section class="oth">
	<div class="othLft">
    	{/include file="about/leftlink.html" link="privacy"/}
    </div>
    <hgroup class="othRht">
    	<div class="hd"><h2>隐私声明</h2></div>
        <div class="bd privacy">
            <dl>
            <dt>个人资料</dt>
            <dd>对于求职者在汇博网（原重庆人才网）上填写的简历等个人信息（包括年龄、通讯地址、电话号码、证件号等）在未得到求职者本人同意的情况下不会对外公布。汇博网（原重庆人才网）也会根据求职者的相关信息不定期的给求职者发送本网站及其他合作单位的信息，求职者可以选择是否接受此信息。</dd>
            <dt>IP地址</dt>
            <dd>汇博网（原重庆人才网）使用使用者IP地址是为了帮助识别服务器的问题，以便改进自身网站的管理，同时用于数据统计。</dd>
            <dt>Cookie</dt>
            <dd>汇博网（原重庆人才网）使用cookie来实现联机体验的个性化，cookie是由网页浏览器储存在你硬盘中的文本文件。Cookie不能用来运行程序或传送病毒，每位用户的cookie是唯一的，您可以接受或者拒绝使用cookie。大多数浏览器会自动接受cookie，但用户可以根据自己需要修改浏览器需要，如果选择拒绝cookie,用户可能无法完全体验所访问的重庆人才网的服务或网站的互动功能。</dd>
            <dt>信息的修改</dt>
            <dd>求职者在网站发布的信息求职者本人可随意修改或者申请删除，除信息发布本人外任何人无权修改或删除他人信息，本网站有权根据其判断保留修改或删除任何不适信息的权利。</dd>
            <dt>特别声明</dt>
            <dd>汇博网（原重庆人才网）法律声明及隐私条款的修改权和更新权均属本网站。</dd>
            </dl>
        </div>
    </hgroup>
    <div class="clear"></div>
</section>
{/include file="./about/footer.html"/}
<section class="floatRT"><a href="{/get_url rule='/about/message' domain='main'/}" target="_blank" class="serviceLink">我有问题要反馈</a><b></b></section>
</body>
</html>
