<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{/$title/}</title>
    <link rel="stylesheet" type="text/css" href="{/version file='base.css'/}">
    <style type="text/css">
        .protocolUx{width:940px; background: #fff; overflow: hidden;  margin: 20px auto; padding: 30px; font-family: "微软雅黑";}
        .protocolUx h2{ font-weight: bold; width:100%; text-align: center; font-size: 16px; padding-bottom: 30px;}
        .protocolUx p{ color: #666; line-height: 26px; text-align: left;}
        .protocolUx p b{ display: block; font-weight: bold; color: #333; line-height: 26px;}
    </style>
</head>
<body style="background: #f1f1f1;">
<div class="protocolUx">
    <h2>使用协议</h2>
    <p>
        甲方：{/$companyname/}<br />
        乙方：重庆汇博信息科技有限公司<br />
        鉴于：甲乙双方本着互惠互利的原则，经友好协商，依据实际情况，在原合同基础上变更合同条款内容，特订立以下补充协议，以资共同遵守：<br />
        一、汇博网只能用于合法的特定目的，即雇主寻找雇员和个人寻找职业。汇博网明确禁止任何其他用途，企业必须保证不用于以下任何一种途径：<br />
        1、为汇博网的竞争同行发布职位，并用此方法寻求与雇主联络业务。<br />
        2、未经合同明确书面许可，发布第三方招聘信息和代第三方招聘的行为或冒用其他公司名义招聘。<br />
        3、将营业执照借给其他企业开账号，以及将账号借给其他企业使用。<br />
        4、在招聘过程中，向求职者收取费用，包含但不限于收费模特，KTV收费服务员，收费中介等收费的职位或行业。<br />
        5、为了尽可能的规避求职者的风险，全面禁止以下行业及部分风险职位通过汇博网发布招聘信息：<br />
        （1）直销业、保险行业、其他诈骗行业、传销行业。  <br />
        （2）汇博网的同行业公司、非人力资源中介公司、收费中介公司、要求求职者自己出钱的投资理财公司。<br />
        （3）娱乐会所：包含但不限于夜总会、浴场洗浴、按摩场所等可能会涉及色情、准色情的行业。<br />
        （4）手工兼职：包含但不限于兼职打字员、工艺品制作、制作打火机或圆珠笔等职位或行业、淘宝信誉代刷、代购等虚拟兼职的职位或行业。<br />
        （5）岗位职责描述虚假不实，故意以高薪、高收入等为诱饵吸引求职者或其他可能导致求职者误解的职位。<br />
        （6）包含但不限于发布陪聊、视频陪聊、包房公主、包房少爷、私人游伴等职位。<br />
        6、对于以下4种行为，如果被3人举报属实，该职位自动变为审核不通过，该公司自动暂停招聘服务：
        <br />（1）以服装、培训、介绍工作等为由变相欺诈收费；<br />（2）娱乐会所、博彩等涉嫌赌博、色情；<br />
        （3）冒用该公司名义招聘；<br />
        （4）保险代理人
           <b>在汇博网上，企业被求职者举报为以上行为，经核实属实，将对该企业进行关闭服务，且不退款处理。</b><br />

        二、在汇博网上进行招聘，甲方须及时向乙方提供营业执照等各类相关手续所需的证件，中介和培训机构等特殊行业须提供相关业务所需的资质证件或证明。<br />
        1、培训学校/机构等代招航空地勤类收费职位的代招机构须提供以下资料：<br />
        ①　提供培训机构（学校）的办学许可证<br />
        ②　培训机构提供盖公章的授权委托书 <br />
        ③　被授权单位及个人的营业执照、身份证复印件<br />
        2、给代招国家机构类、事业单位类等职位的企业须提供以下资料：<br />
        ①　人力资源代招机构提供人力资源许可证和代招证明<br />
        ②　非人力资源类企业提供代招证明<br />
        3、进行海外招聘的企业须提供以下资料：<br />
        ①　提供人力资源许可证和代招证明<br />
        ②　提供资质证书（对外劳务合作经营资格）或者是跟有资质证书公司之间的代招协议<br />
        三、在汇博网上，对以下行业或企业进行打标：<br />
        ①　人力资源公司为其他企业代招，将该企业打标为“代招机构”；<br />
        ②　企业存在假借招聘名义进行培训招生的行为，经核实后，将该企业打标为“假招聘转招生”；<br />
        ③　企业实际为KTV，经核实后，将该企业打标为“KTV”；<br />
        ④　企业进行海外招聘，经核实后，将该企业打标为“海外招聘”。
        <b>任何经汇博网确认已违反了相关法律法规、本公司法律声明、网站使用规则及使用协议的某一项或多项的用户，汇博网有权决定是否给予其暂停使用或终止使用的处理，且已付费用不予退还。</b>
    </p>
</div>
</body>
</html>
