<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重庆猎头公司-重庆互联网猎头-重庆IT猎头-重庆金融猎头-重庆房地产猎头-汇博猎头</title>
<meta name="keywords" content="重庆猎头公司,重庆知名猎头公司,重庆互联网猎头公司、重庆金融猎头公司、重庆房地产猎头公司、汇博猎头">
<meta name="description" content="汇博猎头，重庆知名专业猎头公司，主要服务于IT互联网、金融、汽车、房地产、快消品、通讯、医药、制造等领域，资源丰富、寻访速度快。">
<link rel="stylesheet" type="text/css" href="{/version file='base.css,headhunter.css,headhunterglobal.css,v2-widge.css'/}" />
<!–[if lt IE9]>
<script src="{/version file='html5.js'/}"></script>
<![endif]–>
<script type="text/javascript" src="{/version file='version.js'/}"></script>
<script type="text/javascript">
window.CONFIG = { 
	HOST: '{/$siteurl.style/}',
	COMBOPATH: '/js/v2/'
}
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file='global.js'/}"></script>
<script type="text/javascript">
    hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
</script>

<script>
    hbjs.use('@jobSlides', function(m){
        var $ = m['jquery'].extend(m['cqjob.jobSlides']);
        $('#slides').slides({
            preload: true,
            preloadImage: '{/$siteurl.style/}/img/headhunter/loading.gif',
            play: 3000,
            pause: 2500,
            hoverPause: true,
            navigation: false,
            animationStart: function(current){

            },
            animationComplete: function(current){

            }
        });	
    });
</script>
<style>
    .footerBm{
        text-align: center;
    }
</style>
</head>

<body>
{/include file='./lietou/header.html' currenturl="/lietou/companyinfo"/}
{/include file='./lietou/slidebanner.html'/}
<div class="htingMain">
	<div class="flowTit">
    	<div class="flowLine"></div>
        <img src="{/$siteurl.style/}/img/headhunter/htTactus07.png" width="244" height="99" style="left:380px;" />
    </div>
    <div class="flowListBd">
    	<div class="referralTxt">
        	<p>重庆展达人力资源管理有限公司（以下简称汇博猎头）是汇博网于2014年倾情打造，旨在帮助优秀的企业猎寻中高级人才，为企业提供全面、系统、精准、高效、专业的人才资源构建服务。</p>
            <p>成立以来，汇博猎头秉承着“全面、系统、精准、高效、专业”的服务理念，全方位无遗漏为客户提供高质量资源，坚持为客户提供匹配的专业人才，用专业的知识与敬业的态度让客户享受到满意的猎头服务。
</p>
        </div>
        <ul class="referralList">
        	<li>
            	<i class="fer01"></i>
                <span><b>全面</b>精耕行业信息，提供专业技术加综合管理岗位有效一体的全面人
才搜寻服务。</span>
            </li>
            <li>
            	<i class="fer02"></i>
                <span><b>系统</b>服务采用项目式责任制管理，服务人员像企业内部人员一样，熟悉企业关键业务内容、基本业务流程、组织架构、文化风格等相关信息。</span>
            </li>
            <li>
            	<i class="fer03"></i>
                <span><b>精准</b>服务人员由来自于各个行业的专业HR人才担任，不但熟悉行业基本业务流程，且具备专业的HR人才搜寻方式以及敏锐的评估判断能力。</span>
            </li>
            <li>
            	<i class="fer04"></i>
                <span><b>高效</b>汇博网目前拥有超300万人才信息，掌握近10万的企业基本动态，拥有逾100人的电话寻访平台，利用强大信息的资源库讯速反应，使招聘周期缩短超过50%以上。</span>
            </li>
            <li>
            	<i class="fer05"></i>
                <span><b>专业</b>服务团队由资深猎头倾情加盟，汲较高职业素养，取十余载专业招聘经验，志在成为“专业的猎头公司”。</span>
            </li>
        </ul>
    </div>
</div>
{/include file="footer.html"/}
</body>
</html>
