<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重庆猎头公司-重庆互联网猎头-重庆IT猎头-重庆金融猎头-重庆房地产猎头-汇博猎头</title>
<meta name="keywords" content="重庆猎头公司,重庆知名猎头公司,重庆互联网猎头公司、重庆金融猎头公司、重庆房地产猎头公司、汇博猎头">
<meta name="description" content="汇博猎头，重庆知名专业猎头公司，主要服务于IT互联网、金融、汽车、房地产、快消品、通讯、医药、制造等领域，资源丰富、寻访速度快。">
<link rel="stylesheet" type="text/css" href="{/version file='base.css,headhunter.css,headhunterglobal.css,v2-widge.css'/}" />
<!–[if lt IE9]>
<script src="{/version file='html5.js'/}"></script>
<![endif]–>
<script type="text/javascript" src="{/version file='version.js'/}"></script>
<script type="text/javascript">
window.CONFIG = { 
	HOST: '{/$siteurl.style/}',
	COMBOPATH: '/js/v2/'
}
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file='global.js'/}"></script>
<script type="text/javascript">
    hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
</script>

<script>
    hbjs.use('@jobSlides', function(m){
        var $ = m['jquery'].extend(m['cqjob.jobSlides']);
        $('#slides').slides({
            preload: true,
            preloadImage: '{/$siteurl.style/}/img/headhunter/loading.gif',
            play: 3000,
            pause: 2500,
            hoverPause: true,
            navigation: false,
            animationStart: function(current){

            },
            animationComplete: function(current){

            }
        });	
    });
</script>
<style>
    .footerBm{
        text-align: center;
    }
</style>
</head>

<body>
{/include file='./lietou/header.html' currenturl="/lietou/contact"/}
{/include file='./lietou/slidebanner.html'/}
<div class="htingMain">
	<div class="flowTit">
    	<div class="flowLine"></div>
        <img src="{/$siteurl.style/}/img/headhunter/htTactus09.png" width="283" height="100" style="" />
    </div>
    <div class="flowListBd">
    	<div class="tactMap">
        	<img src="{/$siteurl.style/}/img/headhunter/htTactus10_new.png" class="mapImg" width="469" height="238" />
            <div>
            	<p>地址：重庆市江北区观音桥富力海洋广场4号楼负二楼56号</p>
                <p>咨询电话：<em></em>023—63528965 </p>
                <p>网址：<a href="{/$siteurl.main/}">www.huibo.com</a></p>
                <p>邮箱: lietou@huibo.com</p>
                <p>咨询：<a target="_blank" href="//wpa.qq.com/msgrd?v=3&amp;uin=3348331073&amp;site=qq&amp;menu=yes"><img border="0" src="//wpa.qq.com/pa?p=2:3348331073:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></p>
            </div>
        </div>
    </div>
</div>
{/include file="footer.html"/}
</body>
</html>
