<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重庆猎头公司-重庆互联网猎头-重庆IT猎头-重庆金融猎头-重庆房地产猎头-汇博猎头</title>
<meta name="keywords" content="重庆猎头公司,重庆知名猎头公司,重庆互联网猎头公司、重庆金融猎头公司、重庆房地产猎头公司、汇博猎头">
<meta name="description" content="汇博猎头，重庆知名专业猎头公司，主要服务于IT互联网、金融、汽车、房地产、快消品、通讯、医药、制造等领域，资源丰富、寻访速度快。">
<link rel="stylesheet" type="text/css" href="{/version file='base.css,headhunter.css,headhunterglobal.css,v2-widge.css'/}" />
<!–[if lt IE9]>
<script src="{/version file='html5.js'/}"></script>
<![endif]–>
<script type="text/javascript" src="{/version file='version.js'/}"></script>
<script type="text/javascript">
window.CONFIG = { 
	HOST: '{/$siteurl.style/}',
	COMBOPATH: '/js/v2/'
}
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file='global.js'/}"></script>
<script type="text/javascript">
    hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
</script>

<script>
    hbjs.use('@jobSlides', function(m){
        var $ = m['jquery'].extend(m['cqjob.jobSlides']);
        $('#slides').slides({
            preload: true,
            preloadImage: '{/$siteurl.style/}/img/headhunter/loading.gif',
            play: 3000,
            pause: 2500,
            hoverPause: true,
            navigation: false,
            animationStart: function(current){

            },
            animationComplete: function(current){

            }
        });	
    });
</script>
<style>
    .footerBm{
        text-align: center;
    }
</style>
</head>

<body>
{/include file='./lietou/header.html' currenturl="/lietou/process"/}
{/include file='./lietou/slidebanner.html'/}
<div class="htingMain">
	<div class="flowTit">
    	<div class="flowLine"></div>
        <img src="{/$siteurl.style/}/img/headhunter/htTactus05.png" width="327" height="101" />
    </div>
    <div class="flowListBd">
        <div class="flowList">
            <div class="flowsLf">
                <em>01</em>
                <span><b>职位分析</b>理解职位的具体要求及职位环境</span>
            </div>
            <div class="flowsRt">
                <em>步骤：</em>
                <p>1、与客户作深入讨论，充分理解客户机构详情、管理风格、工作环境和商务战略；</p>
                <p>2、确定职位权责和对候选人的相应要求；</p>
                <p>3、确定专业搜寻小组并召开会议进行详细讨论以确定搜寻范围</p>
            </div>
        </div>
        <div class="flowList">
            <div class="flowsLf">
                <em>02</em>
                <span><b>搜寻策略制订</b>确立多种搜索手段展开实际搜索</span>
            </div>
            <div class="flowsRt">
                <em>步骤：</em>
                <p>1、现有高级人才储备库寻找候选人；</p>
                <p>2、通过其它挖掘手段搜寻到合格人选。</p>
            </div>
        </div>
        <div class="flowList">
            <div class="flowsLf">
                <em>03</em>
                <span><b class="flow01">候选人资料分析</b>通过对候选人简历分析、筛选和电话
<br />面试确立正式面试人，面试候选人。</span>
            </div>
            <div class="flowsRt">
                <em>步骤：</em>
                <p>1、大致介绍公司职位的基本状况 （根据公司需要，确认是否需隐名）。
</p>
                <p>2、判断他们目前的状态，对岗位的兴趣和担当新工作的可能性。</p>
                <p>3、详细了解候选人的工作概况, 职责是否基本符合所搜寻的职位。</p>
            </div>
        </div>
        <div class="flowList">
            <div class="flowsLf flowsLfx">
                <em>04</em>
                <span><b class="flow01">专业面试和推荐</b>提交合格的候选人的面试报告；专业
<br />人力资源顾问对候选人进行面试。</span>
            </div>
            <div class="flowsRt flowsRtx">
                <em>步骤：</em>
                <p>1、针对个别职位的要求, 考察候选人在个人技能,各方面知识与及个人性格及做出相应评估。</p>
                <p>2、深入了解候选人的工作经验,职责,与及对新工作仔的要求(包括公司性质,职能,及薪酬等)。</p>
                <p>3、对候选人提供测评。</p>
                <p>4、提交详细的面试报告，包括候选人个人情况,工作经历和成绩,人力资源顾问综合候选人的经验,个性,价值观和潜力等因素的总结意见。</p>
            </div>
        </div>
        <div class="flowList">
            <div class="flowsLf">
                <em>05</em>
                <span><b class="flow02">客户面试</b></span>
            </div>
            <div class="flowsRt">
                <em>步骤：</em>
                <p>1、根据客户的要求和时间表安排候选人面试。</p>
                <p>2、在客户和候选人之间架起沟通的桥梁,协助双方以务实、公平和尊敬的态度磋商。</p>
                <p>3、薪酬福利等有关事宜。</p>
            </div>
        </div>
        <div class="flowList">
            <div class="flowsLf">
                <em>06</em>
                <span><b class="flow02">服务跟踪</b></span>
            </div>
            <div class="flowsRt">
                <em>步骤：</em>
                <p>1、尽可能协助候选人处理好原工作的移交和辞职事宜, 并能尽快适应新的环境和工作，如发现问题及时帮助解决，保证双方新的合作能顺利进行。</p>
                <p>2、定期联络候选人和客户，确保一切运作正常。
我们承诺：在两年之内，我们不会挖我们提供的高级人才。</p>
            </div>
        </div>
    </div>
</div>
{/include file="footer.html"/}
</body>
</html>
