<div class="htbanner">
	<div class="newcontainer">
        <div class="newexample">
            <div id="slides">
                <div class="slides_container">
                    <div>
                        <a href="javascript:" title="" style="background:url({/$siteurl.style/}/img/headhunter/htbanner01.jpg) center top no-repeat"><img src="{/$siteurl.style/}/img/headhunter/htbanner01.jpg" width="1000" height="350" alt="Slide 2"></a>
                    </div>
                    <div>
                        <a href="javascript:" title=""><img src="{/$siteurl.style/}/img/headhunter/htbanner02.jpg" width="1000" height="350" alt="Slide 1"></a>
                    </div>
                    <div>
                        <a href="javascript:" title="" ><img src="{/$siteurl.style/}/img/headhunter/htbanner03.jpg" width="1000" height="350" alt="Slide 2"></a>
                    </div>
                    <div>
                        <a href="javascript:" title=""><img src="{/$siteurl.style/}/img/headhunter/htbanner04.jpg" width="1000" height="350" alt="Slide 1"></a>
                    </div>
                    <div>
                        <a href="javascript:" title=""><img src="{/$siteurl.style/}/img/headhunter/htbanner05.jpg" width="1000" height="350" alt="Slide 2"></a>
                    </div>
                </div>
                <a href="javascript:" class="prev"></a>
                <a href="javascript:" class="next"></a>
            </div>
        </div>
    </div>
</div>