<div class="footerBm" style="text-align: center;">
	<div class="footerNav">
		<a target="_blank" href="{/get_url rule='/about/' domain='main'/}">
			关于汇博
		</a>
		|
		<a target="_blank" href="{/get_url rule='/about/contact/' domain='main'/}">
			联系我们
		</a>
		|
		<a target="_blank"
		   href="{/get_url rule='/qiye/ent49no58.html' domain='main'/}">
			诚聘英才
		</a>
		|
		<a target="_blank" href="{/get_url rule='/about/brand/' domain='main'/}">
			品牌合作
		</a>
		|
		<a target="_blank"
		   href="{/get_url rule='/about/media' domain='main'/}">
			媒体合作
		</a>
		|
		<a target="_blank"
		   href="{/get_url rule='/about/links/' domain='main'/}">
			友情链接
		</a>
		<!--|<a target="_blank" href="http://www.huibo.com/about/sitemap/">网站地图</a>-->
		|
		<a target="_blank"
		   href="{/get_url rule='/about/law/' domain='main'/}">
			法律声明
		</a>
		|
		<a target="_blank"
		   href="{/get_url rule='/about/privacy/' domain='main'/}">隐私政策</a></div>
	<div class="copyright">
		<p>©2018&nbsp;汇博网&nbsp;版权所有&nbsp;&nbsp;|&nbsp;&nbsp;增值电信业务经营许可证：渝B2-20060063&nbsp;&nbsp;|&nbsp;&nbsp;人才中介服务许可证：渝新委发[2012] 124号&nbsp;&nbsp;|&nbsp;&nbsp;<a
					target="_blank"
					href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50010502001182"
					rel="nofollow"
					style="color:#999;">渝公网安备 50010502001182号</a></p>
		<p>招聘单位无权收取任何费用,请求职人员加强自我保护意识,按劳动法规保护自身权益,警惕虚假招聘,避免上当受骗!</p>
	</div>
</div>
<script type="text/javascript" language="javascript" src="{/version file='track.js'/}"></script>