<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{/$title/}</title>
	<meta name="keywords" content="个人简历模板，简历模板，在线制作简历，免费制作简历，简历定制，优秀简历模板，汇博网"/>
	<meta name="description" content="汇博网（huibo.com）为您提供最新个人简历模板,免费制作优秀个人简历,还有专业简历模板、校园简历模板、创意简历模板等作为参考使用,满足求职者简历制作需求,好简历上汇博"/>
	<link rel="stylesheet" type="text/css" href="{/version file="base.css"/}">
	<link rel="stylesheet" type="text/css" href="{/version file="jobRegister.css"/}"/>
	<link rel="stylesheet" type="text/css" href="{/version file='layer.css'/}">
	<script type="text/javascript" language="javascript" src="{/version file="jquery-1.8.3.min.js"/}"></script>
	<script type="text/javascript" src="{/version file='layer.js'/}"></script>
	<script type="text/javascript" src="{/version file='base_script.js'/}"></script>
	<style>
		body {
			background: #f8f9fc;
			outline: none;
		}

		.resume-item:hover .resume-item-cover {
			display: block;
		}

		.hb_ui_dialog {
			outline: none;
		}

		/*右侧二维码*/
		.scan_model_weixin {
			width: 180px;
			height: 200px;
			border: 1px solid #eee;
			border-radius: 2px;
			position: fixed;
			width: 180px;
			position: fixed;
			top: 50%;
			left: 50%;
			margin-left: 520px;
			background: #fff;
		}

		.scan_model_weixin_img {
			width: 128px;
			height: 128px;
			overflow: hidden;
			position: relative;
			margin: 20px auto 14px auto;
		}

		.scan_model_weixin_img img {
			width: 128px;
			height: 128px;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
		}

		.scan_model_weixin_img .weixin_bind_img_center {
			width: 33px;
			height: 33px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}

		.scan_model_weixin p {
			font-size: 12px;
			color: #444;
		}
	</style>

</head>
<body>
<div id="app" class="m-container" style="overflow: hidden;">
	<!--头部-->
	{/include file="hbResume/public/head.html"/}

	<!--选择条件-->
	<div style="width: 1000px;margin: 27px auto 20px; border:1px solid #eee; background-color: #fff;padding: 20px;box-sizing: border-box">
		{/if $job_intension_list/}
			<div style="overflow: hidden;margin-bottom: 20px;">
				<h2 style="float: left;font-size: 14px;font-weight: 600">求职意向：</h2>
				<ul class="job-type-list">
					<li class="{/if !$job_intension/}active{//if/}"
						onclick="location_href_set_get({job_intension:''})">
						不限
					</li>
					{/foreach $job_intension_list as $key => $val/}
						<li class="{/if $key == $job_intension/}active{//if/}"
							onclick="location_href_set_get({job_intension:{/$key/},page:1})">
							{/$val/}
						</li>
					{//foreach/}
				</ul>
			</div>
		{//if/}
		{/if $model_style_list/}
			<div style="overflow: hidden">
				<h2 style="float: left;font-size: 14px;font-weight: 600">模板风格：</h2>
				<ul class="resume-style-list">
					<li class="{/if !$model_style/}active{//if/}"
						onclick="location_href_set_get({model_style:''})">
						不限
					</li>
					{/foreach $model_style_list as $key => $val/}
						<li class="{/if $key == $model_style/}active{//if/}"
							onclick="location_href_set_get({model_style:{/$key/},page:1})">
							{/$val/}
						</li>
					{//foreach/}
				</ul>
			</div>
		{//if/}
	</div>
	<!--简历模板列表-->
	<div style="width: 1020px;margin: 0 auto;">
		<div style="margin-bottom: 20px; font-size: 16px; color: #666;">请选择你需要的模板</div>
		<div class="clearfix" style="width: 100%;">
			{/if $list/}
				{/foreach $list as $val/}
					<a href="{/get_url rule="/hbResumeModel/ResumeModel/" domain="person"/}?id={/$val.id/}&resume_id={/$resume_id/}" target="_blank" title=""
							{/if !$_userid/}
						class="" onclick="CreateInfo();return false;"
							{/elseif $_userid && !$weixin_bind_data.open_id && $resume_id/}
						onclick="show_weixin_bind_img(this);return false;"
							{//if/}>
						<div class="resume-item" data_id="{/$val.id/}">
							<img src="{/$li_img_path/}/{/$val.model_img/}" style="width: 300px;height: 360px">
							<div class="resume-item-content">
								{/$val.model_name/}<span>已下载：{/$val.download_s|default:rand(100,3000)/}</span>
							</div>
							<div class="resume-item-cover">
								<div class="cover-content">
									<img src="{/$img_path/}/add_temp.png">
									<p>免费使用此模板</p>
								</div>
							</div>
						</div>
					</a>
				{//foreach/}
			{/else/}
				<div class="not_resume_list">
					<img src="{/$_styleUrl/}/img/xiaoyuan/resume/job_icon05.png">
					<span>暂无此类模板</span>
				</div>
			{//if/}
		</div>
	</div>

	{/if !$weixin_bind_data.open_id && $_userid/}
		<script type="text/javascript">
			var resumeModel_back_url, weixin_bind;
			//展示绑定
			function show_weixin_bind_img(_this) {
				resumeModel_back_url = $(_this).attr('href');
				weixin_bind = new Dialog({
					close: null,
					idName: 'weixin_bind',
					title: false,
					width: 0,
					content: '{/get_url rule="/resumeModel/BindingWeixin"/}',
					isAjax: true
				});
				weixin_bind.show();
			}

			//ajax 请求
			function ajax_function(url, data, success_c, async, type) {
				success_c = success_c ? success_c : {
					success: function (data) {

					},
					error: function (data) {

					}
				};
				type = type ? type : 'POST';
				async = async ? async : false;//是否同步请求  //false-同步请求
				if (!url || !success_c) {
					msg_error_box('参数错误');
				}
				var re = false;
				$.ajax({
					type: type,
					url: url,
					data: data,//只要将表单序列化就可以了
					async: async,//false-同步请求
					dataType: 'json',
					success: function (data) {
						re = success_c.success(data);
					},
					error: function (request) {
						msg_error_box("数据请求失败.请稍后重试");
						re = success_c.error(request);
						re = false;
					}
				});
				return re;
			}

			/**
			 * 公共弹窗
			 * re_html_id  #dialog
			 */
			function tip_content(re_html_id, dialog_data, click_fun) {
				var ResumeHTML;
				if (typeof re_html_id != 'object' && typeof re_html_id == 'string') {
					ResumeHTML = $(re_html_id).html();
				} else {
					ResumeHTML = re_html_id['html_data'];
				}
				if (!ResumeHTML) {
					confirmBox.timeBomb("参数错误!", {
						name: 'fail',
						timeout: 1000,
						width: 200
					});
				}
				var default_dialog_data = {
					idName: 'data_info_dialog',
					title: '信息',
					close: 'x',
					isAjax: false,
					width: 480
				};
				var default_click_fun = $.extend({}, click_fun);
				default_dialog_data = $.extend(default_dialog_data, dialog_data);
				if($(".hb_ui_dialog."+default_dialog_data.idName)[0]){
					$(".hb_ui_dialog."+default_dialog_data.idName).remove();
				}
				var dialog_tip = new Dialog(default_dialog_data);
				dialog_tip.setContent(ResumeHTML);
				dialog_tip.show();
				if (default_click_fun) {
					$.each(default_click_fun, function (key, val) {
						dialog_tip.query('#' + key).on('click', function (e) {
							return default_click_fun[key](dialog_tip, e);
						});
					})
				}
				return dialog_tip;
			}

			//错误提示 success-成功 fail-错误 warning-警告 question-疑问  info-信息 normal-正常
			function msg_error_box(msg) {
				confirmBox.timeBomb(msg ? msg : "参数错误!", {
					name: 'fail',
					timeout: 1000,
					width: 18 * msg.length + 70
				});
				return false;
			}

			//成功提示 success-成功 fail-错误 warning-警告 question-疑问  info-信息 normal-正常
			function msg_success_box(msg) {
				confirmBox.timeBomb(msg ? msg : "参数错误!", {
					name: 'success',
					timeout: 1000,
					width: 18 * msg.length + 70
				});
				return true;
			}

		</script>
	{//if/}



	{/$page/}
	<!--尾部-->
	{/include file="hbResume/public/bottom.html"/}
</div>
<div class="scan_model_weixin">
	<div class="scan_model_weixin_img">
		<!--<img src="{/$scan_model_weixin/}" class="weixin_bind_img" title="微信扫码、关注公众号后，即可免费使用所有简历模板，可以直接下载简历或免费将简历发送到指定邮箱">-->
		<img src="{/$scan_model_weixin/}" class="weixin_bind_img" title="微信扫码、关注公众号后，即可免费使用所有简历模板，可以直接下载简历或免费将简历发送到指定邮箱">
		<img src="{/$siteurl.style/}/img/xiaoyuan/huibojianli.png" class="weixin_bind_img_center" title="微信扫码、关注公众号后，即可免费使用所有简历模板，可以直接下载简历或免费将简历发送到指定邮箱">
	</div>
	<p>扫一扫，手机制作简历</p>
</div>
<script>
	function CreateInfo() {
		window.location.href = "{/get_url rule="/hbResume/CreateInfoAndCreateResume/" domain="person"/}";
	}
</script>
</body>
{/include file="statistics.html"/}
</html>