<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>招聘外包_重庆招聘外包_重庆人事外包_RPO_HRO_汇博招聘外包</title>
<meta name="keywords" content="招聘外包，重庆招聘外包，重庆人事外包，重庆人力资源公司，重庆人力资源外包，汇博招聘外包"/>
<meta name="description" content="汇博招聘外包，是汇博网旗下的人力资源服务，重庆知名招聘外包公司，专业团队帮您招聘，招到再付费，线上线下资源丰富，招聘外包就找汇博招聘外包，汇博网值得信赖！"/>
<!–[if lt IE9]>
<script type="text/javascript" src="{/version file='html5.js'/}"></script>
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file='base.css,v2-widge.css'/}"/>
<link rel="stylesheet" type="text/css" href="{/version file='front.css'/}"/>
<link rel="stylesheet" type="text/css" href="{/version file='new-headsearch-2015.css'/}"/>
<link rel="stylesheet" type="text/css" href="{/version file="rpo.css"/}" />

<script type="text/javascript" src="{/version file='version.js'/}"></script>
<script type="text/javascript">
window.CONFIG = {
	HOST: '{/$siteurl.style/}',
	COMBOPATH: '/js/v2/'
}
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file='global.js'/}"></script>
<script type="text/javascript">
hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
</script>
</head>
<body>
<div id="bodyBox" style="position: relative;zoom:1;overflow: hidden">
{/include file='./lietou/header.html' showSecondMenu=false/}

<div>
	<div class="rpomenu" id="rpomenu">
		<div class="w1000">
			<a href="{/get_url rule='/rpo'/}"><img src="{/$siteurl.style/}/img/rpo/rpologo.jpg" /></a>
			<ul>
				<li>
					<a href="javascript:void(0);"  class="cur">首页</a>
					<a href="{/get_url rule='/rpo/serviceflow'/}">服务流程&产品</a>
					<a href="{/get_url rule='/rpo/jobs'/}">最新职位</a>
					<a href="{/get_url rule='/rpo/contact'/}">联系方式</a>
				</li>
			</ul>
		</div>
	</div>
	<ul class="business-box" id="business" style="background:#5ea1ed">
		<li class="item step3 activ" style="float:none">
			<div class="w1155">
				<span class="name">专业团队帮您招聘，<font style="color:#fffc04">招到再付费</font></span>
				<p class="desc" style="margin-top:20px\9">为您从职位发布、筛选简历、组织面试直至入职，提供“起点到终点”的一站式服务。</p>
				<p class="good1">渠道广</p>
				<p class="text" style="background: url({/$siteurl.style/}/img/rpo/list.jpg) 55px 9px no-repeat;padding-left:73px">强大的人才库支持——依托汇博网、汇博人才市场，线上+线下320万重庆不同层次的人才资源</p>
				<p class="text" style="background: url({/$siteurl.style/}/img/rpo/list.jpg) 55px 9px no-repeat;padding-left:73px">全人才资源平台——与多家知名行业网站、人力资源机构保持战略合作，建立了覆盖全国性的人才渠道</p>
				<p class="text" style="background: url({/$siteurl.style/}/img/rpo/list.jpg) 55px 9px no-repeat;padding-left:73px">校园渠道——拥有校园网发布、校园独有宣传栏、校园代理、校园宣讲等渠道</p>
				<p class="good2">专业精</p>
				<p class="text">依靠自身招聘平台，专注重庆人力资源服务行业14年，团队经验丰富，甄选人才方法科学，招聘流程严谨</p>
				<p class="good3">成本低</p>
				<p class="text">整合资源缓解企业招聘压力，缩短招聘时间、机会成本，为企业节省30%以上成本</p>
				<p class="good4">定制自由</p>
				<p class="text">根据需求，提供个性化定制解决方案，实时管控招聘进度，灵活调整服务项目</p>			
			</div>
		</li>
		<li class="item step2" style="float:none;overflow: hidden">
			<div class="w1155 clearfix">				
				<span class="name">招聘外包适用企业</span>
				<p>新建项目团队，成员大部分需要对外招聘，为确 保项目 进度，招聘压力大的企业。</p>
		   		<p>人力资源部希望将精力投入到核心工作，摆脱招聘流程中大量繁杂的事务性工作的企业</p>
		     	<p>既定时间段内有大量人员需求，但是内部招聘部门人手、精力、渠道、人才储备有限的企业。</p>
		     	<p>暂无内部招聘部门或需要优化内部招聘流程的企业。</p>
		     	<img src="{/$siteurl.style/}/img/rpo/move2.gif" class="moveimg" />
		     </div>
		</li>		
		<li class="item step4" style="float:none">
			<div class="w1155">
				<p class="name">合作企业</p>
				<p class="img">
					<a href="javascript:void(0);"><img src="{/$siteurl.style/}/img/rpo/img1.jpg" /></a>
					<a href="javascript:void(0);"><img src="{/$siteurl.style/}/img/rpo/img2.jpg" /></a>
					<a href="javascript:void(0);"><img src="{/$siteurl.style/}/img/rpo/img3.jpg" /></a>
					<a href="javascript:void(0);"><img src="{/$siteurl.style/}/img/rpo/img4.jpg" /></a>
					<a href="javascript:void(0);"><img src="{/$siteurl.style/}/img/rpo/img5.jpg" /></a>
					<a href="javascript:void(0);"><img src="{/$siteurl.style/}/img/rpo/img6.jpg" /></a>
					<a href="javascript:void(0);"><img src="{/$siteurl.style/}/img/rpo/img7.jpg" /></a>
					<a href="javascript:void(0);"><img src="{/$siteurl.style/}/img/rpo/img8.jpg" /></a>
				</p>
				<p class="link"><a href="{/$siteurl.main/}/rpo/contact">联系我们</a></p>
			</div>
		</li>
	</ul>
	<ul class="sign-box" id="sign">
		<li class="cur">1</li>
		<li>2</li>
		<li>3</li>
	</ul>	
</div>
{/include file="footer.html"/}
</div>
<script type="text/javascript">
function ajaxLoginCallback() {
    window.location.href = window.location.href; 
}    
</script>
<script type="text/javascript">
    hbjs.use('@search, @dateFormat', function(m){
        var $ = m['jquery'],
            trigger = $('#browser'),
            popup = m['widge.popup'],
            p = new popup({
                idName: 'navBox panelBox',
                width: 550,
                height: 'auto',
                align: {
                    baseElement: trigger,
                    baseXY: ['-50%', '100%+10']
                }
            }),
            hideTimer,
            element = p.get('element');
        $($('#boxNav').remove().html()).appendTo(element);
        trigger.on('mouseenter', enterHandle).on('mouseleave', leaveHandle);
        element.on('mouseenter', enterHandle).on('mouseleave', leaveHandle);

        function enterHandle(){
            hideTimer && clearTimeout(hideTimer);
            p.show();
        }

        function leaveHandle(){
            hideTimer && clearTimeout(hideTimer);
            hideTimer = setTimeout(function(){
                p.hide();
            }, 120);
        }

	    //20160229 mijing
	    var wHeight = $(window).height(),
	    	bUl = $("#business");
	    	bLi = bUl.find("li"),
	    	signLi = $("#sign li");
	    $("#bodyBox").css({"height":wHeight-144,"overflow":"hidden"});	
	    if((wHeight-85-60) <= 550){
	    	$("body").addClass("minStep")
	    }    
	    bLi.each(function(){
	    	var _this = $(this),tHeight = wHeight,ptop = 0;;
	    	
	    	if(_this.index() == 0){
	    		tHeight = wHeight-85-60;
	    		ptop = (tHeight)/2-bLi.eq(_this.index()).find("div").height()/2-10;
	    	}else{
	    		tHeight = wHeight;
	    		ptop = (tHeight)/2-bLi.eq(_this.index()).find("div").height()/2;
	    	}    	
	    	_this.css("height",tHeight).find("div").css("padding-top",ptop);
	    });
	    
	    var defTop = $("html,body").scrollTop(),idx = 0,msTime = false;
	    bLi.eq(0).css("background-image","url('{/$siteurl.style/}/img/rpo/move1.gif?t="+Math.random()+"')");
	    signLi.click(function(){
	    	var _this = $(this),
	    		tidx = _this.index();
	    	signLi.removeClass("cur");	    	
	    	_this.addClass("cur");
	    	
	    	bUl.find(".activ").removeClass("activ");
	    	var mImg = bLi.eq(tidx).addClass("current").find(".moveimg");
	    	var btop = 0;
	    	if(tidx == 0){
	    		btop = -wHeight*tidx;
	   			$("#header").stop().animate({top:0},1000);	
	   			$("#rpomenu").stop().animate({top:60},1000);   			
	    	}else{
	    		btop = -wHeight*tidx+60;	    		
	   			$("#header").stop().animate({top:-65},1000);
	   			$("#rpomenu").stop().animate({top:0},1000);
	    	}
	    	$("#business").stop().animate({"margin-top":btop},1000,function(){
	    		msTime = false;
	    		bLi.eq(tidx).removeClass("current").addClass("activ");
	    		mImg.length && mImg.attr("src",mImg.attr("def-url"));
	    		
		    	if(tidx == 0){
		    		bLi.eq(tidx).css("background-image","url('{/$siteurl.style/}/img/rpo/move1.gif?t="+Math.random()+"')"); 
		    	}else if(tidx == 1){
		    		setTimeout(function(){
		    			mImg.attr("src","{/$siteurl.style/}/img/rpo/move2_1.jpg");
		    		},1400);
		    		
		    	}	
	    	});
	    	idx = _this.index();
	    });

	    // bUl.find(".moveimg").mouseover(function(){
	    // 	var _this = $(this),step1;
	    // 	if(step1 = _this.parents(".step1")){
	    // 		step1.css("background-image","url('{/$siteurl.style/}/img/rpo/move1.gif?t="+Math.random()+"')"); 
	    // 	}	   	
	    // 	_this.attr("src",_this.attr("def-url")); 
	    // });

	    function mousewheel(detail){
	    	if(msTime){return false;}
	    	msTime = true;
	    		 
		    //如果是Firefox浏览器
    		if(detail){
		         if(detail > 1){
		         	if(idx >= 2){
		         		$("#business").stop().animate({"margin-top":-wHeight*2-160},1000,function(){msTime = false;});
		         		idx = 3;
		         	}else{
		         		signLi.eq(++idx).click();
		         	}
		         }else{	
		         	if(idx <= 0){
		         		msTime = false;
		         		return false;
		         	}	        	
		         	signLi.eq(--idx).click();
		         }
		    }	
	    }
		
			document.body.onmousewheel = function (event) {
			    mousewheel(-window.event.wheelDelta);
			};
			
		try{
			document.body.addEventListener("DOMMouseScroll", function(event) {
			    mousewheel(event.detail);    
			});
		}catch(e){			
			
		}   
	});
</script>
<style>
	.minStep .business-box .activ .name{font-size:30px}
	.minStep .business-box .step3 .good1{margin-top: 20px}
	.minStep .business-box .step3 .good1,.minStep  .business-box .step3 .good2,.minStep  .business-box .step3 .good3,.minStep  .business-box .step3 .good4{margin-top: 10px}
</style>
</body>
</html>
