<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>重庆招聘外包公司-重庆招聘外包(RPO)-汇博招聘外包</title>
<meta name="keywords" content="重庆招聘外包公司,重庆招聘外包(RPO),、汇博招聘外包">
<meta name="description" content="汇博招聘外包，重庆知名招聘外包公司，为您从职位发布、筛选简历、组织面试直至入职，提供“起点到终点”的一站式服务。">
<!–[if lt IE9]>
<script type="text/javascript" src="{/version file='html5.js'/}"></script>
<![endif]–>

<link rel="stylesheet" type="text/css" href="{/version file='base.css,v2-widge.css'/}"/>
<link rel="stylesheet" type="text/css" href="{/version file='front.css'/}"/>

<script type="text/javascript" src="{/version file='version.js'/}"></script>
<script type="text/javascript">
window.CONFIG = {
	HOST: '{/$siteurl.style/}',
	COMBOPATH: '/js/v2/'
}
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file='global.js'/}"></script>
<script type="text/javascript">
hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
</script>

</head>
<body>
<link rel="stylesheet" type="text/css" href="{/version file='new-headsearch-2015.css'/}"/>
<link rel="stylesheet" type="text/css" href="{/version file="rpo.css"/}" />
{/include file='./lietou/header.html' showSecondMenu=false/}
<div class="rpomenu">
	<div class="w1000">
		<a href="{/get_url rule='/rpo'/}"><img src="{/$siteurl.style/}/img/rpo/rpologo.jpg" /></a>
		<ul>
			<li>
				<a href="{/get_url rule='/rpo'/}">首页</a>
				<a href="javascript:void(0);"  class="cur">服务流程&产品</a>
				<a href="{/get_url rule='/rpo/jobs'/}">最新职位</a>
				<a href="{/get_url rule='/rpo/contact'/}">联系方式</a>
			</li>
		</ul>
	</div>	
</div>
<div class="bgfff">
	<div class="w1000">
		<p class="protit">招聘外包产品</p>
		<ul class="clearfix pro-waibao-list">
			<li style="width:170px">
				<i></i>
				<p>基层员工RPO<span>物业管理、制造行业、呼叫中心</span></p>
			</li>
			<li style="width:180px">
				<i class="i2"></i>
				<p>通用性岗位RPO<span>行政、客服、基层管理、财务、物流</span></p>
			</li>
			<li style="width:180px">
				<i class="i3"></i>
				<p>校园招聘RPO<span>校园招聘全程外包、校园招聘组织外包</span></p>
			</li>
			<li style="margin-right: 0;width:220px">
				<i class="i4"></i>
				<p>行业技术型人才RPO<span>汽车、电子、机械设备制造、印刷包装、餐饮<br />酒店、家居建材</span></p>
			</li>
		</ul>
	</div>
</div>
<div class="bgf0f0f0">
	<div class="w1000">
		<p class="protit">服务流程</p>
		<ul class="clearfix pro-fuwu-list">
			<li style="margin-left: 0px"><i></i><span>了解企业需求，填写岗位<br />说明书</span></li>
			<li><i class="i2"></i><span>企业访谈，实地体验工作<br />环境及工作内容</span></li>
			<li><i class="i3"></i><span>岗位评估，分析薪酬待遇<br />与招聘核心优势</span></li>
			<li style="margin-left: 0px"><i class="i4"></i><span>签订协议，成立项目组，<br />确定招聘方案</span></li>
			<li><i class="i5"></i><span>执行招聘方案，初步筛选、组织参加企业面试、协助办理入职</span></li>
			<li><i class="i6"></i><span>招聘节点反馈，优化完善<br />招聘流程</span></li>
		</ul>
	</div>
</div>
{/include file="footer.html"/}
<script type="text/javascript">
function ajaxLoginCallback() {
    window.location.href = window.location.href; 
}    
</script>
</body>
</html>