<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>投递上限</title>
<style type="text/css">
   .vul{list-style:none;font-size:14px;line-height:30px;}
   .vmsg{color:#E46A4A}
</style>
</head>
<body>
  <div>
     <ul class="vul">
       <li style="padding:26px 26px 26px 26px;">今天投的职位已经够多了，休息下明天再投吧，而且<label class="vmsg">有针对性的投递</label>，比普遍撒网效果要好哦</li>
       <li>
          <div style="text-align:right">
            <button class="btn1" style="height:30px;width:100px;border-radius: 3px;display: inline-block; font-family: "微软雅黑"; font-size: 16px; height: 35px; line-height: 35px; margin: 0 5px; padding: 0 20px;" type="button" id="btnCloseLimitMsg">我知道了</button>
          </div>
       </li>
     </ul>
  </div>
</body>
</html>