<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>

<div class="add-atten">

	<div class="gzSuc">
        <p class="alt"><em class="hbIconMoon">&#xe0fb;</em>关注成功</p>
        <!--  <p class="gzNum">您已关注{count}个搜索项目<a href="{url}">查看我的关注&gt;&gt;</a></p>-->
    </div>
    <div class="setName">
		请将您关注的项目设定一个名称，以便查找和管理
		<input type="hidden" id="attention_id" name="attention_id" value="{/$attention_id/}" />
		<form class="mgt15"><input type="text" class="input-txt" id="attention_name" name="attention_name" value="{/$attention_name/}" />
		<button id="btnAttentYes" type="button" class="button_a button_a_red">确定</button>
		<button id="btnAttentClose" type="button" class="button_a cancelbtn">取消</button></form>
    </div>

</div>


</body>
</html>
