<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>{/$title/}</title>
<!–[if lt IE9]> 
<script src="{/version file='html5.js'/}"></script>   
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="front.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="job.css"/}" />

<script type="text/javascript" language="javascript" src="{/version file="jquery-1.8.3.min.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="common.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="dialog.js"/}"></script>
</head>
<body id="body">
{/include file='header.html'/}
<div class="content" id="content">
	<section class="section">
    	<hgroup>
            <div class="seaBox">
            	<div class="noJob"><i class="hbFntWes">&#xf06a;</i>{/$message/}</div>
            </div>
    	</hgroup>
    </section>
</div>
<div class="footer">{/include file="footer.html"/}</div>
<section class="floatRT"><a href="{/get_url rule='/about/message' domain='main'/}" target="_blank" class="serviceLink">我有问题要反馈</a><b></b></section>
</body>
</html>
