<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>劳务派遣_重庆劳务派遣_汇博劳务派遣</title>

<meta name="keywords" content="劳务派遣，重庆劳务派遣，重庆劳务派遣公司，汇博劳务派遣"/>

<meta name="description" content="汇博劳务派遣，是汇博网旗下的人力资源管理公司，重庆知名劳务派遣公司，为各类单位输送各类普工、临时工、技术工、操作工等专业型人才，企业找劳务派遣人员就找汇博劳务派遣，汇博网值得信赖！"/>

<!–[if lt IE9]>

<script type="text/javascript" src="{/version file='html5.js'/}"></script>

<![endif]–>

<link rel="stylesheet" type="text/css" href="{/version file='base.css,v2-widge.css'/}"/>

<link rel="stylesheet" type="text/css" href="{/version file='front.css'/}"/>

<link rel="stylesheet" type="text/css" href="{/version file='new-headsearch-2015.css'/}"/>

<link rel="stylesheet" type="text/css" href="{/version file="paiqian.css"/}" />

<style>
	.rpo-title-new span,.rpo-title-new b{ display:inline-block; vertical-align:middle; font-family:"微软雅黑"; font-size:36px; color:#333;}
	.rpo-title-new b{ font-weight:normal; font-size:30px; color:#ccc; margin-top:8px;}
</style>

<script type="text/javascript" src="{/version file='version.js'/}"></script>

<script type="text/javascript">

window.CONFIG = {

	HOST: '{/$siteurl.style/}',

	COMBOPATH: '/js/v2/'

}

</script>

<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>

<script type="text/javascript" src="{/version file='global.js'/}"></script>

<script type="text/javascript">

hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');

</script>

</head>

<body>

    {/include file='./lietou/header.html' showSecondMenu=false/}

<div class="rpomenu">

	<div class="w1000">

		<a class="rpo-logo" href="{/get_url rule='/qiye/ent0eys9lb9.html' domain='main'/}">
			<img src="{/$siteurl.style/}/img/paiqian/rpologo_new.jpg" /><span></span></a>

		<ul>

			<li>

				<a href="/paiqian/" class="cur">产品&服务</a>

				<a href="/paiqian/jobs/">最新职位</a>

				<a href="/paiqian/about/">关于我们</a>

				<a href="/paiqian/callus/">联系我们</a>

			</li>

		</ul>

	</div>

</div>

<div class="rpo-main-new">

	<div class="rpo-case-box" id="JS-case">

		<div class="w1000">

			<p class="rpo-title-new" title="劳务产品">
            	<span>劳务产品</span>
                <b>LABOR SERVICE</b>
            </p>

			<div class="rpo-case-item clearfix">

				<a class="case-item case-cur0" href="javascript:void(0)">

					<img class="tips" src="{/$siteurl.style/}/img/paiqian/case-hr.jpg" />

					<span>人事代理</span>

					<u></u>

					<label><img src="{/$siteurl.style/}/img/paiqian/item1.jpg" /></label>

				</a>

				<a class="case-item" href="javascript:void(0)">

					<img class="tips" src="{/$siteurl.style/}/img/paiqian/case-laowu.jpg" />

					<span>劳务派遣</span>

					<u></u>

					<label><img src="{/$siteurl.style/}/img/paiqian/item2.jpg" /></label>

				</a>

				<a class="case-item" style="border: 0" href="javascript:void(0)">

					<img class="tips" src="{/$siteurl.style/}/img/paiqian/case-waibao.jpg" />

					<span>外包服务</span>

					<u></u>

					<label><img src="{/$siteurl.style/}/img/paiqian/item3.jpg" /></label>

				</a>

			</div>

			<div class="rpo-case-content">

				<div class="item-box item-box0" style="display: block">

					<p class="content-tit"><u></u>社会保险代办：</p>

					<span>社保账户建立、社保申报与缴纳，国家社会保险相关政策咨询、网上查询等服务、在服务（合同）年限内补缴养老金申报和缴纳、工伤保险申报和鉴定咨询等法定保险的咨询与服务。</span>

					<p class="content-tit" style="margin-top: 15px"><u></u>住房公积金代办：</p>

					<span>公积金账户建立、公积金费用缴纳、申报、转移等服务。</span>

				</div>

				<div class="item-box item-box1">

					<span>让用工企业从烦琐的人员管理工作中解脱出来，更好地关注在核心业务上。</span>

					<p class="content-tit" style="margin-top: 15px"><u></u>劳务派遣：</p>

					<span>由派遣机构与派遣劳工订立劳动合同，同时派遣机构与用工企业签订劳务输送协议，由派遣机构的劳工向用工企业提供劳务，由用工企业向派遣机构给付劳务费用（包含员工报酬与管理费用等）；劳动合同关系存在于派遣机构与派遣劳工之间。劳务派遣的特征就是劳动力的雇佣和使用分离，并为用工企业合理规避劳动法律风险。劳务派遣是保持灵活用工的一种有效方式，可帮助用工单位实现规范管理、成本控制和人才架构优化等多重目标。</span>

					<p class="content-tit" style="margin-top: 15px"><u></u>传统型派遣：</p>

					<span>通过劳务派遣建立新型劳动关系、转嫁风险、提升效能。我司服务内容涵盖人员招聘、入职培训、入离职管理、员工关系、风险规避、薪资发放、社保/公积金购买、纠纷处理等基础人力资源服务，用工过程中的雇主责任不予承担。</span>

					<p class="content-tit" style="margin-top: 15px"><u></u>风险型派遣：</p>

					<span>除基础的人力资源服务，客户还可结合自身特点将部分或全部用工风险转嫁给我司，例如工伤相关风险、医疗相关风险、经济补偿金/赔偿金、女职工三期风险等。</span>

				</div>

				<div class="item-box item-box2">

					<p class="content-tit"><u></u>仓储物流外包：</p>

					<span>企业为集中资源、节省管理费用，增强核心竞争能力，将自已的货物和产品的包装、整理、配送、装卸、管理等外包给我公司完成。企业通过优化物流供应链管理，降低企业物流成本，提高综合服务质量。</span>

					<p class="content-tit" style="margin-top: 15px"><u></u>业务外包：</p>

					<span>发挥人力资源管理及资源整合优势，承揽商贸行业终端服务或销售环节，提供类似于商贸连锁行业销售、临促、收银、理货、配送等方面的外包服务。</span>

					<p class="content-tit" style="margin-top: 15px"><u></u>产线外包：</p>

					<span>公司的一些非核心的业务或加工方式都交给我们来做，达到降低成本、分散风险、提高效率、增强竞争力的目的。我们通过人员调配、人员训练、工艺流程改善、现场管理、优化分配等手段，引进精益化生产技术，实现作业效率、产品质量的提升，降低废品率、稳定交货周期。</span>

					<p class="content-tit" style="margin-top: 15px"><u></u>岗位外包：</p>

					<span>用工企业将某岗位的所有人力资源工作完全外包给我司服务，如员工的招聘、培训、在职管理、离职管理、离职人员的补充、员工各类突发事件的处理、员工绩效管理等人力资源全流程业务外包给专业的岗位外包服务供应商。通过优化员工素质、提高员工管理效能、明确作业标准； 规避劳动纠纷，维护单位信誉，分散用人风险，机动灵活企业管理效率，提高企业竞争力，降低管理成本。</span>

				</div>

			</div>

		</div>

	</div>

	<div class="rpo-server-box">

		<div class="w1000">

			<p class="rpo-title-new" title="服务行业">
            	<span>服务行业</span>
                <b>SERVES INCLUDE</b>
            </p>

			<div class="rpo-server-item">

				<ul class="clearfix">

					<li>

						<img src="{/$siteurl.style/}/img/paiqian/server-item1.jpg" />

						<span class="name">制造行业</span>

						<span>生产线岗位、技术性岗位、基础管理岗位、后勤岗位</span>

					</li>

					<li>

						<img src="{/$siteurl.style/}/img/paiqian/server-item2.jpg" />

						<span class="name">物流行业</span>

						<span>叉车工、搬运工、理货分拣</span>

					</li>

					<li>

						<img src="{/$siteurl.style/}/img/paiqian/server-item3.jpg" />

						<span class="name">零售行业</span>

						<span>营业员、收银员</span>

					</li>

					<li>

						<img src="{/$siteurl.style/}/img/paiqian/server-item4.jpg" />

						<span class="name">物业管理</span>

						<span>物业客服、保安、保洁</span>

					</li>

					<li style="margin-right: 0">

						<img src="{/$siteurl.style/}/img/paiqian/server-item5.jpg" />

						<span class="name">其他行业</span>

						<span>基础性岗位</span>

					</li>

				</ul>

			</div>

		</div>

	</div>

</div>

{/include file="footer.html"/}

<script type="text/javascript">

	function ajaxLoginCallback() {

		window.location.href = window.location.href;

	}

</script>

<script type="text/javascript">

	hbjs.use(function ($) {

		$("#JS-case").find(".case-item").hover(function(){

			var _self = $(this);

			_self.addClass("case-cur"+_self.index()).siblings().removeClass("case-cur0").removeClass("case-cur1").removeClass("case-cur2");

			_self.closest("#JS-case").find(".rpo-case-content").find(".item-box").eq(_self.index()).show().siblings().hide();

			return false;

		});

	})

</script>

<style>

	

</style>

</body>

</html>

