<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="Content-Language" content="zh-CN" />
<title>汇博人才市场入场快速验证-同扫码</title>
<link rel="stylesheet" type="text/css" href="{/version file='fairreg.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='icons.css'/}" />

    <link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file="v2-reset.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file="v2-resume.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file="v2-header.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file="v2-widge.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file="front.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file="job.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file="jobnew.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file="mainPhoto.css"/}" />
    <link rel="stylesheet" type="text/css" href="{/version file='leaveinfo.css'/}" />
<script type="text/javascript" language="javascript" src="{/version file='html5.js'/}"></script>
<!-- [endif] -->

<!--公共-->
<script type="text/javascript" src="{/version file='version.js'/}"></script>
<script type="text/javascript">
    window.CONFIG = {
        HOST: '{/$siteurl.style/}',
        COMBOPATH: '/js/v2/'
    }
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
<script type="text/javascript" src="{/version file='global.js'/}"></script>
<script type="text/javascript">
    hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
</script>
    <style type="text/css">
        .hb_ui_prt .ui_dialog_container{ font-size: 30px; font-family: 微软雅黑;}
        .hb_ui_prt i{ padding:10px 7px 12px 0}
    </style>
</head>
<body>

<input type="hidden" id="act" value="checkuser">
<div class="content">
	<div class="sdBox">
    	<div class="logForm">
        	<h2>请输入手机号快速入场！</h2>
			<em  style="margin-top: -10px;display: block;padding-bottom: 10px;color:red">(在求职者微信扫码入场异常的情况下使用)</em>
        	<div class="formMod">
                <div class="l">手机号码<i>*</i></div>
                <div class="r"><span class="formText jobCat zindex"><input value="" type="text" class="text" style="width:235px;" id="mobile_phone" name="mobile_phone"></span><span class="verJudgePass" style="display:none"></span></div>
                <div class="clear"></div>

            </div>
            <div class="formBtn"><a href="javascript:" id="btnSubmit" class="btn1 btnsF16">入场</a></div>
        </div>
    </div>
</div>

<script>

    hbjs.use('@hbCommon, @jobDialog, @validator, @confirmBox', function(m) {
        var $ = m['product.hbCommon'].extend(m['cqjob.jobDialog']);
        var ConfrimBox = m['widge.overlay.confirmBox'];
//        var e = '可以入场了，欢迎你';
//        ConfrimBox.timeBomb(e, {
//            width : (e.length)*40,
//            name : 'success',
//            timeout: 300000
//        });
        $('#btnSubmit').click(function(){
            var phone = $('#mobile_phone').val();
            if(!phone){
                $.message('请输入手机号');
                return false;
            }
            var preg = /^1[0-9]{10}$/;
            if(!preg.test(phone)){
                $.message('手机号格式不正确');
                return false;
            }
            $.post('/fairadmission/Admission',{phone:phone},function(e){
                if(e.status){
                    //$.anchorMsg(e.msg);
                    ConfrimBox.timeBomb(e.msg, {
                        width : (e.msg.length)*40,
                        name : 'success',
                        timeout: 3000
                    });
                    setTimeout(function(){$('#mobile_phone').val(''); $('#mobile_phone')[0].focus();},1000);
                }else{
                    $.message(e.msg,{ icon: 'warning' });
                }
            },'json');
        });
        var is_mobile_phone_keyup_do = true;
        $('#mobile_phone')[0].focus();
        $('#mobile_phone').bind('keyup', function(event) {
//            if(is_mobile_phone_keyup_do)
//                is_mobile_phone_keyup_do = false;
//            else
//                return false;
            if (event.keyCode == "13") {
                //回车执行查询
                $('#btnSubmit').click();
               return false;
            }
        });


//        function xx(e){
//            var event = e || window.event;
//            if (event.keyCode == "13") {
//                if(!is_mobile_phone_keyup_do){
//                    if($('#_mask')){
//                        $('#_mask').hide();
//                        setTimeout(function(){
//                            is_mobile_phone_keyup_do = true;
//                        },100);//延迟1.5秒后才可以再提提交，同时防止多次错误弹窗
//                    }
//                    if($('#_dialog_tooltip2')){
//                        $('#_dialog_tooltip2').hide();
//
//                    }
//                }
//                $('#mobile_phone')[0].focus();
//            }
//        }
//        document.onkeypress=xx;

//        $('body').bind('keyup', function(event) {
//
//            if (event.keyCode == "13") {
//                if($('#_mask')){
//                    $('#_mask').hide();
//                }
//                if($('#_dialog_tooltip2')){
//                    $('#_dialog_tooltip2').hide();
//                }
//                $('#mobile_phone')[0].focus();
//
//            }
//
//        });


        if ((navigator.userAgent.indexOf('MSIE') >= 0) && (navigator.userAgent.indexOf('Opera') < 0)){
            $('body').keydown(function(event){
                if (event.keyCode == "13") {
                    if($('#_mask')){
                        $('#_mask').hide();
                        $('.dialogSel').hide();
                        $('.dialogMask').hide();
                    }
                    if($('#_dialog_tooltip2')){
                        $('#_dialog_tooltip2').hide();
                    }

                    setTimeout(function(){
                        $('#mobile_phone')[0].focus();
                    },3000);

                }
            });
        }else{
            $('body').keyup( function(event) {
                if (event.keyCode == "13") {
                    if($('#_mask')){
                        $('#_mask').hide();
                        $('.dialogSel').hide();
                        $('.dialogMask').hide();
                    }
                    if($('#_dialog_tooltip2')){
                        $('#_dialog_tooltip2').hide();
                    }
                    $('#mobile_phone')[0].focus();

                }
            });

        }


    });


</script>

</body>
</html>
