<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="招聘会企业报名,重庆人才市场,重庆人才招聘会,重庆招聘会信息,招聘会在线报名,汇博人才市场" />
<meta name="Description" content="每周二四六汇博人才市场在重庆龙头寺举办大型重庆招聘会，企业获悉最新重庆招聘会信息请上汇博网，为您提供最新{/date('Y',time())/}重庆招聘会信息，招聘会在线报名请上汇博人才市场" />
<title>{/$title/}</title>
<!–[if lt IE9]> 
<script src="{/version file='html5.js'/}"></script>  
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="front.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="fairNew.css"/}" />

<script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='common.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='dialog.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file="ui_dropdownlist.js"/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='jquery.form.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='ui_validate.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='ui_inputFocus.js'/}"></script>
    <script type="text/javascript">
        window.CONFIG = {
            HOST: '{/$siteurl.style/}',
            COMBOPATH: '/js/v2/'
        }
    </script>
    <script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
    <script type="text/javascript" src="{/version file="global.js"/}"></script>
    <script type="text/javascript">
            hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
    </script>
<!--[if (gte IE 6)&(lte IE 8)]>
	<script type="text/javascript">
		$(document).ready(function(){
            $('#slidesLst').find('a:nth-child(4n+1)').css({'margin-left':'0'});
            $('#slidesLst').find('a:nth-child(4n+4)').css({'margin-right':'0'});
        });
	</script>
<![endif]-->
<style>
 .jobFairBner{width:auto;font-family:"微软雅黑"; height:200px; background:url({/$siteurl.style/}/img/fair/new_fair/jobFairBner.jpg) center top no-repeat;}
 .jobFairMag{width:1000px; overflow:hidden;margin:0 auto;}
 .jobFairMag h2{ display:block; text-align:left; float:left; font-size:20px; color:#b62a2a; padding-top:120px; padding-left:0;}
 .jobFairMag div{width:490px; text-align:right; float:right; padding-top:50px;}
 .jobFairMag div b,.jobFairMag div p{ color:#333; font-size:16px; display:block;width:490px; overflow:hidden; }
 .jobFairMag div b{ color:#333; font-size:21px; padding-bottom:8px;}
 .jobFairMag div p span{ font-weight:bold; }
</style>
</head>
<body>
{/include file="new_headsearch_2015.html"/}
{/include file="./fair/fairhead.html"/}
<div class="conPart">
	<div class="part adPart comPart">
    	<h2><b></b>为什么选择汇博人才市场？</h2>
        <div class="advLst">
            <dl class="lst1">
                <dt></dt>
                <dd>
                    <h4>预约人才、针对性极强</h4>
                    <p>依托汇博网{/$config->ShowResumeNum/}的人才库强大优势根据企业招聘位进行定向预约，人才与企业匹配度高，针对性极强。</p>
                </dd>
            </dl>
            <dl class="lst2">
                <dt></dt>
                <dd>
                    <h4>专场招聘，特色服务</h4>
                    <p>与重庆外商投资促进中心、重庆市卫生人才交流中心等权威机构及中国汽车人才网、建筑英人才网等专业网站战略合作，打造行业招聘盛宴。</p>
                </dd>
            </dl>
            <dl class="lst3">
                <dt></dt>
                <dd>
                    <h4>职位提前看</h4>
                    <p>求职者可在招聘会前一天查询参会企业发布的招聘会职位，不再盲目的参加招聘会。</p>
                </dd>
            </dl>
            <dl class="lst4">
                <dt></dt>
                <dd>
                    <h4>交通便利，通达全城</h4>
                    <p>3号轻轨线狮子坪下车即到，{/$config->HuiBoFairTrafficLine/}条公交线路到达，距龙头寺长途汽车站、重庆北站咫尺之遥，通达全城。</p>
                </dd>
            </dl>
            <dl class="lst5">
                <dt></dt>
                <dd>
                    <h4>主流媒体，强势宣传</h4>
                    <p>电视台、移动电视、晨报、时报、商报、都市热报、大渝网、华龙网等8类主流媒体强势宣传。</p>
                </dd>
            </dl>
            <dl class="lst6">
                <dt></dt>
                <dd>
                    <h4>超大规模，超旺人气</h4>
                    <p>常设{/$config->HuiBoFairShowRoom/}标准展位 每周参会企业{/$config->HuiBoFairCompanyNumWeek/}家以上、提供{/$config->HuiBoFairJobNumWeek/}岗位，{/$config->HuiBoFairPersonNumWeek/}以上求职者。</p>
                </dd>
            </dl>
            <div class="clear"></div>
        </div>
    </div>
    <div class="part">
    	<div class="guid">
        	<ul>
            	<li>1、在线订展<em>（在线订展或电话订展）</em><i></i></li>
                <li>2、提交海报资料<em>（企业简介、招聘信息）</em><i></i></li>
                <li>3、参会<em>（8：30入场签到并领取相应物品）</em></li>
                <div class="clear"></div>
            </ul>
        </div>
        <h2><b></b>在线订展</h2>
        <form id="formFairApply" method="post" action='{/get_url rule="/zhaopinhui/fairapplydo"/}'>
        <div class="form">
        	<div class="formMod">
            	<div class="l">请选择招聘会场次</div>
                <div class="r">
                	<span id="tstDropscene" class="drop zindex"></span>
                    <span class="tipPos">
			    		<span class="tipLay">
			         	</span>
			    	</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formMod">
            	<div class="l">企业名称<i>*</i></div>
                <div class="r">
                    <span class="formText">
                    	<input name="txtCompanyName" value="{/if !empty($current_company)/}{/$current_company.company_name/}{//if/}" type="text" style="width:280px;" class="text" />
                    </span>
                    <span class="tipPos">
			   			<span class="tipLay">
			       		</span>
			    	</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formMod">
            	<div class="l">联系人<i>*</i></div>
                <div class="r">
                    <span class="formText">
                    	<input name="txtLinkMan" value="{/if !empty($current_company)/}{/$current_company.linkman/}{//if/}" type="text" style="width:280px;" class="text" />
                    </span>
                    <span class="tipPos">
			    		<span class="tipLay">
			       		</span>
			    	</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formMod">
            	<div class="l">联系电话<i>*</i></div>
                <div class="r">
                    <span class="formText">
                    	<input name="txtLinkTel" value="{/if !empty($current_company)/}{/$current_company.link_tel/}{//if/}" type="text" style="width:280px;" class="text" />
                    </span>
                    <span class="tipPos">
			      		<span class="tipLay">
			        	</span>
			    	</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formMod">
                <div class="l">招聘信息上传</div>
                <div class="r">
                      <span class="tipTxt formFile" style="width:755px;height:35px; margin-left:0;">
                         <a class="btn3 btnsF12" style="margin:0;" href="#">添加文件</a>
                         <input class="file" type="file"/>
                      </span>
                    <span class="tipTxt gray" style="margin-left:0;">仅支持.doc,.docx,.txt格式，大小不超过500kb</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formMod">
                <div class="l">备注信息</div>
                <div class="r">
                    <span class="formTextarea">
                        <textarea name="textMark" class="textarea"></textarea>
                    </span>
                    <span class="tipPos">
						<span class="tipLay">
				   		</span>
					</span>
                </div>
                <div class="clear"></div>
            </div> 
            <div class="formBtn"><a id="btnSubmitData" href="javascript:void(0);" class="btnsF16 btn1">提交</a><span class="tipTxt">电话咨询或订展请拨打{/$config->CqjobFairsPhone/}</span></div> 
        </div>
        </form>
    </div>
    <div class="part billPart">
    	<h2><b></b>我要提交海报资料</h2>
        <div class="billL">
        	<div class="billWay">
            	<p><b>方法1：</b><i>通过邮箱发送至</i><em>{/$config->HuiBoFairEmail/}</em></p>
                <p><b>方法2：</b><i>通过QQ在线发送</i><a target="_blank" href="//wpa.qq.com/msgrd?v=3&uin={/$config->HuiboFairsQQ/}&site=qq&menu=yes"><img border="0" src="//wpa.qq.com/pa?p=2:{/$config->HuiboFairsQQ/}:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
            </div>
            <div class="billTip">
            	<p>1.提交海报资料时，请注意控制内容长度（企业海报正文区域最多可显示<span class="orange"><b>32</b>行</span>，每行<span class="orange"><b>36</b>字</span>，总共<span class="orange"><b>1000</b>个字</span>，包含空格及标点符号，标点符号为中文标点的逗号、顿号、句号及感叹号）；</p>
                <p>2.海报内容中不能存在繁体字或一些不规范的符号，请使用<span class="orange">简体字</span>或<span class="orange">英文</span>进行提交；</p>
                <p>3.海报资料提交的内容包括<span class="orange">企业名称</span>（海报上显示的名称）、<span class="orange">企业简介</span>、<span class="orange">招聘职位</span>及<span class="orange">职位要求</span>。</p>
                <p>4.海报资料请自行核对，确认无误后再进行提交。</p>
            </div>
        </div>
        <div class="billR" id="fairArea">
        	<ul>
            	<li><a href="javascript:void(0);"><img src="{/base_lib_Constant::UPLOAD_FILE_URL/}img/fair/posters1.jpg" /><p>范例一</p></a></li>
                <li><a href="javascript:void(0);"><img src="{/base_lib_Constant::UPLOAD_FILE_URL/}img/fair/posters2.jpg" /><p>范例一</p></a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="part">
    	<h2><b></b>参会须知</h2>
        <div class="comWarn">
        	<dl class="lst1">
            	<dt></dt>
                <dd>
                	<p class="tit">招聘会地点</p>
                    <p>重庆市两江新区龙头寺华宇地产5号楼（龙头寺火车站广场正对面/天宫殿站附近/北城中央站附近，乘坐轻轨3号线，在狮子坪车站下站即到。）</p>
                </dd>
            </dl>
            <dl class="lst2">
            	<dt></dt>
                <dd>
                	<p class="tit">提交参会资料</p>
                    <p>提交企业简介、招聘职位信息、营业执照、委托书等。</p>
                </dd>
            </dl>
            <dl class="lst3">
            	<dt></dt>
                <dd>
                	<p class="tit">携带参会物品</p>
                    <p>禁止携带易拉宝、X展架、音响等物品；招聘资料请放在桌面上供求职者取阅，禁止在会场内派发，汇博拒绝一切与招聘无直接相关的行为。</p>
                </dd>
            </dl>
            <dl class="lst4">
            	<dt></dt>
                <dd>
                	<p class="tit">参会进场时间</p>
                    <p>夏季上午8：30-12：00，冬季上午9：00-12：00。若10：00后未入场的招聘企业，汇博有权取消为其预留的展位。</p>
                </dd>
            </dl>
            <dl class="lst5">
            	<dt></dt>
                <dd>
                	<p class="tit">诚信合法招聘</p>
                    <p>不违规违法以任何名义任何形式向求职者收费；不提供虚假用人信息和参会信息。若有发生，汇博有权拒绝提供服务。</p>
                </dd>
            </dl>
            <dl class="lst6">
            	<dt></dt>
                <dd>
                	<p class="tit">企业参会海报</p>
                    <p>汇博免费为企业提供海报1张；也可自带海报，规格为1M*1.2M，如不符，将不予以张贴。</p>
                </dd>
            </dl>
            <dl class="lst7">
            	<dt></dt>
                <dd>
                	<p class="tit">物品妥善保管，注意安全，文明招聘。</p>
                </dd>
            </dl>
            <div class="clear"></div>
        </div>
    </div>
</div>
<img src="" style="z-index:1001;display:none" id="fairAreaImg" />
<div class="fairAreaMask" id="fairAreaMask"></div>
{/include file="footer.html"/}
<section class="qqTalk">
	<a target="_blank" href="//wpa.qq.com/msgrd?v=3&uin={/$config->HuiboFairsQQ/}&site=qq&menu=yes"><img border="0" src="//wpa.qq.com/pa?p=2:{/$config->HuiboFairsQQ/}:53" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
</section>
<script type="text/javascript" language="javascript">
var formValid;
var enterprise={
    fairApply:'{/if !base_lib_BaseUtils::nullOrEmpty($fair_apply) && $fair_apply/}true{/else/}false{//if/}',
    init:function(){
		$('#tstDropscene').droplist({{/if base_lib_BaseUtils::nullOrEmpty($select_scene_id)/}defaultTitle:'请选择'{/else/}selectValue:{/$select_scene_id/}{//if/},noSelectClass:'gray',width:165,inputWidth:632,style:'width:640px;',hddName:'hddthesceneid',items:{/$scene_json/},onSelect:function(i,name) {
		}});
        enterprise.showImage();
        if(enterprise.fairApply=='true'){
            $('html').animate({scrollTop: 750}, 500);
        }
        formValid = $("#formFairApply").validate({
        	rules:{
        		hddthesceneid:{required:true},
        		txtCompanyName:{required:true},
        	    txtLinkMan:{required:true},
        	    txtLinkTel:{required:true,tel: true},
        	    textMark:{maxlength: 256}
        	},
        	messages:{
              	hddthesceneid:{required:'请选择场次<span class="tipArr"></span>'},
           		txtCompanyName:{required:'请输入公司名称<span class="tipArr"></span>'},
             	txtLinkMan:{required:'请输入联系人姓名<span class="tipArr"></span>'},
              	txtLinkTel:{required:'请输入联系电话 <span class="tipArr"></span>',tel:'电话号码格式不正确<span class="tipArr"></span>'},
             	textMark:{maxlength: '备注信息不能超过256个字符<span class="tipArr"></span>'}
        	},
          		errorElement: "span",
          		errorClasses: {
            	hddthesceneid: { required: 'tipLayErr tipw180'},
            	txtCompanyName: { required: 'tipLayErr tipw180'},
            	txtLinkMan: { required: 'tipLayErr tipw180'},
            	txtLinkTel: { required:'tipLayErr tipw180',tel:'tipLayErr tipw180'},
            	textMark:{maxlength:'tipLayErr tipw180'}
            },
            errorPlacement: function(error, element) {
        		element.parent().nextAll().find('.tipLay').append(error);
            },
            success: function(label) {
            	label.text(" ");
            }
        });
        $('#btnSubmitData').click(function()
    	{
    		var data = { operate: 'addFairApply' };
      		$('#btnSubmitData').submitForm({ beforeSubmit: $.proxy(formValid.form,formValid),data:data, success: enterprise.applySuccess, clearForm: false });
         	return false;
    	});
        $.setIndex('zindex');
    },
    applySuccess:function(json){
    	if (json && json.error){
			$.message(json.error, { title: "系统提示", icon: "fail" });
			return;
		}
		if (json && json.info){
			$.message(json.info, { title: "系统提示", icon: "info" });
			return;
		}
		if (json && json.success) {
          	//成功
       		$.anchorMsg(json.success, { onclose: function() {
         	}
         	});
	    }
    },
    _ImitationValue: function(obj) {
       $('#spanShowAtt').html($(obj).val());
    },
    showImage:function(){
        $('#fairArea ul li a').click(function(){
            var clientHeight=$('#fairAreaImg').height();
            var clientWidth=$('#fairAreaImg').width();
		    var dcHeight = $(document).height();
		    var dcWidth = $(document).width();
		    var magin_top=0; 
		    if (document.documentElement.scrollTop >170) {
                magin_top = (window.screen.availHeight - clientHeight) / 2 + document.documentElement.scrollTop + document.body.scrollTop - 67 + "px";
            } else {
                magin_top = (window.screen.availHeight - clientHeight) / 2 + document.documentElement.scrollTop + document.body.scrollTop + "px";
            }
		    var magin_left = (document.body.clientWidth - clientWidth) / 2 + "px";
		    var newImgSrc =$(this).find('img').attr('src');
		    $('#fairAreaMask').css({height:dcHeight,width:dcWidth}).fadeIn('500').click(function(){
			    $('#fairAreaImg').fadeOut('500');
			    $('#fairAreaMask').fadeOut('500');
		    });
		    $('#fairAreaImg').css({ top: magin_top, left: magin_left,position:'absolute'});
		    $('#fairAreaImg').fadeIn('500');
		    $('#fairAreaImg').attr({src:newImgSrc}).click(function(){
			    $('#fairAreaImg').fadeOut('500');
			    $('#fairAreaMask').fadeOut('500');
		    });
	    });
    }
}
enterprise.init();
$(document).ready(function(){
    enterprise.showImage();
});
</script>
</body>
</html>
