<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<meta http-equiv="expires" content="0">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="{/$config->EmailFromName/}，重庆{/if !empty($current_scene['Showdate'])/}{/date('m月d日', strtotime($current_scene['Showdate']))/}{/else/}{/date('m月d日', strtotime($current_scene['date']))/}{//if/}招聘会,重庆{/if !empty($current_scene['Showdate'])/}{/date('m', strtotime($current_scene['Showdate']))/}{/else/}{/date('m', strtotime($current_scene['date']))/}{//if/}月招聘会,重庆龙头寺招聘会" />
<meta name="Description" content="重庆市龙头寺招聘会{/if !empty($current_scene['Showdate'])/}{/date('m月d日', strtotime($current_scene['Showdate']))/}{/else/}{/date('m月d日', strtotime($current_scene['date']))/}{//if/}500家企业现场招聘，找人才,六千工作岗位,咨询电话{/$config->CqjobFairsPhone/}求职者可登录{/$config->SiteTitle/}免费领取门票。" />
<title>{/$title/}</title>
<!–[if lt IE9]> 
<script src="{/version file='html5.js'/}"></script>  
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="front.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="fairNew.css"/}" />



<script type="text/javascript" language="javascript" src="{/version file="jquery-1.8.3.min.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="dialog.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="common.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="ui_inputFocus.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="ui_validate.js"/}"></script><!--验证-->
<script type="text/javascript" language="javascript" src="{/version file="jquery.form.js"/}"></script><!--表单提交-->
<script type="text/javascript" language="javascript" src="{/version file="ui_flexslider.js"/}"></script><!--左右滚动-->
<script type="text/javascript" language="javascript" src="{/version file="ui_inputFocus.js"/}"></script>
<script type="text/javascript">
	window.CONFIG = {
		HOST: '{/$siteurl.style/}',
		COMBOPATH: '/js/v2/'
	}
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file="global.js"/}"></script>
<script type="text/javascript">
		hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
</script>

<!--[if (gte IE 6)&(lte IE 8)]>
	<script type="text/javascript">
		$(document).ready(function(){
            $('#jobLst').find('li:nth-child(2n+2)').css({'margin-right':'0'});
        });
	</script>
<![endif]-->
<script type="text/javascript">
document.oncontextmenu = function(){return false;}
document.onselectstart = function(){return false;}
document.ondragstart = function(){return false;}
</script>
<style type="text/css">
body{
	-moz-user-select:none;
}
body{
	-moz-user-select:none;
}
.alBanner .bannerBox{ padding-top:10px;}
.topPart .alBanner{ padding-bottom: 10px; height:auto;
overflow: hidden; background:url({/$siteurl.style/}/img/fair/new_fair/jobFicon08.jpg) center top;}
h2 b{top:13px;}
.bannerBox h2{ font-size:36px; color:#009ba1;}
.bannerBox h1{ font-size:19px; color:#cc2929;font-weight:bold;}
.bannerBox h3{font-size:16px;color:#cc2929;}
.bannerBox p.add{ margin-top:0px;font-family: "微软雅黑"}
.bannerBox p{ font-size:16px; color:#333;font-family: "微软雅黑"}
.navFair{ background:#15bcc2;}
.navFair ul.navBox li.cu{background: url({/$siteurl.style/}/img/fair/new_fair/jobFairBner3.png);}
.navFair ul.navBox li a:hover{ color:#fff;}
.fairJobx{width:100%; overflow:hidden; margin-bottom:20px;}
.fairJobx img{ display:block; border:1px solid #e0e0e0; float:left;}
.fairJobx div{width:695px; float:left; overflow:hidden;margin-left:10px;}
.fairJobx div p{ float:22px; color:#333; font-size:14px;}
.waterfall_main .wf_box div{ position:relative;}
.waterfall_main .wf_box div span{ color:#f36861; font-weight:bold;font-family: "微软雅黑";padding-left:8px}
.waterfall_main .wf_box div a.comNameBtn{ display:inline-block;width:80px; height:26px; background:#14adb3; color:#fff; text-align:center; line-height:26px; border-radius:4px; position:absolute; right:0; top:0;#top:-4px;}
.waterfall_main .wf_box div a.comNameBtn:hover{ background:#129ea3;}

.flexslider{width:938px; height:120px;position:relative; overflow:hidden;}
.flexslider .flex-viewport{width:100%;}
.flexslider .slides{width:20000px; overflow:hidden;}
.flexslider .slides li{width:185px; float:left; margin-right:5px;}
.flexslider .slides img{display:block;width:170px;border:1px solid #e1e1e1;}
.flexslider ul.slides li img{ height:70px;}
.flex-control-nav {width:938px;position: absolute; bottom:20px; text-align:center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #fff; border:1px solid #15bcc2; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #15bcc2; }
.flex-control-paging li a.flex-active { background: #15bcc2;cursor: default; }
</style>
</head>
<body>
{/include file="new_headsearch_2015.html"/}
<div class="topPart">
	<div class="banner alBanner">
            <div class="bannerBox">
                    <h2>{/if $change_scene_id ==1211/}3月30日（星期六 08:30-12:00）{/else/}{/$current_scene['the_date']/}（{/$current_scene['the_weekday']/} {/date('H:i',strtotime($current_scene['begin_time']))/}-{/date('H:i',strtotime($current_scene['end_time']))/}）{//if/}</h2>
                <h1>{/$current_scene['subject']/}</h1>
                <h3 {/if base_lib_BaseUtils::nullOrEmpty($current_scene['describe'])/}style="display: none;"{//if/}>{/$current_scene['describe']/}</h3>
				<p class="add">{/if $current_scene['send_area']/}地点：{/$current_scene['send_area']/}{/else/}地点：重庆.两江新区龙头寺. 狮子坪轻轨站旁.汇博人才市场（3号线狮子坪站、10号线龙头寺公园站）{//if/}</p>
				{/if $current_scene['send_traffic']/}
				<p class="add">交通路线：{/$current_scene['send_traffic']/}</p>
				{//if/}
                <p>
                    <span class="tel">咨询订展热线：{/if $current_scene['send_phone']/}{/$current_scene['send_phone_one']/} {/$current_scene['send_phone_two']/}{/else/}{/$config->CqjobFairsPhone/}{//if/}</span>
                    <span class="onLine"><b>在线咨询：</b><a target="_blank" href="//wpa.qq.com/msgrd?v=3&uin={/$config->HuiboFairsQQ/}&site=qq&menu=yes"><img border="0" src="//wpa.qq.com/pa?p=2:{/$config->HuiboFairsQQ/}:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></span>
                </p>
            </div>
        </div>
    <div class="navFair" >
    	<ul class="navBox">
        	<li class="cu"><a href="{/rewrite type="fair"/}">招聘会</a></li>
            <li><a href="{/get_url rule="/zhaopinhui/enterprise"/}">我是企业</a></li>
            <li><a href="{/get_url rule="/zhaopinhui/fairlist"/}">招聘会排期</a></li>
            <li><a href="{/get_url rule="/zhaopinhui/traffic"/}">交通指南</a></li>
            <li><a href="{/get_url rule="/zhaopinhui/medialist/"/}">媒体报道</a></li>
            <li><a href="{/get_url rule="/zhaopinhui/historylist/"/}">招聘会回顾</a></li>
        </ul>
    </div>
</div>
<div class="conPart">
	<div class="part fairJob">
            {/if !empty($current_scene.topic_img_url)/}
	            	{/if $current_scene.describe_show_type==2/}
	            	    <!--纯图片--> 
	            	    <h2><b></b>招聘会介绍</h2>
			            <div class="fairJobx">
			                   <img src="{/$ad_path/}{/$current_scene.topic_img_url/}" width="100%" height="250" />
			            </div>
			        {/elseif $current_scene.describe_show_type==3/}
			             <!--左图右文--> 
			             <h2><b></b>招聘会介绍</h2>
			             <div class="fairJobx">
			                   {/if !empty($current_scene.topic_img_url)/}
			                   <img src="{/$ad_path/}{/$current_scene.topic_img_url/}" width="240" height="196" style="margin-right:20px" />
			                   {//if/}
			                <div style="font-size: 14px;line-height: 26px;margin-left: 0;overflow:visible;text-indent: 28px;width:auto;float:none">
			                    {/html_encode content=$current_scene.scene_introduction/}
			                </div>
			            </div>
			        {/elseif $current_scene.describe_show_type==4/}
			             <!--上图下文--> 
			             <h2><b></b>招聘会介绍</h2>
			             <div class="fairJobx">
			                   {/if !empty($current_scene.topic_img_url)/}
			                   <img src="{/$ad_path/}{/$current_scene.topic_img_url/}" width="100%" height="70" />
			                   {//if/}
			                <div style="font-size: 14px;line-height: 26px;margin-left: 0;text-indent: 28px;width:auto;margin-top:10px">
			                    {/html_encode content=$current_scene.scene_introduction/}
			                </div>
			            </div>
			        {/else/}
				          <!--纯文字-->
				           {/if !empty($current_scene['scene_introduction'])/}
	                          <h2><b></b>招聘会介绍</h2>
					          <div class="fairJobx">
					                <div style="width:auto;color: #666;float: left;font-size: 14px;line-height: 26px; margin-left: 10px;overflow: hidden;text-indent: 28px;">
					                    {/html_encode content=$current_scene.scene_introduction/}
					                </div>
					          </div>
				          {//if/}
			        {//if/} 
		    {/else/}
		             <!--纯文字-->
			        {/if !empty($current_scene['scene_introduction'])/}
			            <h2><b></b>招聘会介绍</h2>
				        <div style="width:auto;color: #666;float: left;font-size: 14px;line-height: 26px; margin-left: 10px;overflow: hidden;text-indent: 28px;">
		                    {/html_encode content=$current_scene.scene_introduction/}
		                </div>
	                {//if/}
            {//if/}
            
            {/if !empty($recommendcomleft)/}
            <h2><b></b>推荐企业</h2>
            <div class="flexslider carousel">
              <ul class="slides">
                {/foreach $recommendcomleft as $item=>$value/}
                       <li>
                        <a title="{/$value.company_name/}" href='{/rewrite type="fairSceneCompany" date="{/date("Ymd", strtotime($current_scene["date"]))/}{/$current_scene.scene_id/}" company_flag="{/$value.fair_service_scene_id/}"/}' target="_blank"><img src="{/$logo_path/}{/$value.company_logo_path/}" /></a>
                       </li>
                
                {//foreach/}
              </ul>
            </div>
            {//if/}
    	<div class="fairJobT">
        	<span class="tipTxt" {/if $change_scene_id ==1156/}style="display:none"{//if/}>已有<em>{/$company_count/}</em>家企业参会，正陆续增加中...</span>
        	<form target="_blank" method="get" id="formSceneJobSearch" action='{/rewrite type="fairSceneJobSearch" date="{/date("Ymd", strtotime($current_scene.date))/}{/$current_scene.scene_id/}"/}'>
            <div class="jobSearch"><span class="tit" style="margin-left: 25px;margin-right: 0px">您正在找寻什么岗位？</span>
            	<span class="formText">
            		<input class="text watermark" watermark="输入企业/岗位关键字" type="text" id="jobName" name="jobName"><a onclick="$('#formSceneJobSearch').submit();"  id="btnSearch" name="btnSearch" href="javascript:void(0);">搜索</a>
           		</span>
            </div>
            </form>
            <div class="clear"></div>
        </div>
        <div class="jobBox" id="jobBox">
            <div class="jobBoxT">
                <div class="jobLstTab">
                    {/if !empty($fair_calling) && count($fair_calling) > 0/}
             		{/foreach $fair_calling as $item=>$value/}
             			<a href='{/rewrite type="fairScene" date="{/date("Ymd", strtotime($current_scene.date))/}{/$current_scene.scene_id/}" cal="{/$item/}"/}' class="{/if $select_calling == $item/}cu{//if/}" theval="{/$item/}">{/$value['calling']/}</a>
             		{//foreach/}
             		{//if/}
             		<a href='{/rewrite type="fairScene" date="{/date("Ymd", strtotime($current_scene.date))/}{/$current_scene.scene_id/}" cal="193"/}' class="{/if $select_calling == 193/}cu{//if/}" theval="193">应届生</a>
                </div>
                <div class="clear"></div></div>
            <div class="jobBoxC" id="jobBoxC">
     			<div id="waterfall_main" class="waterfall_main">
             		{/if !empty($companys) && count($companys)>0/}
                 		{/foreach $companys as $item=>$value/}
                    	<div class="wf_box wf_element">
                       		<div><a href='{/rewrite type="fairSceneCompany" date="{/date("Ymd", strtotime($current_scene["date"]))/}{/$current_scene.scene_id/}" company_flag="{/$value.fair_service_scene_id/}"/}' target="_blank" class="comName">{/$value.company_name/}</a><i class="pag" style="display:none">{/$value.mark/}</i><span {/if empty($value.booth_ids)/}style="display:none"{//if/}>-展位号：{/$value.booth_ids/}</span><a {/if count($value.jobs)<=0/}style="display:none"{//if/} href='{/rewrite type="fairSceneCompany" date="{/date("Ymd", strtotime($current_scene["date"]))/}" company_flag="{/$value.fair_service_scene_id/}"/}' class="comNameBtn">预约参会</a></div>
                        	<p>
                            	{/if !empty($value.jobs) && count($value.jobs)>0/}
                         		{/foreach $value.jobs as $it=>$val/}
                         			{/if $it < 20/}
                         				<a style="margin-right: 10px;text-decoration: none;" href='{/rewrite type="fairSceneCompany" date="{/date("Ymd", strtotime($current_scene["date"]))/}{/$current_scene.scene_id/}" company_flag="{/$value.fair_service_scene_id/}"/}#{/$val.job_id/}' target="_blank">
                         				  {/$val.station/}{/if $val['is_grad']==1/}<img src="{/$siteurl.style/}/img/fair/yjs.png" style="vertical-align: -2px;" />
                         				  {//if/}
                         				</a>
                         			{/else/}
                         				<a class="more" href='{/rewrite type="fairSceneCompany" date="{/date("Ymd", strtotime($current_scene["date"]))/}{/$current_scene.scene_id/}" company_flag="{/$value.fair_service_scene_id/}"/}' target="_blank">更多&gt;&gt;</a>
                         			{//if/}
                                {//foreach/}
                				{//if/}
                            </p>
                 		</div>
              			{//foreach/}
               		{//if/}
             	</div>
            </div>
        </div>
    </div>
</div>
{/include file="footer.html"/}
<section class="qqTalk">
	<a target="_blank" href="//wpa.qq.com/msgrd?v=3&uin={/$config->HuiboFairsQQ/}&site=qq&menu=yes"><img border="0" src="//wpa.qq.com/pa?p=2:{/$config->HuiboFairsQQ/}:53" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
</section>
<script type="text/javascript" language="javascript">
(function(){
	
	var filter = {
		expr: function(o){
			var cls = this.replace(o.item || ".wf_element"),
			leftCls = this.replace(o.leftItem || ".wf_temp"),
			rightCls = this.replace(o.rightItem || ".wf_rank");
			$.extend($.expr[':'],{
				node:function(a){
					return $(a).hasClass(cls);
				},
				leftNode: function(a){
					return $(a).hasClass(leftCls);
				},
				rightNode: function(a){
					return $(a).hasClass(rightCls);
				}
			});
		},
		replace: function(cls){
			var regExp = /[.#]/g,
			whitespace = /\s/g;
			if(whitespace.test(cls)){
				cls = cls.split(' ')[0];
			}
			return cls.replace(regExp, '');
		}
	}
	function Waterfall(o){
		this.target = o.target || $('#waterfall_main');
		this.targetItem = o.targetItem || '.wf_box';
		this.colWidth = o.colWidth || 0;
		this.colCount = o.colCount || 4;
		filter.expr(o);
		this.init();
	}
	Waterfall.prototype = {
		init:function(){
			var self = this,
			col = [],
			nodes = self.target.find(":node"),
			leftNodes = self.target.find(":leftNode"),
			rightNodes = self.target.find(":rightNode"),
			nodeLen = nodes.length, 
			leftLen = leftNodes.length, 
			rightLen = rightNodes.length;
			for(var i = 0; i < self.colCount; i++){
				col[i] = 0;
				if(i == 0 && leftLen){
					for(var j = 0; j < leftLen; j++){
						col[i] += leftNodes.eq(j).outerHeight(true);
					}
				}
				if(i == self.colCount - 1 && rightLen){
					for(var j = 0; j < rightLen; j++){
						col[i] += rightNodes.eq(j).outerHeight(true);
					}
				}
			}
			nodes.each(function(){
				this.h = $(this).outerHeight(true);
				if($(this).hasClass(filter.replace(self.targetItem))){
					var ming = self.getMinCol(col);
					$(this).css({"left": ming * self.colWidth, "top": col[ming]});
					col[ming] += this.h;
				}
			});
			self.target.css('height', self.maxHeight(col));
		},
		setColWidth:function(wid){
			this.colWidth = wid;
		},
		setColCount:function(col){
			this.colCount = col;
		},
		maxHeight:function(arr){
			var len = arr.length,temp = arr[0];
			for(var i= 1; i < len; i++){
				if(temp < arr[i]){
					temp = arr[i];
				}
			}
			return temp;
		},
		getMinCol:function(arr){
			var ca = arr,cl = ca.length,temp = ca[0],minc = 0;
			for(var ci = 0; ci < cl; ci++){
				if(temp > ca[ci]){
					temp = ca[ci];
					minc = ci;
				}
			}
			return minc;
		}
	};
	
	var content = $('#waterfall_main');
	var item = content.find('.wf_element'),
	itemWidth = item.outerWidth(),/*取瀑布流元素宽*/
	contentWidth = 908, /*取容器宽*/
	list_sum = parseInt(contentWidth / itemWidth),  
	list_sum_margin = list_sum - 1, /*取元素间距的值*/
	left = (contentWidth - itemWidth * list_sum) / list_sum_margin; 
	if(itemWidth * list_sum > contentWidth){
		list_sum -= 1;
		left = contentWidth - itemWidth * list_sum;
	}
	var colWidth = itemWidth + left;
	new Waterfall({
		//设定列宽度
		"colWidth": colWidth,
		//设定显示列数
		"colCount": 2	
	});
	content.on('mouseenter', '.wf_box', function(){
		$(this).addClass('wf_hov');
	}).on('mouseleave', '.wf_box', function(){
		$(this).removeClass('wf_hov');
	});
	
})();
$(document).ready(function(){
	$('.watermark').watermark2();
});
</script>
<noscript> 
<iframe src="*.htm"></iframe> 
</noscript>
<script type="text/javascript">
$(function() {
    $(".flexslider").flexslider({
		animation: "slide",
        animationLoop: false,
        itemWidth: 185,
        itemMargin: 5,
		minItems: 2,
        maxItems: 6,
		directionNav:false
       // pausePlay: true
	});
});	
</script>
</body>
</html>
