<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="重庆招聘会,重庆人才市场,重庆人才招聘会,重庆招聘会信息,重庆近期招聘会,重庆现场招聘会,汇博人才市场" />
<meta name="Description" content="汇博人才市场，每周二四六在重庆龙头寺举办大型重庆招聘会，{/$config->HuiBoSiteName/}为您提供最新{/date('Y',time())/}年{/date('m',time())/}月重庆招聘会信息,获悉最新重庆招聘会信息请上{/$config->HuiBoSiteName/}" />
<title>{/$title/}</title>
<!–[if lt IE9]> 
<script src="{/version file='html5.js'/}"></script>
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="front.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="fair.css"/}" />
<script type="text/javascript" language="javascript" src="{/version file="jquery-1.8.3.min.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="dialog.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="common.js"/}"></script>
</head>
<body>
<!--top begin-->
{/include file="header.html"/}
<!--top end-->
<!--head-->
<div class="container">
  <div class="head">
    	<h1><a href='{/rewrite type="fair"/}' title="现场招聘会"></a></h1>
<!--        <div class="headRtScrl" id="headRtScrl">-->
<!--        	<ul>-->
<!--            <li title="专业网络招聘+专业现场招聘服务机构！">专业网络招聘+专业现场招聘服务机构！</li>-->
<!--            <li title="周二：工业、汽车、电子、制造业专场招聘会">周二：工业、汽车、电子、制造业专场招聘会</li>-->
<!--            <li title="周四：商场百货、酒店餐饮、快消品、物业建材及营销人才专场招聘会">周四：商场百货、酒店餐饮、快消品、物业建材及营销人才专场招聘会</li>-->
<!--            <li title="周六：特大型招聘会  {/$config->HuiBoFairShowRoom/}家企业  {/$config->HuiBoFairJobNumSat/}岗位">周六：特大型招聘会  {/$config->HuiBoFairShowRoom/}家企业  {/$config->HuiBoFairJobNumSat/}岗位</li>-->
<!--            </ul>-->
<!--        </div>-->
		<div class="headRtScrl" id="headRtScrl">
        	<ul>
            <li title="每周二、三、四、六上午（8：30-12：00）定期举办招聘会">每周二、三、四、六上午（8：30-12：00）定期举办招聘会</li>
            </ul>
        </div>
    </div>
    <div class="nav">
    	<div class="navL"></div>
        <div class="navC">
        	<div class="navCon"><a href='{/rewrite type="fair"/}'>招聘会首页</a><a href='{/get_url rule="/zhaopinhui/enterprise"/}'>我是企业</a><a href='{/get_url rule="/zhaopinhui/Notified"/}' class="cu">参会须知</a><a href='{/get_url rule="/zhaopinhui/traffic"/}'>交通指南</a></div>
            <div class="navRtTxt">咨询热线：{/$config->CqjobFairsPhone/}   在线咨询：<a target="_blank" href="//wpa.qq.com/msgrd?v=3&uin={/$config->HuiboFairsQQ/}&site=qq&menu=yes"><img border="0" src="//wpa.qq.com/pa?p=2:{/$config->HuiboFairsQQ/}:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></div>
        </div>
        <div class="navR"></div>
    </div>
    
    <div class="pageCon">
    	<div class="module">
        	<div class="moduleL">
                <div class="part">
                    <div class="partT"><h2>参会流程</h2></div>
                    <div class="partC">
                        <div class="jobFlow">
                            <dl>
                            <dt><b>1.</b>填写简历</dt>
                            <dd>填写完整的简历</dd>
                            </dl>
<!--                            <dl>-->
<!--                            <dt><b>2.</b>预约职位</dt>-->
<!--                            <dd>查找职位，<span class="orange">投递简历</span>进行预约，HR会重点关注已预约的简历</dd>-->
<!--                            </dl>-->
<!--                            <dl>-->
<!--                            <dt><b>3.</b>查看邀请</dt>-->
<!--                            <dd><a target="_blank" href="{/base_lib_Constant::PERSON_URL_NO_HTTP/}">登录</a>查看邀请信息，提前做好准备</dd>-->
<!--                            </dl>-->
                            <dl class="last">
                            <dt><b>2.</b>参加招聘会</dt>
                            <dd>带多份简历、身份证、手机参会</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moduleR">
            	<div class="part">
                    <div class="partT"><h2>特别提醒</h2></div>
                    <div class="partC">
                        <div class="warn">
                        	<p class="tit">一、招聘会举办时间：</p>
                            <p>每周二：工业、汽车、电子、制造业专场招聘会</p>
                            <p>每周四：商场百货、酒店餐饮、快消品、物业建材及营销人才专场招聘会</p>
                            <p>每周六：特大型招聘会  {/$config->HuiBoFairShowRoom/}家企业  {/$config->HuiBoFairJobNumSat/}岗位</p>
                            <p class="txt">另外我们还会不定期推出大型专场招聘会，请登录汇博网查看详情</p>
                            <p style="margin-top:0px;" class="tit">二、准备简历<a target="_blank" href="/html/jlyb.doc">简历样本下载</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        
        
        <div class="part">
            <div class="partT"><h2>求职须知</h2></div>
            <div class="partC">
                <div class="hunting">
                	<div class="huntingL">
                    	<p><b>招聘会地点：</b>重庆市两江新区龙头寺华宇地产5号楼（龙头寺火车站广场正对面/天宫殿站附近/北城中央站附近，乘坐<span class="orange">轻轨3号线</span>，在<span class="orange">狮子坪</span>车站下站即到。）；</p>
                        <p><b>准备多份简历：</b>简历重点突出工作经验，特长技能，内容控制在一张A4纸里；入场带<span class="orange">10份以上</span>简历，多投简历多获得机会。</p>
                        <p><b>多看多问多投：</b>逐一查看招聘简章内容；与招聘单位多交流（如职责要求、发展空间，薪资福利等）；尽量多投简历。</p>
                        <p><b>重视举止形象：</b>不大声喧哗或吸烟，重秩序，讲礼仪，注意谈话技巧，文明求职。</p>
                        <p><b>入场时间9点---11点为佳：</b>早入场，将有充足时间查阅信息、与HR交流，提高面试成功率。</p>
                        <p><b>物品妥善保管，注意安全。</b></p>
                        <p><b>多小心、防受骗。</b>劳动法规定,任何企业在招聘时不允许以任何原因收取任何费用。</p>
                    </div>
                    <div class="huntingR">
                    	<p class="tit">此外，附最需防范的十大求职陷阱一份：</p>
                        <p>1、<span class="strong">试用陷阱：</span>以新招人员替代试用期满人员；</p>
                        <p>2、<span class="strong">培训陷阱：</span>以招聘为名替培训学校拉生源；</p>
                        <p>3、<span class="strong">实习陷阱：</span>利用'实习”名义使用廉价劳动力；</p>
                        <p>4、<span class="strong">收费陷阱：</span>招聘过程中巧立名目收取各类费用；</p>
                        <p>5、<span class="strong">侵权陷阱：</span>以'考察”为名无偿占用设计成果；</p>
                        <p>6、<span class="strong">广告陷阱：</span>招聘信息做广告，不是招人是卖货；</p>
                        <p>7、<span class="strong">名称陷阱：</span>招聘名称诱人，实际工作气人；</p>
                        <p>8、<span class="strong">保险陷阱：</span>录用先考保险代理执业证，进来全当保险代理；</p>
                        <p>9、<span class="strong">劳务陷阱：</span>先说招聘'合同制”，录用后变'劳务工”；</p>
                        <p>10、<span class="strong">推销陷阱：</span>招聘'销售人员”，实为推销、传销工作。</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
<!--head-->
{/include file="footer.html"/}
<section class="floatRT"><a href="{/get_url rule='/about/message' domain='main'/}" target="_blank" class="serviceLink">我有问题要反馈</a><b></b></section>
<script type="text/javascript">
(function($){ 
$.fn.extend({ 
        Scroll:function(opt,callback){ 
                //参数初始化  
                if(!opt) var opt={}; 
                var _this=this.eq(0).find("ul:first"); 
                var lineH=_this.find("li:first").height(), //获取行高  
                    line=opt.line?parseInt(opt.line,10):parseInt(this.height()/lineH,10), //每次滚动的行数，默认为一屏，即父容器高度  
                    speed=opt.speed?parseInt(opt.speed,10):500, //卷动速度，数值越大，速度越慢（毫秒）  
                    timer=opt.timer?parseInt(opt.timer,10):3000; //滚动的时间间隔（毫秒）  
                if(line==0) line=1; 
                var upHeight=0-line*lineH; 
                //滚动函数  
                scrollUp=function(){ 
                        _this.animate({ 
                                marginTop:upHeight 
                        },speed,function(){ 
                                for(i=1;i<=line;i++){ 
                                        _this.find("li:first").appendTo(_this); 
                                } 
                                _this.css({marginTop:0}); 
                        }); 
                } 
                //鼠标事件绑定  
                _this.hover(function(){ 
                        clearInterval(timerID); 
                },function(){ 
                        timerID=setInterval("scrollUp()",timer); 
                }).mouseout(); 
        }         
}) 
})(jQuery); 
$(document).ready(function(){ 
<!--        $("#headRtScrl").Scroll({line:1,speed:500,timer:3000}); -->
}); 
</script>
</body>
</html>


