<div class="popzLink">
    <a href="#" class="popzP"><img src="{/$siteurl.style/}/img/index/verson2/popz_phone.jpg" width="39" height="42" /></a>
    <a href="{/get_url rule='/about/message' domain='main'/}" style="margin-bottom:5px;" target="_blank" class="popzL">意见<br />反馈</a>
    <a class="backTop hbFntWes" title="返回顶部" href="javascript:void(0);" style="display: none">&#xf0d8;</a>
</div>
<div style="display: none;" class="popzSpd">
    <p style="width:239px;">
        <img src="{/$siteurl.style/}/img/index/verson2/popz_phone1.jpg" height="17" width="11">
        <span>手机APP</span>
        <img src="{/$siteurl.style/}/img/index/verson2/popz_phone2.jpg" height="17" width="19">
        <img src="{/$siteurl.style/}/img/index/verson2/popz_phone3.jpg" style="margin-left:33px;" height="17" width="16">
        <span>微信公众号</span>
    </p>
    <div class="popzBode">
        <img src="{/$siteurl.style/}/img/index/verson2/popzSm.png" height="100" width="100">
        <em></em>
        <img src="{/$siteurl.style/}/img/index/verson2/weixin.png" height="100" width="100">
    </div>
    <div class="clear"></div>
</div>
