<div class="posBox" style="top:0;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-0100">计算机硬件</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-0101">高级硬件工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0102">硬件工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0199">其他(计算机硬件)</a>
				</dd>
			</dl>
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-0200">计算机软件</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-0201">高级软件工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0202">软件工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0203">UI设计/顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-0204">软件测试</a>
					<a target="_blank" href="/zhaopin/zhiwei-0205">系统集成工程师</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0209">辅助设计工程师</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0212">仿真应用</a>
					<a target="_blank" href="/zhaopin/zhiwei-0206">系统分析员</a>
					<a target="_blank" href="/zhaopin/zhiwei-0207">系统工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0208">架构设计师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0210">数据库工程师/管理员</a>
					<a target="_blank" href="/zhaopin/zhiwei-0211">ERP实施顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-0213">需求工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0214">ERP技术开发</a>
					<a target="_blank" href="/zhaopin/zhiwei-0299">其他(计算机软件)</a>
				</dd>
			</dl>
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-0400">IT管理/品管及其他</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-0401">首席技术(信息)官</a>
					<a target="_blank" href="/zhaopin/zhiwei-0402">(信息)技术总监</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0404">项目总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-0403">(信息)技术经理/主管</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0504">技术支持/维护工程师</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0501">硬件测试</a>
					<a target="_blank" href="/zhaopin/zhiwei-0406">信息技术专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-0407">项目经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-0502">文档工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0503">技术文员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-0405">项目执行/协调人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-0505">标准化工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0506">品质经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-0507">系统/软件测试</a>
					<a target="_blank" href="/zhaopin/zhiwei-0499">其他(IT管理/品管及其他)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-0700">通信技术开发及应用</a></dt>
				<dd>
                	<a target="_blank" href="/zhaopin/zhiwei-0710">电信交换</a>
					<a target="_blank" href="/zhaopin/zhiwei-0701">通信技术工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0702">有线传输工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0703">无线通信工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0704">数据通信工程师</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0708">增值产品开发</a>
					<a target="_blank" href="/zhaopin/zhiwei-0705">移动通信工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0706">电信网络工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0707">通信电源工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0709">手机软件/应用开发</a>
					<a target="_blank" href="/zhaopin/zhiwei-0799">其他(通信技术开发及应用)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-0300">互联网/电商/网游</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-0301">游戏开发工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0302">语音/视频/多媒体开发</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0321">SEO</a>
					<a target="_blank" href="/zhaopin/zhiwei-0303">网络与信息安全工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0304">互联网软件开发工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0305">网页设计/美工/制作</a>
					<a target="_blank" href="/zhaopin/zhiwei-0306">网站编辑</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0308">网络工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0307">系统管理员/网管</a>
					<a target="_blank" href="/zhaopin/zhiwei-0309">网站策划</a>
					<a target="_blank" href="/zhaopin/zhiwei-0310">互联网运营</a>
					<a target="_blank" href="/zhaopin/zhiwei-0311">产品经理/主管</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0317">游戏策划师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0313">产品专员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-0314">商务经理/主管</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0320">特效/视觉/音效</a>
					<a target="_blank" href="/zhaopin/zhiwei-0312">产品总监</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0319">Flash设计/开发</a>
					<a target="_blank" href="/zhaopin/zhiwei-0316">网店店长/客服</a>
					<a target="_blank" href="/zhaopin/zhiwei-0315">商务专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-0318">游戏界面设计师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0322">智能大厦/综合布线</a>
					<a target="_blank" href="/zhaopin/zhiwei-0323">脚本开发工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0324">网站结构/维护工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0399">其他(互联网/电子商务/网络游戏)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-0600">电子/电器/半导体/仪器仪表</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-0601">家电/数码产品研发</a>
					<a target="_blank" href="/zhaopin/zhiwei-0602">电路工程师/技术员</a>
					<a target="_blank" href="/zhaopin/zhiwei-0603">电子工程师/技术员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0614">版图设计</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0616">测试工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0605">光源与照明工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0606">集成电路芯片开发</a>
					<a target="_blank" href="/zhaopin/zhiwei-0607">电池/电源开发</a>
					<a target="_blank" href="/zhaopin/zhiwei-0608">电子电器维修</a>
					<a target="_blank" href="/zhaopin/zhiwei-0609">增值产品开发</a>
					<a target="_blank" href="/zhaopin/zhiwei-0610">电声/音响工程师</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0618">射频工程师</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0604">工艺工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0611">嵌入式硬/软件开发</a>
					<a target="_blank" href="/zhaopin/zhiwei-0612">半导体技术</a>
					<a target="_blank" href="/zhaopin/zhiwei-0613">激光/光电子技术</a>
					<a target="_blank" href="/zhaopin/zhiwei-0615">变压器与磁电工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0617">电子技术研发工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0619">FAE现场应用工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0620">自动控制工程师/技术员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0623">仪器/仪表/计量</a>
					<a target="_blank" href="/zhaopin/zhiwei-0621">电子软件开发（ARM/MCU）</a>
					<a target="_blank" href="/zhaopin/zhiwei-0622">集成电路IC设计/应用/验证</a>
					<a target="_blank" href="/zhaopin/zhiwei-0699">其他(电子/电器/半导体/仪器仪表)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>