<div class="posBox" style="top:-36px;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-0800">生产/营运</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-0801">工厂经理/厂长</a>
					<a target="_blank" href="/zhaopin/zhiwei-0802">总工程师/副总工程师</a>
                    <a target="_blank" href="/zhaopin/zhiwei-0810">生产文员</a>
					<a target="_blank" href="/zhaopin/zhiwei-0803">项目经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-0804">项目工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-0805">营运经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-0806">生产经理/车间主任</a>
					<a target="_blank" href="/zhaopin/zhiwei-0807">生产计划/物料管理(PMC)</a>
					<a target="_blank" href="/zhaopin/zhiwei-0808">生产主管/督导/领班/组长</a>
					<a target="_blank" href="/zhaopin/zhiwei-0809">化验员</a>
					<a target="_blank" href="/zhaopin/zhiwei-0811">项目总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-0812">生产总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-0899">其他(生产/营运)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-1200">技工</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-1201">普工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1202">钣金工/机修工/冲压工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1203">电焊工/铆焊工/钳工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1204">车工/磨工/铣工锣工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1205">切割技工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1206">模具工</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1214">技工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1207">铲车/叉车工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1208">空调工/电梯工/锅炉工</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1212">万能工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1209">电工/水工/木工/油漆工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1210">片皮工/铲皮工</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1216">操作工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1211">裁缝印纺熨烫</a>
					<a target="_blank" href="/zhaopin/zhiwei-1213">油边工/台面工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1215">汽车修理工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1299">其他(技工)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-1000">质量管理/安全防护</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-1001">质量管理QA/测试经理QC/主管</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1004">可靠度工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1002">质量管理QA/测试QC工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1003">质量检验员/测试员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1005">故障分析工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1006">认证工程师/审核员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1012">安全防护</a>
					<a target="_blank" href="/zhaopin/zhiwei-1007">体系工程师/审核员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1009">采购材料/设备质量管理</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1008">供应商管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-1010">环境/健康/安全经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-1011">环境/健康/安全工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1099">其他(质量管理/安全防护)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>