<div class="posBox" style="top:-351px;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-3800">交通运输服务</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-3801">飞机机长/副机长</a>
					<a target="_blank" href="/zhaopin/zhiwei-3802">空乘人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3803">地勤人员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3806">乘务员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3804">列车车长</a>
					<a target="_blank" href="/zhaopin/zhiwei-3805">列车司机</a>
					<a target="_blank" href="/zhaopin/zhiwei-3807">船长/副船长</a>
					<a target="_blank" href="/zhaopin/zhiwei-3808">船员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3809">司机</a>
					<a target="_blank" href="/zhaopin/zhiwei-3899">其他(交通运输服务)</a>
				</dd>
			</dl>
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-4100">百货/连锁/零售</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-4101">店长/卖场经理/楼面管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4102">品类经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4103">店员/营业员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4104">防损员/内保</a>
					<a target="_blank" href="/zhaopin/zhiwei-4105">收银主管/收银员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-4113">防损经理/主管</a>
                    <a target="_blank" href="/zhaopin/zhiwei-4109">生鲜食品加工/处理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4106">理货员/陈列员/收货员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4107">导购员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4108">西点师/面包糕点加工</a>
					<a target="_blank" href="/zhaopin/zhiwei-4110">熟食加工</a>
					<a target="_blank" href="/zhaopin/zhiwei-4111">兼职店员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4112">店长助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4114">安防主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-4199">其他(百货/连锁/零售)</a>
				</dd>
			</dl>
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-4300">医院/医疗/护理</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-4301">兽医</a>
					<a target="_blank" href="/zhaopin/zhiwei-4302">专科医生</a>
					<a target="_blank" href="/zhaopin/zhiwei-4303">医院管理人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4304">内科医生</a>
					<a target="_blank" href="/zhaopin/zhiwei-4305">外科医生</a>
					<a target="_blank" href="/zhaopin/zhiwei-4306">牙科医生</a>
					<a target="_blank" href="/zhaopin/zhiwei-4307">麻醉医生</a>
					<a target="_blank" href="/zhaopin/zhiwei-4308">儿科医生</a>
					<a target="_blank" href="/zhaopin/zhiwei-4309">心理医生</a>
					<a target="_blank" href="/zhaopin/zhiwei-4310">理疗师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4311">营养师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4312">中医科医生</a>
					<a target="_blank" href="/zhaopin/zhiwei-4313">医药学检验</a>
					<a target="_blank" href="/zhaopin/zhiwei-4314">公共卫生／疾病控制</a>
                    <a target="_blank" href="/zhaopin/zhiwei-4319">美容整形师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4315">护士长/护士/护工</a>
					<a target="_blank" href="/zhaopin/zhiwei-4316">护士/护理人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4317">针灸/推拿医师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4318">验光师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4320">药库主任／药剂师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4399">其他(医院/医疗/护理)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-4900">餐饮/娱乐</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-4901">餐饮/娱乐管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4902">餐饮/娱乐领班/部长</a>
                    <a target="_blank" href="/zhaopin/zhiwei-4908">厨师/面点师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4903">餐饮/娱乐服务员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4904">传菜主管/传菜员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4905">礼仪/迎宾</a>
					<a target="_blank" href="/zhaopin/zhiwei-4906">司仪</a>
					<a target="_blank" href="/zhaopin/zhiwei-4907">行政主厨/厨师长</a>
					<a target="_blank" href="/zhaopin/zhiwei-4909">调酒师/侍酒师/吧台员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4910">茶艺师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4911">厨师助理/学徒</a>
					<a target="_blank" href="/zhaopin/zhiwei-4999">其他(餐饮/娱乐)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-5000">酒店/旅游</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-5001">酒店/宾馆经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-5002">酒店/宾馆营销</a>
					<a target="_blank" href="/zhaopin/zhiwei-5003">宴会管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-5004">大堂经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-5005">宾客服务经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-5006">楼面经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-5007">前厅接待</a>
					<a target="_blank" href="/zhaopin/zhiwei-5008">预定部主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-5009">预定员</a>
					<a target="_blank" href="/zhaopin/zhiwei-5010">客房服务员/楼面服务员</a>
					<a target="_blank" href="/zhaopin/zhiwei-5011">机场代表</a>
					<a target="_blank" href="/zhaopin/zhiwei-5012">行李员</a>
					<a target="_blank" href="/zhaopin/zhiwei-5013">管家部经理/主管</a>
                    <a target="_blank" href="/zhaopin/zhiwei-5020">签证专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-5014">清洁服务人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-5015">健身房服务</a>
					<a target="_blank" href="/zhaopin/zhiwei-5016">票务/订房服务</a>
					<a target="_blank" href="/zhaopin/zhiwei-5017">导游/旅行顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-5018">旅游产品销售</a>
					<a target="_blank" href="/zhaopin/zhiwei-5019">行程管理/操作</a>
					<a target="_blank" href="/zhaopin/zhiwei-5099">其他(酒店/旅游)</a>
				</dd>
			</dl>
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-5100">美容/健身/体育</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-5101">美容顾问/化妆</a>
					<a target="_blank" href="/zhaopin/zhiwei-5102">彩妆培训师</a>
					<a target="_blank" href="/zhaopin/zhiwei-5103">专柜彩妆顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-5104">美容助理/见习美容师</a>
					<a target="_blank" href="/zhaopin/zhiwei-5105">瘦身顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-5106">发型师</a>
					<a target="_blank" href="/zhaopin/zhiwei-5107">发型助理/学徒</a>
					<a target="_blank" href="/zhaopin/zhiwei-5108">美甲师</a>
					<a target="_blank" href="/zhaopin/zhiwei-5109">按摩/足疗</a>
                    <a target="_blank" href="/zhaopin/zhiwei-5112">救生员</a>
					<a target="_blank" href="/zhaopin/zhiwei-5110">健身顾问/教练</a>
					<a target="_blank" href="/zhaopin/zhiwei-5111">体育运动教练</a>
					<a target="_blank" href="/zhaopin/zhiwei-5113">瑜伽/舞蹈老师</a>
					<a target="_blank" href="/zhaopin/zhiwei-5114">宠物护理/美容</a>
					<a target="_blank" href="/zhaopin/zhiwei-5199">其他(美容/健身/体育)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-5200">保安/家政</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-5201">保安经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-5202">保安人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-5203">保镖</a>
					<a target="_blank" href="/zhaopin/zhiwei-5204">搬运工</a>
					<a target="_blank" href="/zhaopin/zhiwei-5205">保洁员/清洁工</a>
					<a target="_blank" href="/zhaopin/zhiwei-5206">家政服务/保姆</a>
					<a target="_blank" href="/zhaopin/zhiwei-5207">寻呼员/话务员</a>
					<a target="_blank" href="/zhaopin/zhiwei-5299">其他(保安/家政)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>