<div class="posBox" style="top:-357px;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-4400">咨询/顾问</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-4401">专业顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-4402">咨询员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4403">调研员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4404">咨询总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-4405">咨询经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4406">猎头/人才中介</a>
					<a target="_blank" href="/zhaopin/zhiwei-4407">情报信息分析人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4408">招生顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-4499">其他(咨询/顾问)</a>
				</dd>
			</dl>
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-4500">律师/法务/合规</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-4501">律师/法律顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-4502">法务经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-4503">咨询经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-4504">法务人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4505">知识产权/专利顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-4506">律师助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4507">合规经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4508">合规主管/专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4599">其他(律师/法务/合规)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-4600">教师</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-4601">校长</a>
					<a target="_blank" href="/zhaopin/zhiwei-4602">大学教授</a>
					<a target="_blank" href="/zhaopin/zhiwei-4603">中学教师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4604">小学教师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4605">家教</a>
					<a target="_blank" href="/zhaopin/zhiwei-4606">辅导员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4607">教务人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4608">幼教</a>
					<a target="_blank" href="/zhaopin/zhiwei-4609">院校教务管理人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4610">兼职教师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4611">音乐/美术教师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4612">职业技术教师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4699">其他(教师)</a>
					<a target="_blank" href="/zhaopin/zhiwei-4613">讲师/助教</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-4700">培训</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-4701">培训讲师/培训师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4702">培训督导</a>
					<a target="_blank" href="/zhaopin/zhiwei-4703">培训助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4704">培训策划</a>
					<a target="_blank" href="/zhaopin/zhiwei-4705">培训产品开发</a>
					<a target="_blank" href="/zhaopin/zhiwei-4706">培训/课程顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-4799">其他(培训)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-5500">翻译</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-5501">英语翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5502">日语翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5503">德语翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5504">法语翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5505">俄语翻译</a>
                    <a target="_blank" href="/zhaopin/zhiwei-5511">泰语翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5507">韩语翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5508">西班牙语翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5509">葡萄牙语翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5510">阿拉伯语翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5506">意大利语翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5512">中国方言翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5513">朝鲜语翻译</a>
					<a target="_blank" href="/zhaopin/zhiwei-5599">其他(翻译)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>