<div class="posBox" style="top:-239px;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-4800">科研</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-4801">科研管理人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4802">科研人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4899">其他(科研)</a>
				</dd>
			</dl>
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-5300">公务员</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-5301">公务员</a>
					<a target="_blank" href="/zhaopin/zhiwei-5399">其他(公务员)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-5400">储备干部/培训生/实习生/兼职</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-5401">储备干部</a>
					<a target="_blank" href="/zhaopin/zhiwei-5402">培训生</a>
					<a target="_blank" href="/zhaopin/zhiwei-5403">实习生</a>
					<a target="_blank" href="/zhaopin/zhiwei-5404">兼职</a>
					<a target="_blank" href="/zhaopin/zhiwei-5499">其他(储备干部/培训生/实习生/兼职)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-5600">农/林/牧/渔</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-5601">养殖部主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-5602">场长(农/林/牧/渔业)</a>
					<a target="_blank" href="/zhaopin/zhiwei-5603">农艺师</a>
					<a target="_blank" href="/zhaopin/zhiwei-5604">畜牧师</a>
					<a target="_blank" href="/zhaopin/zhiwei-5605">饲养员</a>
					<a target="_blank" href="/zhaopin/zhiwei-5606">动物营养/饲料研发</a>
					<a target="_blank" href="/zhaopin/zhiwei-5607">兽医</a>
					<a target="_blank" href="/zhaopin/zhiwei-5699">其他(农/林/牧/渔)</a>
				</dd>
			</dl>
			<dl clas="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-5700">其它</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-5701">驯兽师/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-5702">在校学生</a>
					<a target="_blank" href="/zhaopin/zhiwei-5703">志愿者</a>
					<a target="_blank" href="/zhaopin/zhiwei-5704">陶瓷类</a>
					<a target="_blank" href="/zhaopin/zhiwei-5705">航空航天</a>
					<a target="_blank" href="/zhaopin/zhiwei-5706">声光学技术</a>
					<a target="_blank" href="/zhaopin/zhiwei-5707">气象</a>
					<a target="_blank" href="/zhaopin/zhiwei-5799">其他(其他)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>
