<div class="posBox" style="top:-71px;">
	<div class="posJobSort">
		<div class="l">
        	<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-1100">机械/设备</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-1101">模具工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1102">机械工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1103">机电工程师</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1116">焊接</a>
					<a target="_blank" href="/zhaopin/zhiwei-1104">铸造/锻造</a>
					<a target="_blank" href="/zhaopin/zhiwei-1105">冲压工程师/技师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1106">注塑工程师/技师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1107">CNC工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1108">轨道交通工程师/技术员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1118">机床/车床</a>
					<a target="_blank" href="/zhaopin/zhiwei-1109">锅炉工程师/技师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1110">船舶工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1111">飞行器设计与制造</a>
					<a target="_blank" href="/zhaopin/zhiwei-1112">夹具</a>
					<a target="_blank" href="/zhaopin/zhiwei-1113">工程/机械绘图员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1114">结构工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1115">设备工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1117">机械/设备维修</a>
					<a target="_blank" href="/zhaopin/zhiwei-1119">技术研发经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-1120">技术研发工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1121">产品工艺/制程工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1122">产品规划工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1123">实验室负责人/工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1124">工程/设备经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-1125">工业工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1126">材料工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1127">维修经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-1128">维修工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1129">装配工程师/技师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1199">其他(机械/设备)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-0900">汽车类</a></dt>
				<dd>
					<a href="/zhaopin/zhiwei-0901" target="_blank">整车设计师</a>
					<a href="/zhaopin/zhiwei-0902" target="_blank">底盘设计师</a>
					<a href="/zhaopin/zhiwei-0903" target="_blank">电器设计师</a>
					<a href="/zhaopin/zhiwei-0904" target="_blank">车身/造型设计师</a>
					<a href="/zhaopin/zhiwei-0905" target="_blank">动力系统工程师</a>
                    <a href="/zhaopin/zhiwei-0914" target="_blank">汽车经纪</a>
					<a href="/zhaopin/zhiwei-0906" target="_blank">发动机及附件设计师</a>
					<a href="/zhaopin/zhiwei-0907" target="_blank">内外饰设计师</a>
					<a href="/zhaopin/zhiwei-0908" target="_blank">质量工程师</a>
					<a href="/zhaopin/zhiwei-0909" target="_blank">安全工程师</a>
					<a href="/zhaopin/zhiwei-0915" target="_blank">汽车美容</a>
                    <a href="/zhaopin/zhiwei-0925" target="_blank">4S店经理</a>
                    <a href="/zhaopin/zhiwei-0917" target="_blank">汽车修理</a>
                    <a href="/zhaopin/zhiwei-0910" target="_blank">总装工程师</a>
					<a href="/zhaopin/zhiwei-0912" target="_blank">整车工程师</a>
					<a href="/zhaopin/zhiwei-0913" target="_blank">销售工程师</a>
                    <a href="/zhaopin/zhiwei-0919" target="_blank">保险理赔</a>
					<a href="/zhaopin/zhiwei-0921" target="_blank">标准化工程师</a>
					<a href="/zhaopin/zhiwei-0918" target="_blank">车间主任</a>
                    <a href="/zhaopin/zhiwei-0911" target="_blank">涂装工程师</a>
					<a href="/zhaopin/zhiwei-0916" target="_blank">二手车评估师</a>
					<a href="/zhaopin/zhiwei-0920" target="_blank">改装工程师</a>
					<a href="/zhaopin/zhiwei-0922" target="_blank">车辆试验/测试</a>
					<a href="/zhaopin/zhiwei-0923" target="_blank">产品匹配工程师</a>
					<a href="/zhaopin/zhiwei-0924" target="_blank">总布置工程师</a>
					<a href="/zhaopin/zhiwei-0999" target="_blank">其他(汽车类)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>