<div class="posBox" style="top:-106px;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-1400">人力资源</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-1401">人力资源总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-1402">人力资源经理/主管</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1405">薪酬福利</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1408">员工关系专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1404">人员招聘</a>
					<a target="_blank" href="/zhaopin/zhiwei-1406">绩效考核</a>
					<a target="_blank" href="/zhaopin/zhiwei-1407">员工培训</a>
					<a target="_blank" href="/zhaopin/zhiwei-1403">人力资源专员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-1409">企业文化</a>
					<a target="_blank" href="/zhaopin/zhiwei-1410">公会管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-1411">人力资源信息系统专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1499">其他(人力资源)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-1500">行政/后勤</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-1501">行政总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-1502">行政经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-1503">行政专员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1509">驾驶员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1508">文员/打字员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1505">文宣专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1506">前台接待</a>
					<a target="_blank" href="/zhaopin/zhiwei-1507">行政秘书</a>
					<a target="_blank" href="/zhaopin/zhiwei-1504">资料/档案管理员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1599">其他(行政后勤)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-1300">高级管理</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-1301">首席执行官/总裁/总经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-1302">首席运营官</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1306">合伙人</a>
					<a target="_blank" href="/zhaopin/zhiwei-1303">部门经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-1304">首席财务官</a>
					<a target="_blank" href="/zhaopin/zhiwei-1305">副总经理/副总裁</a>
					<a target="_blank" href="/zhaopin/zhiwei-1307">总监/事业部总经理</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1310">策略发展总监</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1312">总工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1308">办事处/分公司/分支机构经理</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1313">厂长/副厂长</a>
					<a target="_blank" href="/zhaopin/zhiwei-1309">总裁助理/总经理助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-1311">办事处首席代表</a>
					<a target="_blank" href="/zhaopin/zhiwei-1314">首席技术(信息)官</a>
					<a target="_blank" href="/zhaopin/zhiwei-1399">其他(高级管理)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>