<div class="posBox" style="top:-141px;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-1600">房地产</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-1601">房地产项目/开发/策划经理</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1603">房地产项目招投标</a>
					<a target="_blank" href="/zhaopin/zhiwei-1602">房地产项目/开发/策划主管/专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1604">房地产项目评估</a>
					<a target="_blank" href="/zhaopin/zhiwei-1605">置业顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-1606">房地产项目配套</a>
					<a target="_blank" href="/zhaopin/zhiwei-1607">房地产销售经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-1608">房地产招商</a>
					<a target="_blank" href="/zhaopin/zhiwei-1609">房地产中介/交易</a>
					<a target="_blank" href="/zhaopin/zhiwei-1699">其他(房地产)</a>
				</dd>
			</dl>
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-1700">装饰装修</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-1701">设计总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-1702">工程总监/经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-1703">设计经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-1704">首席设计师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1705">高级设计师/设计师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1706">家装顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-1707">工程监理</a>
					<a target="_blank" href="/zhaopin/zhiwei-1708">水电工/木工/泥工</a>
					<a target="_blank" href="/zhaopin/zhiwei-1709">材料经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-1710">资料/合同管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-1711">材料专员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-1712">制图员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1799">其他(装饰装修)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-1900">物业管理</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-1901">物业管理经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-1902">物业设施/维修管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-1903">物业招商/租赁/租售</a>
					<a target="_blank" href="/zhaopin/zhiwei-1904">物业管理专员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-1905">高级物业顾问/物业顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-1906">物业设施管理人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1907">物业机电工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1908">物业维修人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1999">其他(物业管理)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-1800">建筑/市政建设</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-1801">智能楼宇</a>
					<a target="_blank" href="/zhaopin/zhiwei-1802">给排水/暖通工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1803">幕墙工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1804">建筑制图</a>
					<a target="_blank" href="/zhaopin/zhiwei-1805">预结算/造价</a>
					<a target="_blank" href="/zhaopin/zhiwei-1806">园林/景观/园艺设计</a>
					<a target="_blank" href="/zhaopin/zhiwei-1807">建筑设计师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1808">测绘/测量</a>
					<a target="_blank" href="/zhaopin/zhiwei-1809">结构/土木工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1810">土建/工民建工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1811">规划设计</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1818">工长/施工员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1812">路桥/隧道/市政工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1813">监理工程师/监理员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1814">公路/桥梁工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1815">安装/水电工程师</a>
                    <a target="_blank" href="/zhaopin/zhiwei-1820">安全/质量</a>
					<a target="_blank" href="/zhaopin/zhiwei-1816">高级建筑师/建筑师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1817">管道工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1824">开发报建</a>
					<a target="_blank" href="/zhaopin/zhiwei-1819">消防员/安全员/质检员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1821">资料员/收方员/权证员</a>
					<a target="_blank" href="/zhaopin/zhiwei-1822">安防工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1823">建筑机电工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-1825">建筑工程验收</a>
					<a target="_blank" href="/zhaopin/zhiwei-1826">岩土工程</a>
					<a target="_blank" href="/zhaopin/zhiwei-1899">其他(建筑/市政建设)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>