<div class="posBox" style="top:-176px;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-2100">销售人员</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-2101">销售代表</a>
					<a target="_blank" href="/zhaopin/zhiwei-2102">客户经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2103">渠道/分销专员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2107">客户代表</a>
					<a target="_blank" href="/zhaopin/zhiwei-2104">销售工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-2105">电话销售</a>
					<a target="_blank" href="/zhaopin/zhiwei-2106">团购业务员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2108">经销商</a>
					<a target="_blank" href="/zhaopin/zhiwei-2199">其他(销售人员)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-2200">销售行政及商务</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-2201">业务分析专员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2202">销售行政经理/主管</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2207">商务专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2203">销售行政专员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2204">业务分析经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2205">销售助理/商务助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2206">商务经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2299">其他(销售行政及商务)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-2000">销售管理</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-2001">销售总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-2002">销售经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2003">业务拓展经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2004">渠道经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2005">分销经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2006">团购经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2007">大客户经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2008">区域销售管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2099">其他(销售管理)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-2300">客服及技术支持</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-2301">客服总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-2302">客服主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2303">客服专员/助理</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2308">VIP专员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2307">售前/售后技术支持</a>
					<a target="_blank" href="/zhaopin/zhiwei-2305">投诉专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2306">客户关系管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2304">咨询热线/呼叫中心专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2399">其他(客服及技术支持)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>