<div class="posBox" style="top:-211px;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-2700">保险</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-2701">保险精算师</a>
					<a target="_blank" href="/zhaopin/zhiwei-2702">保险产品开发/项目策划</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2707">保险核保</a>
					<a target="_blank" href="/zhaopin/zhiwei-2703">保险业务经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2704">保险代理/经纪人/客户经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2705">理财顾问/财务规划师</a>
					<a target="_blank" href="/zhaopin/zhiwei-2706">储备经理人</a>
					<a target="_blank" href="/zhaopin/zhiwei-2708">保险理赔</a>
					<a target="_blank" href="/zhaopin/zhiwei-2709">保险客户服务/续期管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2710">保险培训师</a>
					<a target="_blank" href="/zhaopin/zhiwei-2711">保险内勤</a>
					<a target="_blank" href="/zhaopin/zhiwei-2712">契约管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2799">其他(保险类)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-2600">银行</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-2601">行长/副行长</a>
					<a target="_blank" href="/zhaopin/zhiwei-2602">个人业务客户经理</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2605">风险控制</a>
					<a target="_blank" href="/zhaopin/zhiwei-2603">公司业务客户经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2604">综合业务专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2606">信审核查</a>
					<a target="_blank" href="/zhaopin/zhiwei-2607">外汇交易</a>
					<a target="_blank" href="/zhaopin/zhiwei-2608">高级客户经理/客户经理</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2617">清算人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2609">营业部大堂经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2610">银行卡、电子银行业务推广</a>
					<a target="_blank" href="/zhaopin/zhiwei-2611">个人业务部门经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2612">公司业务部门经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2613">综合业务经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2614">资产评估/分析</a>
					<a target="_blank" href="/zhaopin/zhiwei-2615">信贷管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2616">进出口/信用证结算</a>
					<a target="_blank" href="/zhaopin/zhiwei-2618">客户主管/专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2619">银行柜员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2699">其他(银行)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-2500">金融/证券/期货/投资</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-2501">投融资经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2502">投融资专员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2504">证券分析师</a>
					<a target="_blank" href="/zhaopin/zhiwei-2503">证券/期货/外汇经纪人</a>
					<a target="_blank" href="/zhaopin/zhiwei-2509">投资银行业务</a>
					<a target="_blank" href="/zhaopin/zhiwei-2510">拍卖师</a>
					<a target="_blank" href="/zhaopin/zhiwei-2506">金融/经济研究员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2507">投资/基金项目经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2508">投资/理财顾问</a>
					<a target="_blank" href="/zhaopin/zhiwei-2505">股票/期货操盘手</a>
					<a target="_blank" href="/zhaopin/zhiwei-2599">其他(金融/证券/期货/投资)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-2400">财务/审计/税务</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-2401">首席财务官</a>
					<a target="_blank" href="/zhaopin/zhiwei-2402">投融资专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2403">财务总监</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2417">财务助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2404">财务经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2405">成本经理/主管</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2410">会计经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2406">财务分析经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2407">审计经理/主管</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2415">统计员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2414">出纳</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2412">会计</a>
					<a target="_blank" href="/zhaopin/zhiwei-2408">税务经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2409">税务专员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2411">审计专员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2413">投融资经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2416">成本管理员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2418">财务分析员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2419">资金经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2420">资金专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2499">其他(财务/审计/税务)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>