<div class="posBox" style="top:-246px;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-2800">广告</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-2801">广告客户总监/副总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-2802">广告客户经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2803">广告客户专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2804">广告创意/设计主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2805">广告创意总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-2806">广告创意/设计专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2807">文案/策划</a>
                    <a target="_blank" href="/zhaopin/zhiwei-2810">美术指导</a>
					<a target="_blank" href="/zhaopin/zhiwei-2808">企业/业务发展经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2809">企业策划人员</a>
					
					<a target="_blank" href="/zhaopin/zhiwei-2899">其他(广告)</a>
				</dd>
			</dl>
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-2900">公关/媒介</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-2901">公关经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2902">会务经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2903">会务专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2904">公关/媒介专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2905">媒介经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-2906">公关/媒介助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-2907">媒介专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-2908">媒介销售</a>
					<a target="_blank" href="/zhaopin/zhiwei-2909">活动策划</a>
					<a target="_blank" href="/zhaopin/zhiwei-2999">其他(公关/媒介)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-3000">市场/营销</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-3001">市场助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-3002">市场分析/调研</a>
					<a target="_blank" href="/zhaopin/zhiwei-3003">产品/品牌经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3004">产品/品牌专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3005">选址拓展/新店开发</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3009">促销经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-3006">市场企划经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3007">市场企划专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3008">加盟/连锁</a>
					<a target="_blank" href="/zhaopin/zhiwei-3010">促销主管/督导</a>
					<a target="_blank" href="/zhaopin/zhiwei-3011">促销员/导购</a>
					<a target="_blank" href="/zhaopin/zhiwei-3012">市场通路专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3013">市场/营销/拓展总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-3014">市场/营销/拓展经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3015">市场/营销/拓展专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3016">市场通路经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3099">其他(市场/营销)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-3100">影视/媒体</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-3101">后期制作</a>
					<a target="_blank" href="/zhaopin/zhiwei-3102">经纪人</a>
					<a target="_blank" href="/zhaopin/zhiwei-3103">影视策划/制作</a>
					<a target="_blank" href="/zhaopin/zhiwei-3104">导演/编导</a>
					<a target="_blank" href="/zhaopin/zhiwei-3105">演员/模特/主持人</a>
					<a target="_blank" href="/zhaopin/zhiwei-3106">摄像/摄影师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3107">录音/音效师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3108">配音员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3109">艺术/设计总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-3110">放映经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3111">放映员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3112">化妆师/造型师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3199">其他(影视/媒体)</a>
				</dd>
			</dl>
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-3200">写作/出版/印刷</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-3201">总编/副总编</a>
					<a target="_blank" href="/zhaopin/zhiwei-3202">作家/撰稿人</a>
					<a target="_blank" href="/zhaopin/zhiwei-3203">编辑</a>
					<a target="_blank" href="/zhaopin/zhiwei-3204">记者</a>
					<a target="_blank" href="/zhaopin/zhiwei-3205">美术编辑</a>
					<a target="_blank" href="/zhaopin/zhiwei-3206">校对/录入</a>
					<a target="_blank" href="/zhaopin/zhiwei-3207">印刷机机长</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3209">排版设计</a>
					<a target="_blank" href="/zhaopin/zhiwei-3208">晒版/拼版/装订/烫金技工</a>
					<a target="_blank" href="/zhaopin/zhiwei-3214">调墨技师</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3216">电话采编</a>
					<a target="_blank" href="/zhaopin/zhiwei-3211">电分操作员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3212">印刷排版/制版</a>
					<a target="_blank" href="/zhaopin/zhiwei-3213">数码直印/菲林输出</a>
					<a target="_blank" href="/zhaopin/zhiwei-3215">出版/发行</a>
					<a target="_blank" href="/zhaopin/zhiwei-3210">打稿机操作员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3299">其他(写作/出版/印刷)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-3300">艺术/设计</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-3301">装修设计</a>
					<a target="_blank" href="/zhaopin/zhiwei-3302">原画师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3303">造型设计</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3311">平面设计师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3304">家具/家居用品设计</a>
					<a target="_blank" href="/zhaopin/zhiwei-3305">玩具设计</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3308">工业/产品设计</a>
					<a target="_blank" href="/zhaopin/zhiwei-3306">工艺品/珠宝设计鉴定</a>
					<a target="_blank" href="/zhaopin/zhiwei-3307">动画/3D设计</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3315">包装设计</a>
					<a target="_blank" href="/zhaopin/zhiwei-3309">平面设计总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-3310">平面设计经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3312">绘画</a>
					<a target="_blank" href="/zhaopin/zhiwei-3313">展览/展示/店面设计</a>
					<a target="_blank" href="/zhaopin/zhiwei-3314">多媒体设计</a>
					<a target="_blank" href="/zhaopin/zhiwei-3399">其他(艺术/设计)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>