<div class="posBox" style="top:-281px;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-3400">电气/能源/动力/矿产</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-3401">核力/火力工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3402">空调/热能工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3403">电路工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3404">电力工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3405">电气维修技术员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3406">制冷/暖通工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3407">强电维修技工</a>
					<a target="_blank" href="/zhaopin/zhiwei-3408">石油天然气技术人员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3412">电气工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3409">变压/变频/磁电</a>
					<a target="_blank" href="/zhaopin/zhiwei-3410">矿产勘探/地质勘测工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3411">煤矿/煤炭/煤化</a>
					<a target="_blank" href="/zhaopin/zhiwei-3413">光源与照明工程</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3415">风电工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3414">水利/水电工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3416">光伏系统工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3417">燃气轮机工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3499">其他(电气/能源/动力/矿产类)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-3500">化工/环保</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-3501">化工技术应用/化工工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3502">化工实验室研究员/技术员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3503">涂料研发工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3504">配色技术员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3505">塑料工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3506">化妆品研发</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3509">环保工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3508">造纸研发</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3512">环保检测</a>
					<a target="_blank" href="/zhaopin/zhiwei-3507">食品/饮料研发</a>
					<a target="_blank" href="/zhaopin/zhiwei-3510">污水处理工程师</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3513">水质检测员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3511">环境影响评价工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3514">固废工程师</a>
					<a target="_blank" href="/zhaopin/zhiwei-3599">其他(化工/环保类)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-4200">生物/制药/医疗器械</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-4201">临床数据分析员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4202">医疗器械研发</a>
                    <a target="_blank" href="/zhaopin/zhiwei-4204">化学分析员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4203">生物工程/生物制药</a>
					<a target="_blank" href="/zhaopin/zhiwei-4205">医药技术研发管理人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4206">医药技术研发人员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4207">临床研究员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-4215">医药销售代表</a>
					<a target="_blank" href="/zhaopin/zhiwei-4208">临床协调/观察员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4209">药品生产/质量管理</a>
                    <a target="_blank" href="/zhaopin/zhiwei-4212">医药招商</a>
					<a target="_blank" href="/zhaopin/zhiwei-4210">药品市场推广</a>
					<a target="_blank" href="/zhaopin/zhiwei-4211">药品注册</a>
					<a target="_blank" href="/zhaopin/zhiwei-4213">招投标管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4216">医疗设备注册</a>
                    <a target="_blank" href="/zhaopin/zhiwei-4218">医疗器械销售</a>
                    <a target="_blank" href="/zhaopin/zhiwei-4220">医疗器械维修</a>
                    <a target="_blank" href="/zhaopin/zhiwei-4214">医药销售经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-4217">医疗设备生产/质量管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4219">医疗器械市场推广</a>
					<a target="_blank" href="/zhaopin/zhiwei-4221">政府事务管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-4222">医疗器械注册</a>
					<a target="_blank" href="/zhaopin/zhiwei-4223">医疗器械研发</a>
					<a target="_blank" href="/zhaopin/zhiwei-4299">其他(生物/制药/医疗器械)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>