<div class="posBox" style="top:-206px;">
	<div class="posJobSort">
		<div class="l">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-3600">采购类</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-3601">采购总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-3602">采购经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3603">采购员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-3604">买手</a>
					<a target="_blank" href="/zhaopin/zhiwei-3605">供应商开发</a>
					<a target="_blank" href="/zhaopin/zhiwei-3699">其他(采购类)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-3700">物流/仓储类</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-3701">快递员/速递员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3702">理货员/审单员</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3707">物料主管/专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3703">物流总监/经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3704">供应链总监/经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3705">供应链助理/专员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3706">物料经理</a>
					<a target="_blank" href="/zhaopin/zhiwei-3708">仓库经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3709">仓库管理员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3710">运输经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3711">货运代理</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3714">调度员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3712">集装箱业务</a>
					<a target="_blank" href="/zhaopin/zhiwei-3713">海关事务管理</a>
					<a target="_blank" href="/zhaopin/zhiwei-3715">船务/空运陆运操作</a>
					<a target="_blank" href="/zhaopin/zhiwei-3716">物流专员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-3799">其他(物流/仓储类)</a>
				</dd>
			</dl>
		</div>
		<div class="r">
			<dl>
				<dt><a target="_blank" href="/zhaopin/zhiwei-3900">贸易类</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-3901">外贸/进出口经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3902">外贸/进出口专员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-3903">国内贸易经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3904">国内贸易专员/助理</a>
                    <a target="_blank" href="/zhaopin/zhiwei-3907">单证员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3905">业务跟单经理/主管</a>
					<a target="_blank" href="/zhaopin/zhiwei-3906">业务跟单专员/助理</a>
					<a target="_blank" href="/zhaopin/zhiwei-3908">报关/报检员</a>
					<a target="_blank" href="/zhaopin/zhiwei-3999">其他(贸易类)</a>
				</dd>
			</dl>
			<dl class="last">
				<dt><a target="_blank" href="/zhaopin/zhiwei-4000">服装/纺织/皮革类</a></dt>
				<dd>
					<a target="_blank" href="/zhaopin/zhiwei-4001">服装/纺织设计总监</a>
					<a target="_blank" href="/zhaopin/zhiwei-4002">服装/纺织设计</a>
                    <a target="_blank" href="/zhaopin/zhiwei-4008">打样/制版</a>
					<a target="_blank" href="/zhaopin/zhiwei-4003">服装/纺织/皮革工艺师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4004">面料辅料开发/采购</a>
					<a target="_blank" href="/zhaopin/zhiwei-4005">服装/纺织/皮革跟单</a>
					<a target="_blank" href="/zhaopin/zhiwei-4006">质量管理/验货员(QA/QC)</a>
					<a target="_blank" href="/zhaopin/zhiwei-4007">板房/楦头/底格出格师</a>
					<a target="_blank" href="/zhaopin/zhiwei-4009">电脑放码员</a>
					<a target="_blank" href="/zhaopin/zhiwei-4010">纸样师/车板工</a>
					<a target="_blank" href="/zhaopin/zhiwei-4011">裁床</a>
					<a target="_blank" href="/zhaopin/zhiwei-4099">其他(服装/纺织/皮革类)</a>
				</dd>
			</dl>
		</div>
		<div class="clear"></div>
	</div>
</div>