<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="{/$company.company_name/}招聘信息,{/$sitetitle/}" />
 <meta name="description" content="{/$sitetitle/}为您提供：{/$company.company_name/}最新招聘信息,{/$company.company_name/}招聘职位大全,{/$company.company_name/}待遇,电话,地址,邮箱等" />
<title>{/$title/}</title>
<!–[if lt IE9]> 
<script src="{/version file="html5.js"/}"></script>  
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="front.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="comPlain.css"/}"/>

<script type="text/javascript" language="javascript" src="{/version file="jquery-1.8.3.min.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="common.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="dialog.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="ui_validate.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="jquery.form.js"/}"></script>
<script type="text/javascript" language="javascript" src="{/version file="ui_tooltip.js"/}"></script><!--气泡提示-->
<script type="text/javascript" language="javascript" src="{/version file="ui_inputFocus.js"/}"></script><!--输入框获取焦点-->
<style>
  /*=======企业主页======*/
.job_list_table{ overflow:inherit;}
.jobs .bd .table table tbody tr td .jobsNm{width:225px;}
.table td{ overflow:inherit;}
.ax_push{ height:19px;color:#999; line-height:19px; text-align:center}
.ax_pushS,.ax_pushR{width:auto; height:42px; display:block;}
.ax_pushR{margin:-42px auto 0 auto;position:absolute;_margin:-84px auto 0 auto;}
.ax_pushS span,.ax_pushR span{ display:block;width:auto; height:36px; background:#333; color:#fff; line-height:36px; padding:0 5px;}
.ax_pushS i,.ax_pushR i{ display:block;width:11px; height:6px; margin-left:50px; background:url({/$siteurl.style/}/img/salary/imgrNavR.gif) center 0 no-repeat;}
</style>
</head>
<body>
{/include file='header.html'/}
<div class="content" id="content">
	<input type="hidden" id="company_flag" name="company_flag" value="{/$company_flag/}" />
	<section>
    	<div class="comTop">
        	<h2>{/$company.company_name/}</h2>
            <div class="comTopFun">
            	<ul>
                <li><span class="attNum" id="sAttNum" {/if $attentioncount =="0"/}style="display: none"{//if/}><em id="attCount">{/$attentioncount/}</em>人关注</span></li>
                <li id="liAdd" class="hbTip perhbTip zindex" {/if $attentioncompany.attention_id!=""/}style="display:none"{//if/}><a href="javascript:void(0);" class="btn3 btnsF12 att" data-toggle="tooltip" data-placement="bottom" title="加关注后，可以第一时间获得最新职位信息" v="add"><i class="hbFntWes">&#xf055;</i><span>加关注</span></a></li>
                <li id="liCancel" {/if $attentioncompany.attention_id==""/}style="display:none"{//if/}><a href="javascript:void(0);" class="btn3 btnsF12 att" v="cancel" ><i class="hbFntWes green">&#xf058;</i><span>已关注|点击取消</span></a></li>
                <li class="zindex"><a href="javascript:void(0)" id="message" class="btn3 btnsF12"><i class="hbFntWes">&#xf0e5;</i><span>给他留言</span></a></li>
                </ul>
            </div>
        </div>
        <div class="part comInfo" id="p1">
            <div class="hd"><h3><b></b>公司简介</h3></div>
            <div class="bd">
                <div class="basic">
               {/if $company_callings[0]!=""/}
	        		所处行业：
		        	{/foreach $company_callings as $key_callings=>$value_callings/}
						<em>{/get_name calling = $value_callings/}</em>
					{//foreach/}<i>|</i>
				{//if/}
				{/if $company_property != ""/}
					单位性质：<em>{/$company_property/}</em><i>|</i>
				{//if/}
				{/if $company_size != ""/}
					公司规模：<em>{/$company_size/}</em><i>|</i>
				{//if/}
				{/if $company.homepage != ""/}
					公司网址：<em><a href="{/$company.redirect_homepage/}" target="_blank"  rel="nofollow">{/$company.homepage/}</a></em>
				{//if/}</div>
                <div class="txt">
                  <p>{/html_encode content=$company.info/}</p>
                </div>
            </div>
        </div>
        <div class="part jobs" id="p2">
    	<div class="hd"><h3><b></b>正在招聘的职位</h3>
        </div>
        {/if $hasFair==true/}
        <div class="aff"><i class="hbFntWes">&#xf028;</i>本公司已参加“汇博人才市场”{/foreach $fair_scene as $key1=>$value1/}<span class="orange">{/$value1.hold_date/}</span> {//foreach/}现场招聘会，期待与您面对面交流！<a href='{/rewrite type="fairScene" date="{/date("Ymd", strtotime($fair_scene[0].date))/}"/}' target="_blank">查看详情</a></div>
        {//if/}
        {/if $hasjob==false/}
        <div class="noData" >没有正在招聘的职位</div>
        {/else/}
        <div class="bd">
        	<div class="table">
            	<table cellpadding="0" cellspacing="0" width="100%" border="0">
                	<thead>
                    	<tr>
                        	<td valign="middle" width="24%" align="left" >职位名称</td>
                            <td valign="middle" width="14%" align="left">工作地点</td>
                            <td valign="middle" width="50%" align="left">月薪</td>
                            <td valign="middle" width="12%" align="left">招聘人数</td>
                            <td valign="middle" width="17%" align="left">工作经验</td>
                            <td valign="middle" width="10%" align="left">学历要求</td>
                        </tr>
                    </thead>
                    <tbody>
                    	{/foreach $job_list as $key=>$value/}
                    	<tr>
                        	<td valign="middle" align="left"><div class="jobsNm">
								<a href="{/$value['job_link']/}" title="{/$value['station']/}" target="_blank" >{/if $value.job_type=="2"/}
                        		<em>[兼职]</em>
                        		{/else if $value.job_type=="3"/}
                        		<em>[实习]</em>
                        		{//if/}{/$value.station/}</a>{/$value.is_urgent/}
                        	</div>
                        	</td>
                            <td valign="middle" align="left"><div class="jobAdd">{/$value.area_name/}  </div></td>
                            <td valign="middle" align="left">
                                {/if $value.is_salary_show ==0/}
                                    {/if $value.salary_type==1/}
                                        <div class="ax_pushR" style="display:none">
                                          <span>平均收入（底薪+提成）：{/if $value.min_salary == $value.max_salary/}{/$value.min_salary/}{/else/}{/$value.min_salary/}-{/$value.max_salary/}{//if/} 
                                          &nbsp;底薪：{/if $value.base_min_salary == $value.base_max_salary/}{/$value.base_min_salary/}{/else/}{/$value.base_min_salary/}~{/$value.base_max_salary/}{//if/}
                                            </span>
                                          <i></i>
                                        </div>
                                    <span class="ax_pushL">￥{/if $value.min_salary == $value.max_salary/}{/$value.min_salary/}{/else/}{/$value.min_salary/}-{/$value.max_salary/}{//if/}
                                        （{/if $value.base_min_salary == $value.base_max_salary/}{/$value.base_min_salary/}{/else/}{/$value.base_min_salary/}~{/$value.base_max_salary/}{//if/}）</span>
                                    {/else/}
                                         <span class="ax_pushL">￥{/if $value.min_salary == $value.max_salary/}{/$value.min_salary/}{/else/}{/$value.min_salary/}-{/$value.max_salary/}{//if/}</span>
                                    {//if/}
                                {/else/}
                                    面议
                                {//if/}
                            </td>
                            <td valign="middle" align="left"><div class="jobPeo">{/if $value.quantity=="0"/}若干{/else/}{/$value.quantity/}人{//if/}</div></td>
                            <td valign="middle" align="left"><div class="jobExp">
	                            {/if $value.work_year ==""/}
									不限
								{/else/}
									{/$value.work_year/}
								{//if/}</div></td>
                            <td valign="middle" align="left"><div class="jobRec">
	                            {/if $value.degree_name ==""/}
									不限
								{/else/}
									{/$value.degree_name/}
								{//if/}
								</div>
							</td>
                        </tr>
                        {//foreach/}
                    </tbody>
                </table>
            </div>
        </div>
        {//if/}
    </div>
    <div class="part contac" id="p3">
   		<div class="hd"><h3></h3> </div>
   	
        <div class="bd">
           <p>公司地址：{/$company.address/}<a href="javascript:void(0)" id="map_address" target="_blank"><i class="hbFntWes">&#xf041;</i>具体位置</a></p>
        </div>
    </div>
    </section>
</div>
{/include file='footer.html'/}
<section class="floatRT"><a href="{/get_url rule='/about/message' domain='main'/}" target="_blank" class="serviceLink">我有问题要反馈</a><b></b></section>
<script>
$.setIndex("zindex");
$('.hbTip').tooltip({
	selector: "a[data-toggle=tooltip]",html:true  
});

$('#ajaxlogin').click(function() {
	$.showModal('/www/ui/ajaxlogin.html?v=qaaa',{title:'您尚未登录'});
}); 

$(document).ready(function(){
	$('.ax_push').hover(function(){
            $(this).prev().toggle();								
        });
        $('.ax_pushL').hover(function(){
            $(this).prev().toggle();								
        })
});
var attention={
	init:function(){
		$('.att').click(function(){
			var islogin = ajaxCheckPersonLogin();
			if(islogin){
				var company_flag = $('input[name=company_flag]').val();
				var operate = $(this).attr('v');
				var data = {operate:operate,company_flag:company_flag};
				$.post('{/get_url rule="/company/attention"/}',data,function(json){
					if(json&&json.error){
						$.message(json.error,{icon:'warning'});
						return;
					}
					if(operate=='add'){
						$('#liAdd').attr('v','cancel').hide();
						$('#liCancel').attr('v','add').show();
						$('#sAttNum').show();
						$.anchorMsg(json.info);
					}else{
						$('#liAdd').attr('v','cancel').show();
						$('#liCancel').attr('v','add').hide();
						$.anchorMsg(json.info);
					}
					$('#attCount').text(json.attentioncount);
					return;
				},'json');
			}
		});
		$('#map_address').click(function(){
			var map_x = "{/$mapx/}";
			var map_y = "{/$mapy/}";
			var address ="{/$company.address/}";
			if(map_x=="" || map_y==""){
				$('#map_address').attr('href','http://api.map.baidu.com/geocoder?address='+address+'&output=html');
				}
			else{
				$('#map_address').attr('href','http://api.map.baidu.com/marker?location='+map_y+','+map_x+'&title={/$company.company_name/}&content='+address+'&output=html&');	
				}
		});
		$('#message').click(function() {
			var islogin = ajaxCheckPersonLogin();
			if(islogin){
			$.showModal('{/get_url rule="/company/GuestBook/" data="companyflag=$company_flag"/}',{title:'有疑问？给TA留言'});
			}
		});
		$.getJSON('{/get_url rule="/company/CompanyVisit/" data="company_flag=$company_flag"/}');
	}
}
	attention.init();
</script> 
</body>
</html>
