<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>{/$title/}</title>
<!–[if lt IE9]> 
<script type="text/javascript"  src="{/version file="html5.js"/}" ></script>
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="front.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="campus.css"/}" />
<script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='common.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='dialog.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='jquery.form.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='ui_validate.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='ui_inputFocus.js'/}"></script>
<script type="text/javascript">
    window.CONFIG = {
        HOST: '{/$siteurl.style/}',
        COMBOPATH: '/js/v2/'
    }
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file="global.js"/}"></script>
<script type="text/javascript">
        hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
</script>
</head>
<body>
{/include file='new_headsearch_2015.html'/}
<div class="content">
    <div class="bread"><a href="/">汇博人才</a>&gt;<a href="{/get_url rule="/xiaoyuan/"/}">校园招聘</a>&gt;<span>现场回顾</span></div>
    <div class="campus">
    	<div class="left">
        	<div class="artInfo leftPart">
                <div class="bd">
                	{/if $information['hasCover']/}
                	  <div class="bn"><img src="{/$information['big_cover']/}" /></div>
                	{//if/}
                	<h1 id="title">{/$information['title']/}</h1>
                	<div class="txt">
                    	{/html_encode content=$information['content']/}
                    </div>
                    <div class="bot">
                    	<div class="lastUp">最后更新:{/$information['issue_time']/}</div>
                        <div class="share"><b>分享到：</b><a href="javascript:void(0);" class="sina" id="shareSina" title="分享至新浪微博"></a><a href="javascript:void(0);" class="txweibo" id="shareTengXun" title="分享至腾讯微博"></a><a href="javascript:void(0);" class="qzone" id="shareQQ" title="分享至QQ空间"></a><a href="javascript:void(0);" class="renren" id="shareRenRen" title="分享至人人网"></a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
        	<div class="rightPart">
                <div class="rec">
                    <div class="hd">热门推荐</div>
                    <div class="bd">
                        <ul>
                        {/foreach $hasCoverInfors as $information/}       
                        <li><a href="{/get_url rule="/renwufangtan/detail/"/}infoid-{/$information['info_id']/}" target='_blank'><div class="pic"><img src="{/$information['small_cover']/}" /></div><p>{/html_encode content=$information['title']/}</p></a></li>
                        {//foreach/}
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="txtLst">
                	<ul>
                    {/foreach $notHasCoverInfors as $information/} 
                   	 <li><a href="{/get_url rule="/renwufangtan/detail/"/}infoid-{/$information['info_id']/}" target='_blank'>{/html_encode content=$information['title']/}</a></li>
                    {//foreach/} 
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{/include file='footer.html'/}
<section class="floatRT"><a href="{/get_url rule='/about/message' domain='main'/}" target="_blank" class="serviceLink">我有问题要反馈</a><b></b></section>
<script type="text/javascript">
$(document).ready(function(){
	function createTips(){
  	    var strArray = ['赶紧推荐给您的朋友阅读吧。', '分享一下，推荐阅读。'];
  	    return  strArray[Math.round(Math.random())];
	}
	//shareSina,shareTengXun,shareQQ,shareRenRen
     //分享到新浪微博
     $('#shareSina').click(function()
     {
         var tip =  createTips(),
         	acttitle = $('#title').html(),
         	info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 现场回馈)，'
          var href = 'http://service.weibo.com/share/share.php?title=' + encodeURIComponent(info + tip) + '&url=' + encodeURIComponent(window.location.href) + '&source=bookmark';
         $(this).attr({ target: '_blank', href: href });
     });
     //腾讯微博
     $('#shareTengXun').click(function()
     {
         var tip =  createTips(),
         acttitle = $('#title').html(),
     	 info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 现场回馈)，'
         var href = 'http://v.t.qq.com/share/share.php?title=' + encodeURIComponent(info + tip) + '&url=' + encodeURIComponent(window.location.href);
         $(this).attr({ target: '_blank', href: href });
     });
     //QQ空间
     $('#shareQQ').click(function()
     {
         var tip =  createTips(),
         acttitle = $('#title').html(),
     	 info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 现场回馈)，'
         var href = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=' + encodeURIComponent(info + tip) + '&summary=' + encodeURIComponent(info + tip) + '&url=' + encodeURIComponent(window.location.href);
         $(this).attr({ target: '_blank', href: href });
     });
     //人人网 
     $('#shareRenRen').click(function()
     {
         var tip =  createTips(),
         acttitle = $('#title').html(),
     	 info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 现场回馈)，'
         var href = 'http://share.renren.com/share/buttonshare.do?link=' + encodeURIComponent(window.location.href) + '&title==' + encodeURIComponent(info + tip);
         $(this).attr({ target: '_blank', href: href });
     });
});
</script>
</body>
</html>
