{/include_php file='app/controller/footer.php'/}
<div id="sus" class="sus"><a class="backTop hbFntWes" title="返回顶部" href="javascript:void(0);" style="display: none;">&#xf0d8;</a></div>
<footer class="footerBm" style="text-align: center;">
	<div class="footerNav"><a target="_blank" href="{/$domainUrl/}{/get_url rule="/about"/}">关于汇博</a>|<a target="_blank" href="{/$domainUrl/}{/get_url rule="/about/contact"/}">联系我们</a>|<a target="_blank" href="{/$domainUrl/}/qiye/ent49no58.html">诚聘英才</a>|<a target="_blank" href="{/$domainUrl/}{/get_url rule="/about/brand"/}">品牌合作</a>|<a target="_blank" href="{/get_url rule='/about/media' domain='main'/}">媒体合作</a>|<a target="_blank" href="{/$domainUrl/}{/get_url rule="/about/links"/}">友情链接</a><!--|<a target="_blank" href="{/$domainUrl/}{/get_url rule="/about/sitemap/"/}">网站地图</a>-->|<a target="_blank" href="{/$domainUrl/}{/get_url rule="/about/law/"/}">法律声明</a>|<a target="_blank" href="{/$domainUrl/}{/get_url rule="/about/privacy/"/}">隐私政策</a></div>
    <div class="copyright">
    	<p>&nbsp;&nbsp;增值电信业务经营许可证：渝B2-20060063&nbsp;&nbsp;|&nbsp;&nbsp;人才中介服务许可证：渝新委发[2012] 124号&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50010502001182" rel="nofollow" style="color:#666666;">渝公网安备 50010502001182号</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="http://www.beian.miit.gov.cn" rel="nofollow" style="color:#666666;">渝ICP备11002848号</a></p>
        <p>&copy;{/$year/}&nbsp;{/$huibo_title/}&nbsp;版权所有</p>
        <p>招聘单位无权收取任何费用,请求职人员加强自我保护意识,按劳动法规保护自身权益,警惕虚假招聘,避免上当受骗!</p>
    </div>
</footer>
<script type="text/javascript">
function factory($){
	$(window).scroll(function(){
        if ($(document).scrollTop() > 120){
            $('#sus').find('a.backTop').css({'display':'inline-block'});
        }else{
            $('#sus').find('a.backTop').css({'display':'none'});
        }
    });
    $('#sus').find('a.backTop').click(function(){
        $('html,body').animate({ scrollTop: 0 });
    });   
}
</script>
{/include file="statistics.html"/}
