<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{/if $areainfo['area_id']=='1503'/}
		{/if $areainfo['alias'] == 'dy'/}
		<meta name="baidu-site-verification" content="5sgG8Y825T" />
		{/else/}
		<meta name="baidu-site-verification" content="D2foQaI0BC" />
		{//if/}
	{/elseif $areainfo['area_id']=='1502'/}
		{/if $areainfo['alias'] == 'my'/}
		<meta name="baidu-site-verification" content="ryrGKIDjsl" />
		{/else/}
		<meta name="baidu-site-verification" content="L2OR2hrmdJ" />
		{//if/}
	{/elseif $areainfo['area_id']=='1511'/}
	<meta name="baidu-site-verification" content="1iueXIJ5Wk" />
	{/elseif $areainfo['area_id']=='1510'/}
	<meta name="baidu-site-verification" content="70yJuK8ktK" />
	{//if/}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="qc:admins" content="14122575176051276375" />
	<meta name="360-site-verification" content="47ee3f0aaa9451fe2ca4b927e4e444e2" />
	<meta name="keywords" content="{/$areainfo['abbreviation']/}人才网，{/$areainfo['abbreviation']/}招聘网，{/$areainfo['abbreviation']/}招聘，{/$areainfo['abbreviation']/}找工作，{/$areainfo['abbreviation']/}最新招聘信息，{/$areainfo['abbreviation']/}人才招聘信息，汇博网" />
	<meta name="description" content="汇博{/$areainfo['abbreviation']/}人才网为求职者提供最新的{/$areainfo['abbreviation']/}招聘信息，为企业提供优质人才。免费注册投递简历，海量招聘信息任你挑选。汇博{/$areainfo['abbreviation']/}人才网，在{/$areainfo['abbreviation']/}找工作，找人才的理想选择" />
	<meta property="og:image" content="{/$siteurl.style/}/img/huibologo_360.jpg"/>
	<meta http-equiv="x-ua-compatible" content="ie=7" /> <!------兼容ie8写的------>
	<title>{/$areainfo['abbreviation']/}人才网_{/$areainfo['abbreviation']/}招聘网_{/$areainfo['abbreviation']/}工作最新招聘信息 - 汇博网</title>
	<!–[if lt IE9]>
	<script src="{/version file='html5.js'/}"></script>
	<![endif]–>
	<link rel="stylesheet" type="text/css" href="{/version file='base.css,v2-widge.css,v2-resume.css,v2-jobsearch.css,login.css,v2-header.css,newindex.css,province_css.css'/}"/>
	<link rel="stylesheet" type="text/css" href="{/version file='newHeader2019.css'/}" />
	<script type="text/javascript" src="{/version file='version.js'/}"></script>
	<script type="text/javascript">
		window.CONFIG = {
			HOST: '{/$siteurl.style/}',
			COMBOPATH: '/js/v2/'
		}
	</script>
	<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
	<script type="text/javascript" src="{/version file='global.js'/}"></script>
	<script type="text/javascript">
		hbjs.config({
			combos: {
				'@homeSideSortMenu': [
					'product.homeSideSortMenu', 'product.sideMenu.sideSortMenuGroup', 'product.sideMenu.sideSortMenu',
					'product.sideMenu.sideSortMenuData', '@popup'
				]
			}
		});
		hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
	</script>
</head>
<body>
{/include_php file='app/controller/head.php'/}

<!--最顶部导航条  复制的搜索列表页-->
<div class="nav_login">
	<div class="w1000">
		<div id="userEnterBox" class="login_reg">
			<a class="newPhone" href="{/get_url rule='/topicpage/mobile/app' domain='main'/}/index.html" style="margin-right: 15px;float: left;line-height: 28px;color:#999"  target="_blank"><i></i>手机招聘</a>
			<u>|</u>
			<a class="newPhone" href="/app/p/" style="margin-right:15px; margin-left:15px; float: left;line-height: 28px;color:#999"  target="_blank"><i></i>手机求职</a>
			<u>|</u>
			<div class="jobDingYue" style="margin-right: 15px;float: left;line-height: 28px;margin-left:15px;">
				<a href="javascript:;" style="color:rgb(153, 153, 153)" onclick="web_sub()">职位订阅</a>
			</div>
			<u>|</u>
			<div class="log_new">
				<a href="javascript:">企业:</a>
				<a class="cur" href="{/$siteurl.company/}/login">登录</a>
				<span class="slash">/</span>
				<a class="cur" href="{/$siteurl.main/}/company/register">注册</a>
			</div>
			<u>|</u>
			<div class="reg_new">
				<a href="javascript:">求职:</a>
				<a class="cur" href="{/$siteurl.person/}/login">登录</a>
				<span class="slash">/</span>
				<a class="cur" href="{/$siteurl.person/}/register">注册</a>
			</div>
		</div>
		<div class="lgAft" style="padding-top: 0px">
			<div id="user_info_ajax"></div>
			<div class="comLg" style="display:none">
				<ul>
					<li><a href="javascript:void(0);" class="userOut">退出</a></li>
					<li class="line">|</li>
					<li class="user">
						<img src="{/$siteurl.style/}/img/c/new_index/headlogo.png" width="28" height="28" id="comHeadphoto">
						<a target="_blank" href="{/$siteurl.company/}"><span class="comUserName">企业招聘中心</span></a>
					</li>
					<li class="line">|</li>
					<li><a class="newPhone" href="/app/p/" style="margin-right: 0px"><i></i>手机求职</a></li>
					<li class="line">|</li>
					<li><a class="newPhone" href="/topicpage/mobile/app/index.html" style="margin-right: 0px"><i></i>手机招聘</a></li>
				</ul>
			</div>
		</div>
		<div class="new-city-switch" id="js-switch-city">
			<p class="city-defalut"  id="nearCity">
				<span class="cur-city" id="js-city"><font  id="area_name"></font><a href=""> [ 切换城市</a></span>
				
			</p>
			<div class="city-box" id="js-citybox" style="display: none">
				<p class="city-title"><i class="city-icon"></i>当前定位城市<a class="cur-city" href="" id="area_name1"></a></p>
				{/foreach $AreaList as $AreaItem/}
				<dl class="city-item">
					<dt class="city-onelevel"><u></u><a>{/$AreaItem['abbreviation']/}</a></dt>
					<dd class="city-twolevel">
						{/foreach $AreaItem['findcity'] as $cityval/}
						<a{/if $cityval['area_id']!=$areainfo['area_id']/} href="//{/$cityval['alias']/}{/$yuming/}{/if $cityval['area_id']=='0300'/}/?area=chongqing{//if/}"{//if/} {/if $cityval['area_id']==$areainfo['area_id']/}class="cur" style="cursor:default;"{//if/}>{/$cityval['abbreviation']/}</a>
						{//foreach/}

					</dd>
				</dl>
				{//foreach/}

				<p class="outer-text">其他城市正在开通中，敬请期待～</p>
			</div>
		</div>
	</div>
</div>

<!--弹窗切换城市-->
<script type="text/javascript">
	hbjs.use(function($){
		var userEnterBox = $('#userEnterBox,.login_regAge');
		userEnterBox.on('mouseenter mouseleave', '.login,.personage', function(e){
			var target = $(e.currentTarget);
			if(e.type === "mouseenter"){
				target.addClass('hover');
			} else {
				target.removeClass('hover');
			}
		});
		//城市切换
		var cityTrigger = $('#js-city');
		var cityPopup = $('#js-citybox');
		var cityTimer;

		cityTrigger.on('mouseenter', overHandle).on('mouseleave', leaveHandle);

		cityPopup.on('mouseenter', overHandle).on('mouseleave', leaveHandle);

		function overHandle(e){
			cityTimer && clearTimeout(cityTimer);

			cityTrigger.addClass('hover-city');
			cityPopup.show();
		}
		function leaveHandle(e){
			cityTimer && clearTimeout(cityTimer);

			cityTimer = setTimeout(function(){
				cityTrigger.removeClass('hover-city');
				cityPopup.hide();
			}, 100);
		}
		$.post('{/get_url rule="/index/AjaxGetAreainfo"/}',function(data){
                $('#area_name').html(data.abbreviation);
                $('#area_name1').html(data.abbreviation);
                $('#area_name2').html(data.abbreviation);
                $('#nearCity').append(data.nearCity);
                //设置被选中地区
                $('#city_'+data['area_id']).addClass('cur');
                $('#city_'+data['area_id']).css({cursor:'default'});
                $('#city1_'+data['area_id']).addClass('cur');
                $('#city1_'+data['area_id']).css({cursor:'default'});

                $('#main_domain').attr('href',data['domain']);

            },'json'); 
	});
	//地区切换
    function areaToggle(area_id){
        window.location.href = "{/get_url rule='/index/areacutover'/}areaid/"+area_id;
    }


	function thisSetCookie(name, value) { //设置cookie
		var expire = new Date();
		expire.setTime(expire.getTime() + 30 * 86400 * 10000);
		var path ="; path=/";
		expire = '; expires=' + expire.toGMTString();
		document.cookie = name + '=' + escape(value) + expire+path;
	}


	hbjs.use('@jobLazyload, @jobDialog, @actions', function(m){

		var cookie = m['tools.cookie'];
		var $ = m['cqjob.jobLazyload'].extend(m['cqjob.actions'], m['cqjob.jobDialog']);

		$(window).scroll(function(){
			if ($(document).scrollTop() > 120){
				$('a.backTop').css({'display':'block'});
			}else{
				$('a.backTop').css({'display':'none'});
			}
		});

		var hasreadcount = 0;

		//消息提醒的那个啥
		$.getJSON('/msgtip/getMsgs', null, function(json, textStatus) {
			if(json.status){
				$('#web_subscribe_form').after(json.html);
			}
		});

		$(document).on('click',"#msgAltRed",function(){
			var id = $(this).attr("data-id");
			if($(this).attr("data-readtime") != '1') {
				setRead(id);
			}
			$(this).hide();
			$("#msgAlert").addClass('showMsg');
		})

		$(document).on('click',"#msgAlt",function(){
			$(this).hide();
			$("#msgAlert").addClass('showMsg');
			$("#nextmsg").click();
		})

		$(document).on('click','.msgInfor a.close',function(){
			$("#msgAlert").removeClass('showMsg');
			var total = $("span.msgContent").length;
			var leftcount = total- hasreadcount;
			if(leftcount > 0) {
				$("#msgAlt font").html(leftcount>99?"99+":leftcount).parent().show();
			}
		})

		$(document).on('click',"#nextmsg",function(){
			var thisindex = parseInt($("span.msgContent:visible").attr("data-index"));
			thisindex+=1;
			var total = $("span.msgContent").length;
			if(thisindex>=total) return false;
			$("span.msgContent").hide();
			var nextmsg = $("span.msgContent[data-index="+thisindex+"]");
			nextmsg.show();
			if(thisindex==total-1){
				$(this).attr('style','color:#999!important');
			}else{
				$(this).attr('style','');
			}
			if(nextmsg.attr('data-hasread') == 0 && nextmsg.attr('data-readtime') != '1') {
				setRead(nextmsg.attr('data-id'));
			}
		})

		$(document).on('click',"#prevmsg",function(){
			var thisindex = parseInt($("span.msgContent:visible").attr("data-index"));
			thisindex-=1;
			if(thisindex<0) return false;
			$("span.msgContent").hide();
			$("span.msgContent[data-index="+thisindex+"]").show();
			if(thisindex==0){
				$(this).attr('style','color:#999!important');
			}else{
				$(this).attr('style','');
			}

		})

		function setRead(tipmsgid){
			if(!tipmsgid){return false};
			$.ajax({
				url : "{/$siteurl.mian/}/msgtip/setRead",
				type:'get',
				data: {msgtipid:tipmsgid},
				dataType : 'jsonp',
				jsonp:"callback",
				success  : function(data) {
					if(data.status) {
						hasreadcount += 1;
						$("span.msgContent[data-id="+tipmsgid+"]").attr('data-hasread',1);
					}
				}
			});
		}


		user_jianli_status = true;// true: 公开  false: 不公开
		$('.index-gz-list').find('.sub-gz-list').find('a').bind('mousemove',function(){
			if($(this).hasClass('cut')){
				return false;
			}else{
				var thisIndex = $(this).index();
				$(this).addClass('cut').siblings('a').removeClass('cut');
				$('.index-gz-list').find('.sub-gx-list').find('ul').eq(thisIndex).css({'display':'block'}).siblings('ul').css({'display':'none'});
			}
		});


		$('#cityMore').hover(function(){
			$('.cicty-areav').addClass('cicty-areax');
		});
		$('.cicty-areav').mouseleave(function(){
			$(this).removeClass('cicty-areax');
		});
		$('.cicty-areav a').click(function(){
			$(this).addClass('cut').siblings().removeClass('cut');
		});

		$('a.backTop').click(function(){
			$('html,body').animate({ scrollTop: 0 });
		});

		$('.ban_close').click(function(){
			$('.home_bannerBg').slideUp('slow');
		});

		$('.newschx').hover(function(){
			$('.newschSelect').show();
		});
		$('.newschSelect a').click(function(){
			var _this = $(this);
			var v = _this.attr('v');
			$('.sch').hide();
			$('#'+v).show();
			$('.newschSelect').hide();
			_this.parents(".newschSelect").find("input[type='hidden']").val(_this.attr("params"));
		});
		$('.newschSelect').mouseleave(function(){
			$(this).hide();
		});

		$('#areaMore').hover(function(){
			$('.newAreaTitMore').show();
		});
		$('.newAreaTitMore').mouseleave(function(){
			$(this).hide();
		});

		$('nav .lst ul li a').mouseout(function(){
			$(this).find('.newIcon').css({left:"15px"});
		});

		$(".link").on("click", function(e) {
			e.stopPropagation();
			window.open($(this).attr("data-url"));
		});
		$('#close').click(function(){
			$('#weixin').hide();
		});

		$('#btnIndexLogin').mouseOverHide($('#loginContainer'),'loginBigcontainer');
		$('#btnIndexReg').mouseOverHide($('#RegContainer'),'RegBigcontainer');
		$("img.lazy").lazyload({
			effect:"fadeIn",
			failure_limit:5
		});

		$.focusblur('#tSchJob');
		$.focusblur('#tSchCom');
		$.focusblur('#tSchCash');

		//判断登陆
		checkUser();

		$(".pos").mouseenter(function(){
			$(".pos").css("display","block");
		});

		$('#navLst li,.posBox').bind('mouseenter',function(){
			$(this).addClass('show');
		});
		$('#navLst li,.posBox').bind('mouseleave',function(){
			$(this).removeClass('show');
		});

		$('#searchTab').find('.tabT').find('a').click(function(){
			if($(this).hasClass('cu')){
				return false;
			}else{
				var thisIndex = $(this).index();
				$(this).addClass('cu').siblings('a').removeClass('cu');
				$('#searchTab').find('.tabC').find('.tabCon').eq(thisIndex).css({'display':'block'}).
				siblings('.tabCon').css({'display':'none'});
			}
		});

		$('#searchTab').bind('mouseenter',function(){
			$('#searchTab .tabT').css({'display':'block'});
		});
		$('#searchTab').bind('mouseleave',function(e){
			var searchInputID = document.activeElement.id;
			if(searchInputID!="tSchJob" && searchInputID!="tSchCash" && searchInputID != "tSchCom"){
				$("#searchTab .tabT").css({'display':'none'});
			}else{
				preventEvent(e);
			}
		});

		$('#fairTab').find('.tabT').find('li').bind('mousemove',function(){
			if($(this).hasClass('cu')){
				return false;
			}else{
				var thisIndex = $(this).index();
				$(this).addClass('cu').siblings('li').removeClass('cu');
				$('#fairTab').find('.tabC').find('.tabCon').eq(thisIndex).css({'display':'block'}).siblings('.tabCon').css({'display':'none'});
			}
		});

		$('#addTab').find('.tabT').find('li').find('b').bind('click',function(){
			if($(this).parents('li').hasClass('cu')){
				return false;
			}else{
				var thisIndex = $(this).parents('li').index();
				$(this).parents('li').addClass('cu').siblings('li').removeClass('cu');
				$('#addTab').find('.tabC').find('.tabCon').eq(thisIndex).css({'display':'block'}).siblings('.tabCon').css({'display':'none'});
				return false;
			}
		});

		$('.area-btn').hover(function(){
			$('.city-area-list').show();
			$(this).addClass('area-btn-cut');
		},$('.switch-area').mouseleave(function(){
			$('.area-btn').removeClass('area-btn-cut');
			$('.city-area-list').hide();
		}));

		$(".userOut").click(function(){
			$.ajax({
				'url':'/index/signOut',
				'type':'get',
				'dataType':'json',
				'success':function(json){
					if(json.success){
						$('.newfree-post').css('display','block');
						$(".befor,.login_reg").css("display","block");
						$(".comAfter,.psnAfter,.psnLg,.comLg").css("display","none");
						$(".panelBox").css("display","none");
						$('#loginRight').removeClass('rightAfter').addClass('right');
						//免费发布职位连接修改：
						$('#free_put_job').attr('href','{/$siteurl.main/}/company/register');

						//$('#new_hight_search').hide();
						//$('#go_register_person').show();
						//$('#go_register_person').prev().show();

						$.anchorMsg("退出成功");
					}else{
						$.message("退出失败");
					}
				}
			});
			return false;
		});

		$('.cqjop-tips').hover(function(){
			$('.tips-intro').show();
		});
		$('.newLogo').mouseleave(function(){
			$('.tips-intro').hide();
		});

		//右边浮动栏
		$('.popzP').hover(function(){
			$('.popzSpd').toggle();
		});

		//广告位跳转
		$('#slides,#flexBannerList,#recommendSlidesLst,#fullAd,#fstAd,#sndAd,#thrdAd,#recommendCompanies,#lastCompanyPicture').on('click', 'a', function(e){
			var self = $(e.currentTarget);
			var advert_id = self.attr('advert_id');
			var area = self.attr('area');
			var company_flag = self.attr('company_flag');
			var data = {advert_id:advert_id,area:area,company_flag:company_flag};
			$.post('{/get_url rule="/ad/adverVisit"/}',data);
		});

		var _wrap=$('ul.popMList');
		var _interval=2000;
		var _moving;
		_wrap.hover(function(){
			clearInterval(_moving);
		}, function(){
			_moving=setInterval(function(){
				var _field=_wrap.find('li:first');
				var _h=_field.height();
				_field.animate({marginTop:-_h+'px'},600,function(){
					_field.css('marginTop',0).appendTo(_wrap);
				})
			},_interval);
		}).trigger('mouseleave');

		function preventEvent(event){
			var e = window.event || event;
			if(e.stopPropagation){
				e.stopPropagation();
			} else {
				e.cancelBubble = true;
			}
		}

		function checkUser() {
			//判断用户类型
			var type = cookie.get("usertype");
			var isLogin = !!type;
			var userName = type == "c" ? '企业招聘中心' : '我的汇博';//cookie.get("nickname") === undefined ? '我的汇博' : decodeURI(cookie.get("nickname"));
			var userID = cookie.get("userid");
			var headphoto = decodeURIComponent(cookie.get("headphoto"));
			if (!type) {
				$(".befor,.login_reg").css("display", "block");
				$(".comAfter,.comLg,.psnAfter,.psnLg,.psnLg_new").css("display", "none");
			}
			if (type == "c") {
				$(".comAfter,.comLg").css("display", "block");
				$(".befor,.login_reg,.psnAfter,.psnLg").css("display", "none");
				$('#loginRight').removeClass('right').addClass('rightAfter');
				if (headphoto !== undefined && headphoto !== '' && headphoto !== 'undefined') {
					$('#comHeadphoto').attr("src", headphoto);
				}
				//免费发布职位连接修改：
				$('#free_put_job').attr('href', '{/$siteurl.company/}/job/add');

				//$('#go_register_person').hide();
				//$('#go_register_person').prev().hide();

			} else if (type == "p") {
				$('.newfree-post').css('display', 'none');

				//$('.newschHigh').css('display','block');
				//$('#new_hight_search').hide();
				//$('#go_register_person').hide();
				//$('#go_register_person').prev().hide();

				$(".psnAfter,.psnLg_new").css("display", "block");
				$(".befor,.login_reg,.comAfter,.comLg").css("display", "none");
				$(".login_regAge").css("display", "block");
				$('#loginRight').removeClass('right').addClass('rightAfter');
				//$(".psnUserName").html(userName);
				if (headphoto !== undefined && headphoto !== '' && headphoto !== 'undefined') {
					$('#psnHeadphoto').attr("src", headphoto);
				}

				//获取用户信息
				$.post("/loginindex/getinfo", {}, function (data) {
					document.getElementById('user_info_ajax').innerHTML = data.content;
					var userEnterBox1 = $('.login_regAge');
					userEnterBox1.on('mouseenter mouseleave', '.personage', function (e) {
						var target = $(e.currentTarget);
						if (e.type === "mouseenter") {
							target.addClass('hover');
						} else {
							target.removeClass('hover');
						}
					});
					auto_refresh = data.auto_refresh;
                    open_mode = data.open_mode;
					user_jianli_status = document.getElementById('user_jianli_1').value;
					//注册用户退出登录
					$(".userOut").click(function () {
						$.ajax({
							'url': '/index/signOut',
							'type': 'get',
							'dataType': 'json',
							'success': function (json) {
								if (json.success) {
									$('.newfree-post').css('display', 'block');
									$('.newschHigh').css('display', 'none');
									$(".befor,.login_reg").css("display", "block");
									$(".comAfter,.psnAfter,.psnLg,.comLg").css("display", "none");
									$(".panelBox").css("display", "none");
									$(".psnLg_new").css("display", "none");
									$('#loginRight').removeClass('rightAfter').addClass('right');
									//免费发布职位连接修改：
									$('#free_put_job').attr('href', '{/$siteurl.main/}/company/register');

									//$('#new_hight_search').hide();
									//$('#go_register_person').show();
									//$('#go_register_person').prev().show();

									$.anchorMsg("退出成功");
								} else {
									$.message("退出失败");
								}
							}
						});
						return false;
					});
				}, 'json');
			}
		}
	});

var auto_refresh = 0;
var open_mode = 0;

refresh_index('ajaxlogin');

function refresh_index(src){
	var src = src || 'index';// alert(src);return;
	hbjs.use('@confirmBox', function(m){
		var cookie = m['tools.cookie'],
				confirmBox = m['widge.overlay.confirmBox'],
				Dialog = m['widge.overlay.hbDialog'];
		$ = m['jquery'];

		if(src == 'index'){
			_checkRefesh('index');
		} else {
			var cookie = m['tools.cookie'];
			var _isLogin = (cookie.get("usertype") == 'p') ? true : false;
			var _showRefeshConfirm = cookie.get('_hideRefeshConfirm');

			if(_isLogin && (_showRefeshConfirm != 1)&& auto_refresh==1){
				setRefeshConfirmCookie();
				_checkRefesh('ajaxlogin');
			}
		}

		function setRefeshConfirmCookie(){
			var tomorrow = new Date("{/date('Y/m/d 00:00:00',strtotime('+1 day'))/}");
			cookie.set('_hideRefeshConfirm',1,{expires:tomorrow,path:'/',domain:"{/base_lib_Constant::COOKIE_DOMAIN/}"});
		}

		function doRefresh() {
			$.ajax({
				type : "get",
				url :"{/$siteurl.person/}/resume/refresh",
				dataType : "jsonp",
				jsonp: "callbackparam",
				success : function(json){
					if(json.status){
						confirmBox.timeBomb("刷新成功", {
							name : 'success',
							timeout : 2000
						});
						$('#jian_li_shuaxin').hide();
						$('#jianlishuaxin_line').hide();
					} else {
						confirmBox.timeBomb("每天只能刷新一次简历", {
							name : 'warning',
							width : 240,
							timeout : 2000
						});
					}
				},
				error:function(e){
					console.log('ajax fail');
				}
			});
		}

		function _checkRefesh(src1){
			var _src = src1 || 'index';
			$.ajax({
				type : "get",
				url :"{/$siteurl.person/}/index/checkrefesh?src="+_src,
				dataType : "jsonp",
				jsonp: "jsonpCallback",
				success : function(json){
					if(json.status) {
						var tdialog = new Dialog({
							close: 'x',
							idName: 'refresh_dialog',
							title: '温馨提示',
							width: 500
						});
						tdialog.setContent(json.html).show();
						tdialog.after('hide', function(){
							tdialog.destory();
						});
					} else {
						if(_src != 'ajaxlogin') {
							if(open_mode == 1) {
								doRefresh();return;
							}
							confirmBox.confirm('简历当前为未公开状态，确认刷新后，将自动被公开', null, function () {
								this.hide();doRefresh();return;
							}, function() {
								this.hide();
							}, {
								confirmBtn: '<button class="button_a button_a_red">确定</button>',
								cancelBtn: '<button class="button_a cancelbtn">取消</button>',
								width : 320
							});
						}
					}
				},
				error:function(e){
					console.log('ajax fail');
				}
			});
		}

	})
}
</script>
<!--/最顶部导航条-->
<!--logo、搜索、发布职位，登记简历按钮-->
<div class="newheadSch clearfix" style="position: relative;margin-bottom: 0px;z-index: 99">
	<div class="newLogo" style="position:relative;float:left;width:250px">
		<!-- <img src="http://assets.huibo.com/img/index/gif1.gif" style="position: absolute;top:-23px;left:-158px" /> -->
		<a id="main_domain" href="/">LOGO</a>
		<!--<span class="cqjop-tips"></span>-->
		<div class="tips-intro">
			<img src="{/$siteurl.style/}/img/country/newhuibo.png" width="350" height="66" />
			<div>
				<p>原重庆人才网是2002年成立，汇博网是重庆人才网成立十周年（2002年—2012年）之际升级的全新品牌。现已成为重庆地区规模较大的人才招聘网站之一。</p>
			</div>
		</div>
	</div>
	<div class="newSch clearfix" style="width:750px">
		<div class="newSchy clearfix">
			<div class="newfree-bdx">
				<a id="free_put_job" href="{/$siteurl.main/}/company/register" class="newfree-post">免费发布职位</a>
				<a id="new_hight_search" class="newschHigh" href="/jobsearch/advanced/" style="display: none;"></a>
				<a id="go_register_person" href="{/$siteurl.person/}/register/" class="newfree-lgn">登记简历</a>
			</div>
			<div id="search_box" class="hb_ui_v2_searchbox">
				<form>
					<div class="search_tab">
						<a href="javascript:" class="cur" data-value="1">职位</a>
						<a href="javascript:" data-value="2">公司</a>
					</div>
					<div class="clear"></div>
					<div class="inputText">
						<input class="keys" type="text" placeholder="" value="{/if !empty($keyword)/}{/$keyword/}{//if/}"/>
						<label class="hb_ui_checkbox" data-value="3"><em></em>职位全文</label>
						<div id="ui_hbsug_top" class="ui_hbsug ui_hbsug_top"></div>
					</div>
					<input type="button" value="" class="butsub" />
				</form>
			</div>
		</div>
		<p class="newSchTit">
		</p>
	</div>
	<span style="position: absolute; color:#d73937; bottom:74px; right: 0px; font-size: 20px;bottom:65px\9">{/$phone400/}</span>
</div>

<script type="text/javascript">
	hbjs.use('@searchv2', function(m){
		var $ = m['jquery'],
				jobTopSearch = m['product.jobSearch.jobTopSearchV2'];

		var searchConfig = {
			trigger: '.butsub',
			selectedIndex:0,//'0',
			initDataSource: '/head/SearchKeyword',
			dataSource:[
				'/index/auto/?limit=12&timestamp={{timestamp}}&type=job&q={{query}}&callback=jsonpcallback','{/$siteurl.main/}/index/auto/?limit=12&timestamp={{timestamp}}&type=company&q={{query}}&callback=jsonpcallback','{/$siteurl.main/}/index/auto/?limit=12&timestamp={{timestamp}}&type=fulltext&q={{query}}&callback=jsonpcallback'
			],
			url: [
				'/jobsearch/?key={{query}}',
				'/jobsearch/?params=u2&key={{query}}',
				'/jobsearch/?params=u3&key={{query}}'
			],
			placeHolder: [
				'',
				'请输入公司名称',
				''
			]
		};
		//头部搜索
		var search = new jobTopSearch($.extend({
			container: $('#search_box form')
		}, searchConfig));

		search.on('submit', function(e){
			if(e.index == 0 && e.value && e.value != undefined) {
				$.getJSON('{/$siteurl.main/}/head/SaveJobkey/?keyword='+ encodeURIComponent(e.value) + '',function(result){
					window.location.href = e.url;
				});
			}else {
				window.location.href = e.url;
			}
		});

		var searchInput = search.getSearch();
		//searchSelect = search.getSelect();

		searchInput.on('itemAllDelete', function(e){
			$.getJSON('/head/ClearSearchKeywords/');
		});
		searchInput.on('itemDeleted', function(e){
			$.getJSON('/head/DelSearchKeyword/keyword-'+e.value+'');
		});
		searchInput.on('searchItemSelected', function(e){
		});

	});

</script>
<!--/logo、搜索、发布职位，登记简历按钮-->
<!--红色分类菜单导航条-->
<div class="newNavbg clearfix">
	<div class="w1100">
		<a id="subClassify" class="subClassify" href="javascript:;"><i class="arr_type"></i>全部职位分类</a><!--hover-->
		<a target="_blank" href="{/$siteurl.company/}/login">企业服务</a>
		<a target="_blank" href="{/get_url rule='/lietou/'/}">汇博猎头</a>
		<a target="_blank" href="{/get_url rule='/paiqian/'/}">劳务派遣</a>
		<a target="_blank" href="{/get_url rule='/rpo/'/}">招聘外包</a>
		<a target="_blank" href="{/get_url rule='/hrcollege/'/}">HR学院</a>
	</div>
</div>
<div id="subClassifyMenu" class="newLeft" style="display: none">
	<nav>
		<div id="boxNav" class="pos" style="display: block;">
			<div class="lst" id="side_menu_list">
				<ul>
					<li><a href="javascript:" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon"></i><p class="lnk">销售、客服、市场、公关</p></a></li>
					<li><a href="javascript:" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon"></i><p class="lnk">人资、行政、财务、管理</p></a></li>
					<li><a href="javascript:" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon"></i><p class="lnk">生产、工人、质控</p></a></li>
					<li><a target="_blank" href="/it/" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon2"></i><p class="lnk">互联网、游戏、软件</p></a></li>
					<li><a href="javascript:" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon3"></i><p class="lnk">通信、硬件、电子电器</p></a></li>
					<li><a target="_blank" href="/car/" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon4"></i><p class="lnk">汽车、机械</p></a></li>
					<li><a target="_blank" href="/fangdichan/" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon5"></i><p class="lnk">房地产、建筑、物业、装饰</p></a></li>
					<li><a href="javascript:" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon6"></i><p class="lnk">金融、银行、保险</p></a></li>
					<li><a href="javascript:" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon7"></i><p class="lnk">广告、设计、传媒</p></a></li>
					<li><a class="lstLnk" href="/food/" target="_blank"><em class="hbFntWes"></em><i class="newIcon newIcon8" style="left: 15px;"></i><p class="lnk">餐饮、百货、生活服务</p></a></li>
					<li class=""><a href="javascript:" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon9"></i><p class="lnk">医疗、医药</p></a></li>
					<li class=""><a href="javascript:" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon10"></i><p class="lnk">教育、培训、专业服务</p></a></li>
					<li class=""><a href="javascript:" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon11"></i><p class="lnk">能源、化工、服装、环保</p></a></li>
					<li class=""><a href="javascript:" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon12"></i><p class="lnk">进出口、采购、物流、司机</p></a></li>
					<li class=""><a href="javascript:" class="lstLnk"><em class="hbFntWes"></em><i style="left: 15px;" class="newIcon newIcon13"></i><p class="lnk">农林牧渔、实习生、其他</p></a></li>
				</ul>
			</div>
			<div class="lstMaskWhite1"></div>
			<div class="lstMaskGray1"></div>
		</div>
	</nav>
</div>
<div id="side_menu_items" class="posBox"></div>
<script type="text/javascript">
	hbjs.use('@homeSideSortMenu', function(m){

		var $ = m['jquery'];
		var position = m['tools.position'],
				homeSideSortMenu = m['product.homeSideSortMenu'];

		var job = new homeSideSortMenu({
			url: {
				host: '//{/if $areainfo["area_id"]=="0300"/}www{/else/}{/$areainfo['alias']/}{//if/}{/$yuming/}',
				path: '/jobsearch/',
				param: null,
				alias: 'alias',
				selectId: ["1701"]
			},

			isRenderTriggerMenu: false,
			isSpacer: null,
			width:740,
			posY: 162
		});
		job.init();

		var subClassifyMenu = job.get('trigger').closest('#subClassifyMenu'),
				subClassify = $('#subClassify');
		function resetMenuPostion(){
			var pinObj = {
						element: subClassifyMenu,
						x: 0,
						y: 0
					},
					baseObj = {
						element: subClassify,
						x: 0,
						y: '100%'
					};
			position.pin(pinObj, baseObj);
		};

		var subAreas = ['#subClassify', '#subClassifyMenu', '#side_menu_items'],
				mouseSource;

		$(document).on('mouseover', function(e){
			var target = $(e.target);
			resetMenuPostion();
			if(target.closest(subAreas[0]).length){
				if(!mouseSource){
					subClassifyMenu.slideDown('fast');
				} else {
					subClassifyMenu.show();
				}
				mouseSource = true;
			} else if(target.closest(subAreas[1]).length){
				subClassifyMenu.show();
				mouseSource = true;
			} else if(target.closest(subAreas[2]).length){
				subClassifyMenu.show();
				mouseSource = true;
			} else {
				mouseSource = null;
				subClassifyMenu.hide();
			}
		});

		$(window).on('resize', function(){
			resetMenuPostion();
		});
		//去掉1F等楼层链接
		$(".build").find(".hd a").removeAttr("href");
	});
</script>
<!--/红色分类菜单导航条-->
<div class="w1000">
	<!--正文广告图-->

	<div class="fstAd adLst" id="fstAd">
		<ul>
			{/foreach from=$hotRecruitAds item=ad/}
			<li class="{/if $item%5==0/}frist{/elseif $item%5==1/}last{//if/}">
				<div class="pic"><a target="_blank" {/if $ad['is_nofollow'] && $ad['is_nofollow']==1/}rel="nofollow"{//if/}  href="{/$ad["url"]/}" advert_id="{/$ad['advert_id']/}" area="hot_first" company_flag="{/$ad['company_flag']/}"><img title="{/$ad["company_name"]/}" class="lazy" data-original="{/get_assets img="{/$adPath/}{/$ad["img"]/}"/}" src="{/$siteurl.style/}/img/grey.gif"/></a></div>
			</li>
			{//foreach/}
		</ul>
		<div class="clear"></div>
	</div>
	<!--/正文广告图-->
	<style>
		.more{position: absolute; right:0px; top:14px; color:#bbb;}
		.more:hover{color:#0af;}
	</style>
	<!--行业楼层 1F  一共有8层同首页一样-->
	{/foreach from=$industries key=index item=industry/}
	<div class="build" style="position:relative;">
		<a class="more" href="/jobsearch/?v={/$industry['jobsearchCalling']/}">更多职位</a>
		<div class="hd"><em>{/$index+1/}F</em>{/$industry["Url"]/}</div>
		<div class="bd">
			<div class="bdBg">
				<div class="l">
					<div class="tipLnk">
						{/if isset($industry["keywords"])/}
						{/foreach from=$industry["keywords"] item=theKey/}
						<a target="_blank" href='/{/get_url rule="{/$theKey["code"]/}"/}'>{/$theKey["keyword"]/}</a>
						{//foreach/}
						{//if/}
					</div>
				</div>
				<div class="city-joblist-box">
					<ul>
						{/if isset($industry["jobs"])/}
						{/foreach $industry["jobs"] as $itemjob/}
						<li class="cityjob-item">
							<a class="name" target="_blank" href="{/$itemjob['job_link']/}">{/$itemjob['station']/}</a>
							<p class="number">
								<span style="float:right; color:#999;">{/$itemjob['area_work']/}</span>
								<span class="money">
									{/if $itemjob.min_salary == $itemjob.max_salary/}
									￥{/$itemjob.min_salary/}
									{/else/}
									￥{/$itemjob.min_salary/}-{/$itemjob.max_salary/}
									{//if/}
								</span>
								<u></u>
								<span class="year">{/if !empty($itemjob['work_year'])/}{/if intval($itemjob['work_year'])==0/}经验不限{/else/}经验&ge;{/intval($itemjob['work_year'])/}年{//if/}{//if/}</span>
							</p>
							<p class="company_name"><span class="time">{/date('m-d',strtotime($itemjob['refresh_time']))/}</span><span class="text">{/$itemjob['company_shortname']/}</span></p>
						</li>
						{//foreach/}
						{//if/}

					</ul>
				</div>

				<div class="clear"></div>
				<p class="maskLineT"></p><p class="maskLineB"></p>
			</div>
		</div>
	</div>
	{//foreach/}
	<!--行业楼层 1F-->

	<style>
		.letter a {padding: 0 3px;  font-size: 14px;  height: 24px;  line-height: 24px;  display: inline-block;  color: #666;  }
		.letter b {  font-weight: normal;  color: #999;  float: left;  height: 24px;  line-height: 24px;  font-size: 14px;  }
	</style>
	<div class="letter clearfix" style="width:1000px; margin: 20px auto; padding:5px 0 10px 0px;  height: auto;"><b>热门城市:</b>
		<a target="_blank" href="//cd.huibo.com/">成都人才网</a>
		<a target="_blank" href="//gy.huibo.com/">贵阳人才网</a>
		<a target="_blank" href="//my.huibo.com/">绵阳人才网</a>
		<a target="_blank" href="//nanchong.huibo.com/">南充人才网</a>
		<a target="_blank" href="//dy.huibo.com/">德阳人才网</a>
		<a target="_blank" href="//luzhou.huibo.com/">泸州人才网</a>
	</div>
</div>
<!--底部 复制首页底部结构-->
<section class="pageBot">
	<div class="pageBotCon">
		<div class="botInfo">
			<div class="l">
				<dl>
					<dt>求职，找工作</dt>
					<dd><p><a target="_blank" href="{/get_url rule="/resume/manage" domain='person'/}">填写简历 </a></p><p><a target="_blank" onclick="javascript:window.open('//wpa.qq.com/msgrd?v=3&uin=2851501286&site=qq&menu=yes', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" href="javascript:void(0)">求职客服</a></p></dd>
				</dl>
				<dl>
					<dt>招聘，找人才</dt>
					<dd><p><a target="_blank" href="{/$siteurl.company/}">网络招聘服务</a></p><p><a onclick="javascript:window.open('//wpa.qq.com/msgrd?v=3&uin=2851501279&site=qq&menu=yes', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" href="javascript:void(0)">在线咨询</a></p></dd>
				</dl>
				<dl>
					<dt>特色服务</dt>
					<dd><p><a target="_blank" href="{/get_url rule="/hrcollege/"/}">HR学院</a></p><p style="display:none"><a target="_blank" href="{/get_url rule="/zhichang/"/}">职场指南</a></p><p style="display:none"><a target="_blank" href="{/get_url rule="/salary/"/}">薪资查询</a></p></dd>
				</dl>
				<div class="clear"></div>
			</div>
			<div class="c">
				<dl>
					<dt></dt>
					<dd></dd>
				</dl>
			</div>
			<div class="r">
				<dl>
					<dt style="margin:0;">服务热线</dt>
					<dd><p class="tel">{/$phone400/}</p></dd>
				</dl>
				<dl>
					<dt>下载手机客户端</dt>
					<dd><a target="_blank" href="{/get_url rule='/app/p'/}" class="phoneApp"></a></dd>
				</dl>
			</div>
			<div class="clear"></div>
		</div>
		{/if !empty($links->items)/}
		<div class="frdLink" style=" height: auto; min-height:80px; max-height:150px; border-bottom:none;">
			<b style="font-weight: bolder;width: 52px;margin-right: 10px">友情链接:</b>
			<div id="linkScroller" class="linkScroller" style="overflow: visible;">
				<ul style="margin-top: 7px">
					{/foreach from=$links->items item=link/}
					<li><a style="color:#999" target="_blank" href="{/$link["url"]/}">{/$link["site_name"]/}</a></li>
					{//foreach/}
					<li><a style="color:#999" target="_blank" href="{/get_url rule='/about/links/' domain='main'/}">更多...</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		{//if/}

	</div>
</section>

{/include file="footer.html"/}
<style type="text/css">
	.popzSpd{ padding:10px 20px;background:#fff; overflow:hidden; border:1px solid #ececec;width:240px;height:150px; position:fixed;_position:absolute;top:auto;bottom:170px; right:50%; margin:0px -500px 0 0;  *+text-align:left; display:none; z-index:1000;}
	.popzSpd p{ display:block;}
	.popzSpd p img,.popzSpd p span{ display:inline-block; vertical-align:middle; color:#255b77; font-size:16px;}
</style>
<div class="popzSpd">
	<p style="width:239px;">
		<img src="{/$siteurl.style/}/img/index/verson2/popz_phone1.jpg" width="11" height="17" />
		<span>手机APP</span>
		<img src="{/$siteurl.style/}/img/index/verson2/popz_phone2.jpg" width="19" height="17" />
		<img src="{/$siteurl.style/}/img/index/verson2/popz_phone3.jpg" width="16" height="17" style="margin-left:33px;" />
		<span>微信公众号</span>
	</p>
	<div class="popzBode">
		<img src="{/$siteurl.style/}/img/index/verson2/popzSm.png" width="100" height="100" />
		<em></em>
		<img src="{/$siteurl.style/}/img/index/verson2/weixin.png" width="100" height="100" />
	</div>
	<div class="clear"></div>
</div>

<div class="popzLink">
	<div class="qrCode">
		<div class="showQrCode showPhone">
			<img src="{/$siteurl.style/}/img/phone_app.gif" alt="正在加载..." style="margin-left: 4px">
			<div class="bottomText" style="text-align:center">
				<span class="tip">Hot</span>
				<span class="phone">手机APP</span>
			</div>
		</div>
		<div class="showQrCode">
			<img src="{/$siteurl.style/}/img/weixin_03.gif" alt="正在加载..." style="margin-left: 4px">
			<div class="bottomText" style="text-align:center">
				<img src="{/$siteurl.style/}/img/weixin_icon.png" alt="正在加载..." class="weixinIcon">
				<span class="weixin">微信公众号</span>
			</div>
		</div>
	</div>
<!--	<a href="#" class="popzP"><img src="{/$siteurl.style/}/img/index/verson2/popz_phone.jpg" width="39" height="42" /></a>-->
	<a href="{/get_url rule='/about/message' domain='main'/}" style="margin-bottom:5px;" target="_blank" class="popzL">意见<br />反馈</a>
	<a class="backTop hbFntWes" title="返回顶部" href="javascript:void(0);" style="display: none">&#xf0d8;</a>
</div>

<div style="text-align: center">
	<a rel="nofollow" key ="549264da3b05a3da0fbd60db" logo_size="124x47" logo_type="realname" href="//www.anquan.org"><script src="//static.anquan.org/static/outer/js/aq_auth.js"></script></a>
	<!--<iframe frameborder="0" height="90" width="90" allowtransparency="true" scrolling="no" src="//wljg.scjgj.cq.gov.cn/ztgsgl/WebMonitor/GUILayer/eImgMana/gshdimg.aspx?sfdm=120180824132540472208"></iframe>-->
</div>
<!--/底部 复制首页底部结构-->
</body>
</html>
