<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang = "zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="qc:admins" content="14122575176051276375" />
<meta name="360-site-verification" content="47ee3f0aaa9451fe2ca4b927e4e444e2" />
<meta name="keywords" content="重庆人才网，重庆招聘网，重庆招聘会，重庆招聘，重庆找工作，最新招聘信息，汇博网，重庆人才市场，重庆人才招聘信息" />
<meta name="description" content="{/$HuiBoSiteName/}（huibo.com），重庆人才网，重庆招聘网，在重庆找工作的理想选择。汇博人才市场每周二、四、六举办重庆招聘会！查最新重庆人才招聘信息，找重庆人才市场，上汇博网！" />
<meta property="og:image" content="{/$siteurl.style/}/img/huibologo_360.jpg"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><!------定义浏览器的渲染方式------>
<title>重庆人才网_重庆招聘网_重庆找工作最新招聘信息 - {/$HuiBoSiteName/}</title>
<link rel="canonical" href="{/get_url rule='/' domain='main'/}" />
<!–[if lt IE9]>
<script src="{/version file='html5.js'/}"></script>
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file='v2-reset.css,v2-widge.css,v2-header.css,newindex2018.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='newHeader2019.css'/}" />
<script type="text/javascript" src="{/version file='version.js'/}"></script>
<script type="text/javascript">
window.CONFIG = {
	HOST: '{/$siteurl.style/}',
	COMBOPATH: '/js/v2/'
}
</script>
<script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
<script type="text/javascript" src="{/version file='global.js'/}"></script>
<script type="text/javascript">
hbjs.config({
	combos: {
		'@homeSideSortMenu': [
			'product.homeSideSortMenu', 'product.sideMenu.sideSortMenuGroup', 'product.sideMenu.sideSortMenu',
			'product.sideMenu.sideSortMenuData', '@popup'
		]
	}
});
hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
</script>
<style type="text/css">
	.huiboJob{ overflow: hidden;}
	.huiboJob a{ display:block;width:100%; height: 60px; background:url({/$siteurl.style/}/img/zhaopinhui2020.jpg) center top no-repeat;}
	
	a.enterprise_qiye i {background: url({/$siteurl.style/}/img/newindex/enterCompany.png) no-repeat;display: inline-block;width: 18px;height: 17px;vertical-align: -4px;vertical-align: -2px\9;margin-right: 5px;}
	.newHeadtop .newheadMage .log_new a.enterprise_qiye:link {color: #999;cursor: pointer;}
	#userEnterBox .reg_new .jobWanted {margin-right: 0;}
	.jobWanted i {background: url({/$siteurl.style/}/img/newindex/login_register.png) no-repeat;display: inline-block;width: 14px;height: 16px;vertical-align: -4px;vertical-align: -2px\9;margin-right: 5px;}
</style>
</head>
<body>
<!--顶部广告-->
<div class="huiboJob" style="height: 0;">
	<a href="//www.huibo.com/topicpage/jobfair20200216/jobfair1.html" target="_blank"></a>
</div>

<div class="crimeCrackdown" style="background: url({/$siteurl.style/}/img/forbiddenSetNew04.jpg) center top no-repeat;background-size: 100% 100%;">
	<a href="//www.cqjb.gov.cn/ywdt/wxpfjwz/index.html" target="_blank" style="display: block;width:100%; height: 100%;">
		<span class="delcrime">X</span>
	</a>
</div> 
{/include_php file='app/controller/head.php'/}
    <div class="newHeadtop clearfix">
        <div class="newheadMage">
            <div id="userEnterBox" class="login_reg">
                <a class="newPhone" href="{/get_url rule='/topicpage/mobile/app/' domain='main'/}index.html" style="margin-right: 15px;float: left;line-height: 28px;padding-top:2px\9;display:inline-block;color:#999"  target="_blank"><i></i>手机招聘</a>
                <u>|</u>
                <a class="newPhone" href="/app/p/" style="margin-right:15px; margin-left:15px; float: left;line-height: 28px;padding-top:2px\9;display:inline-block;color:#999"  target="_blank"><i></i>手机求职</a>
                <u>|</u>
                <div class="jobDingYue" style="margin-right: 15px;float: left;line-height: 28px;margin-left:15px;padding-top:2px\9;">
                    <a href="javascript:;" style="color:rgb(153, 153, 153)" onclick="web_sub()">职位订阅</a>
                </div>
                <u>|</u>
                <div class="log_new">
                    <!-- <a href="javascript:">企业:</a> -->
                    <a class="enterprise_qiye" href="{/$siteurl.company/}/login"><i></i>企业入口</a>
                    <!-- <span class="slash">/</span> -->
                    <!-- <a class="cur" href="{/$siteurl.main/}/company/register">注册</a> -->
                </div>
                <u>|</u>
                <div class="reg_new">
                    <a href="javascript:" class="jobWanted"><i></i>求职</a>
                    <a class="cur" href="{/$siteurl.person/}/login">登录</a>
                    <span class="slash">/</span>
                    <a class="cur" href="{/$siteurl.person/}/register">注册</a>
                </div>
            </div>
            <div class="lgAft" style="padding-top: 0px">
                <div id="user_info_ajax"></div>
                <div class="comLg" style="display:none">
                    <ul>
                        <li><a href="javascript:void(0);" class="userOut">退出</a></li>
                        <li class="line">|</li>
                        <li class="user">
                            <img src="{/$siteurl.style/}/img/c/new_index/headlogo.png" width="28" height="28" id="comHeadphoto">
                            <a target="_blank" href="{/$siteurl.company/}"><span class="comUserName">企业招聘中心</span></a>
                        </li>
                        <li class="line">|</li>
                        <li><a class="newPhone" href="/app/p/" style="margin-right: 0px"><i></i>手机求职</a></li>
                        <li class="line">|</li>
                        <li><a class="newPhone" href="/topicpage/mobile/app/index.html" style="margin-right: 0px"><i></i>手机招聘</a></li>
                    </ul>
                </div>
            </div>
            <div class="new-city-switch" id="js-switch-city">
                <p class="city-defalut"  id="nearCity">
                    <span class="cur-city" id="js-city"><font id="area_name"></font><a href=""> [ 切换城市</a></span>
                </p>
                <div class="city-box" id="js-citybox" style="display: none">
                    <p class="city-title"><i class="city-icon"></i>当前选择城市<a class="cur-city" href="" id="area_name1"></a></p>
                    {/foreach $AreaList as $AreaItem/}
                    <dl class="city-item">
                        <dt class="city-onelevel"><u></u><a>{/$AreaItem['abbreviation']/}</a></dt>
                        <dd class="city-twolevel">
                            {/foreach $AreaItem['findcity'] as $cityval/}
                            <a{/if $cityval['area_id']!=$areainfo['area_id']/} href="//{/$cityval['alias']/}{/$yuming/}{/if $cityval['area_id']=='0300'/}/?area=chongqing{//if/}"{//if/} {/if $cityval['area_id']==$areainfo['area_id']/}class="cur" style="cursor:default;"{//if/}>{/$cityval['abbreviation']/}</a>
                            {//foreach/}
                        </dd>
                    </dl>
                    {//foreach/}

                    <p class="outer-text">其他城市正在开通中，敬请期待～</p>
                </div>
            </div>
        </div>
    </div>


<!--弹窗切换城市-->
<div class="dialog-city" id="js-dialog-city" style="margin-left: -350px;display: none">
    <div class="dialog-city-title">
        <a class="close" href="">×</a>
        <h3 class="title">切换城市</h3>
    </div>
    <div class="city-box">
        <p class="city-title"><i class="city-icon"></i>当前定位城市<a class="cur-city" href="">{/$areainfo['abbreviation']/}</a></p>
        {/foreach $AreaList as $AreaItem/}
        <dl class="city-item">
            <dt class="city-onelevel"><a href="">{/$AreaItem['abbreviation']/}</a></dt>
            <dd class="city-twolevel">
                {/foreach $AreaItem['findcity'] as $cityval/}
                <a {/if $cityval['area_id']!=$areainfo['area_id']/} href="//{/$cityval['alias']/}{/$yuming/}{/if $cityval['area_id']=='0300'/}/?area=chongqing{//if/}"{//if/} {/if $cityval['area_id']==$areainfo['area_id']/}class="cur" style="cursor:default;"{//if/}>{/$cityval['abbreviation']/}</a>
                {//foreach/}
            </dd>
        </dl>
        {//foreach/}

        <p class="outer-text">其他城市正在开通中，敬请期待～</p>
    </div>
    <div class="city-mask"></div>
</div>
<div id="js-dialog-city2" class="hb_ui_ui-mask" style="width: 100%; height: 100%; display: none; position: fixed; top: 0px; left: 0px; background: rgb(0, 0, 0); opacity: 0.2;filter:alpha(opacity=20);z-index: 998;"></div>


    <div class="newheadSch clearfix" style="position: relative;margin-bottom: 0px;z-index: 99">
        <div class="newLogo" style="position:relative;">
            <a href="{/$siteurl.main/}">LOGO</a>
        </div>
        <div class="newSch clearfix" style="width:730px">
            <div class="newSchy clearfix">
                <div class="newfree-bdx">
                    <a id="free_put_job" href="{/$siteurl.main/}/company/register" class="newfree-post">发布职位</a>
                    <a id="new_hight_search" class="newschHigh" href="/jobsearch/advanced/" style="display: none;"></a>
                    <a id="go_register_person" href="{/$siteurl.person/}/register/" class="newfree-lgn">登记简历</a>
                </div>
                
                <div id="search_box" class="hb_ui_v2_searchbox">
                
                	<form>
                    
                    	<div class="search_tab">
                        
                        	<a href="javascript:" class="cur" data-value="1">职位</a>
                            <a href="javascript:" data-value="2">公司</a>
                        
                        </div>
                        <div class="clear"></div>
                        <div class="inputText">
                        	<input class="keys" type="text" placeholder="春季期间周一至周六上午招聘会" value="{/if !empty($keyword)/}{/$keyword/}{//if/}"/>
                            <label class="hb_ui_checkbox" data-value="3"><em></em>职位全文</label>
                            <div id="ui_hbsug_top" class="ui_hbsug ui_hbsug_top"></div>
                        
                        </div>
                        <input type="button" value="" class="butsub" />
                        
                    </form>
                
                </div>
            </div>
            <p class="newSchTit">
            </p>
        </div>
        <span style="position: absolute; color:#d73937; top:8px; right: 0px; font-size: 20px;bottom:5px\9">{/$phone400/}</span>
        
    
   </div>  
    <div class="newNavbg clearfix">
        <div style="position: relative;z-index: 3">
            <a href="#" class="subClassify">全部职位分类</a>
            <a target="_blank" href="{/$siteurl.company/}/login">企业服务</a>
            <!-- <a target="_blank" href="{/get_url rule='/zhaopinhui/'/}">重庆招聘会</a> -->
            <a target="_blank" href="{/get_url rule='/xiaoyuan/'/}" class="campusMent">校园招聘</a>
            <a target="_blank" href="{/get_url rule='/edu/'/}">汇博教育</a>
            <a target="_blank" href="{/get_url rule='/wellknown/'/}">知名企业</a>
            <a target="_blank" href="{/base_lib_Constant::KUAI_MI_COMPANY_NO_HTTP/}" >快米工作</a>
            <a target="_blank" href="{/base_lib_Constant::JIANZHI_URL_NO_HTTP/}" id="jianzhi" style="padding:0 18px;">汇博兼职</a>
            <a target="_blank" href="{/get_url rule='/' domain='netfair'/}" id="xiaozhao" class="videoJobNav">视频招聘会</a>
        </div>
    </div>
    <div class="newBannerMage clearfix">
        <div class="newLeft">
            <nav>
                <div class="pos" id="boxNav">
                    <div id="side_menu_list" class="lst" id="navLst">
                        <ul>
                            <li class=""><a class="lstLnk" href="javascript:"><em class="hbFntWes"></em><i class="newIcon newIcon" style="left: 15px;"></i><p class="lnk">销售、客服、市场、公关</p></a></li>
                            <li class=""><a class="lstLnk" href="javascript:"><em class="hbFntWes"></em><i class="newIcon newIcon" style="left: 15px;"></i><p class="lnk">人资、行政、财务、管理</p></a></li>
                            <li class=""><a class="lstLnk" href="javascript:"><em class="hbFntWes"></em><i class="newIcon newIcon" style="left: 15px;"></i><p class="lnk">生产、工人、质控</p></a></li>
                            <li class="subPageMenu"><a class="lstLnk" href="/it/" target="_blank"><em class="hbFntWes"></em><i class="newIcon newIcon2" style="left: 15px;"></i><p class="lnk">互联网、游戏、软件</p></a></li>
                            <li class=""><a class="lstLnk" href="javascript:"><em class="hbFntWes"></em><i class="newIcon newIcon3" style="left: 15px;"></i><p class="lnk">通信、硬件、电子电器</p></a></li>
                            <li class="subPageMenu"><a class="lstLnk" href="/car/" target="_blank"><em class="hbFntWes"></em><i class="newIcon newIcon4" style="left: 15px;"></i><p class="lnk">汽车、机械</p></a></li>
                            <li class="subPageMenu"><a class="lstLnk" href="/fangdichan/" target="_blank"><em class="hbFntWes"></em><i class="newIcon newIcon5" style="left: 15px;"></i><p class="lnk">房地产、建筑、物业、装饰</p></a></li>
                            <li class=""><a class="lstLnk" href="javascript:"><em class="hbFntWes"></em><i class="newIcon newIcon6" style="left: 15px;"></i><p class="lnk">金融、银行、保险</p></a></li>
                            <li><a class="lstLnk" href="javascript:"><em class="hbFntWes"></em><i class="newIcon newIcon7" style="left: 15px;"></i><p class="lnk">广告、设计、传媒</p></a></li>
                            <li  class="subPageMenu"><a class="lstLnk" href="/food/" target="_blank"><em class="hbFntWes"></em><i class="newIcon newIcon8" style="left: 15px;"></i><p class="lnk">餐饮、百货、生活服务</p></a></li>
                            <li><a class="lstLnk" href="javascript:"><em class="hbFntWes"></em><i class="newIcon newIcon9" style="left: 15px;"></i><p class="lnk">医疗、医药</p></a></li>
                            <li><a class="lstLnk" href="javascript:"><em class="hbFntWes"></em><i class="newIcon newIcon10" style="left: 15px;"></i><p class="lnk">教育、培训、专业服务</p></a></li>
                            <li><a class="lstLnk" href="javascript:"><em class="hbFntWes"></em><i class="newIcon newIcon11" style="left: 15px;"></i><p class="lnk">能源、化工、服装、环保</p></a></li>
                            <li><a class="lstLnk" href="javascript:"><em class="hbFntWes"></em><i class="newIcon newIcon12" style="left: 15px;"></i><p class="lnk">进出口、采购、物流、司机</p></a></li>
                            <li><a class="lstLnk" href="javascript:"><em class="hbFntWes"></em><i class="newIcon newIcon13" style="left: 15px;"></i><p class="lnk">农林牧渔、实习生、其他</p></a></li>
                        </ul>
                    </div>
                    <div class="lstMaskWhite1"></div>
                    <div class="lstMaskGray1"></div>
                </div>
            </nav>
        </div>
        <div id="side_menu_items" class="posBox"></div>
        
        <div class="newContent">
            <!--大广告位开始-->
            <div class="newcontainer">
                <div class="newexample">
                    <div id="slides">
                        <div class="slides_container">
                            {/foreach from=$sliderAds item=ad/}
                            <div>
                                <a  target="_blank" href="{/$ad["url"]/}" {/if $ad['is_nofollow'] && $ad['is_nofollow']==1/}rel="nofollow"{//if/} advert_id="{/$ad['advert_id']/}" area="index_carousels" company_flag="{/$ad['company_flag']/}">
                                    <img class="slider_ad_item"  src="{/get_assets img="{/$adPath/}{/$ad["img"]/}"/}"  width="500" height="270"/>
                                </a>
                            </div>
                            {//foreach/}
                        </div>
                    </div>

                    <a id="slidesPrev" href="javascript:" class="slidesNavPrev"></a>
                    <a id="slidesNext" href="javascript:" class="slidesNavNext"></a>

                    <div id="slidesPage" class="slidesPage">
                    	 {/foreach from=$sliderAds key=item_id item=slide_item name=sliderads_foreach/}
                         	<a class="{/if $smarty.foreach.sliderads_foreach.first/}current{//if/}" href="javascript:">{/$item_id/}</a>
                         {//foreach/}
                    </div>

                </div>
            </div>

            <div class="index-gz-list">
                <div class="sub-gz-list">
                    <a target="_blank" href="{/$siteurl.main/}/gongzhao/" class="cut">公招信息</a>
                    <a target="_blank" href="{/$siteurl.main/}/jobsearch/?params=m03/" class="mag">名企招聘</a>
                    <a target="_blank" href="{/$siteurl.main/}/jobsearch/?params=m01/" class="mag">急聘专区</a>
                    <a target="_blank" href="{/base_lib_Constant::JIANZHI_URL_NO_HTTP/}" class="mag">最新兼职</a>
                </div>
                <div class="sub-gx-list">
                    <ul style="display: block;" class="sub-listx">
                        {/foreach $public_criut_infos as $k=>$v/}
                        <li><a target="_blank" title="{/$v['title']/}" href="{/$siteurl.main/}/gongzhao/art{/$v['recruit_id']/}.html">{/base_lib_BaseUtils::cutstr($v['title'],18,'utf-8','','…')/}</a></li>
                        {//foreach/}
                        <li class="more"><a target="_blank" href="{/$siteurl.main/}/gongzhao/">+ 更多公招信息</a></li>
                    </ul>
                    <ul style="display: none;" class="sub-listx sub-listx2">
                        {/foreach $_list_famous_company as $k=>$v/}
                        <li><a target="_blank" title="{/$v['company_name']/}"  href="{/$v['compnay_url']/}">
                                {/if !empty($v['company_shortname'])/}
                                    {/base_lib_BaseUtils::cutstr($v['company_shortname'],18,'utf-8','','…')/}
                                {/else/}
                                    {/base_lib_BaseUtils::cutstr($v['company_name'],18,'utf-8','','…')/}
                                {//if/}
                            </a></li>
                        {//foreach/}
                        <li class="more"><a target="_blank" href="{/$siteurl.main/}/jobsearch/?params=m03/">+ 更多名企信息</a></li>
                    </ul>
                    <ul class="sub-listx sub-listx3" style="display: none;">
                        {/foreach $_list_urgent_job as $k=>$v/}
                        <li>
                            <a target="_blank" title="{/$v['station']/}"  href="{/$v['url']/}">{/base_lib_BaseUtils::cutstr($v['station'],18,'utf-8','','…')/}</a>
                            <span>￥{/if empty($v['min_salary'])/}{/$max_salary/}{/else if empty($v['max_salary'])/}{/$min_salary/}{/else/}{/$v['min_salary']/}-{/$v['max_salary']/}{//if/}</span>
                        </li>
                        {//foreach/}
                        <li class="more"><a target="_blank" href="{/$siteurl.main/}/jobsearch/?params=m01/">+ 更多急聘信息</a></li>
                    </ul>
                    <ul style="display: none;" class="sub-listx sub-listx3">
                        {/foreach $_list_jianzhi_job as $k=>$v/}
                        <li>
                            <a target="_blank"  href="{/$v['url']/}">{/base_lib_BaseUtils::cutstr($v['station'],18,'utf-8','','…')/}</a>
                            <span>{/$v['salary_show']/}</span>
                        </li>
                        {//foreach/}
                        <li class="more"><a target="_blank" href="{/base_lib_Constant::JIANZHI_URL_NO_HTTP/}">+ 更多兼职信息</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <div class="newRight">
                <div class="banner">
                    <div class="lst flexBanner">
                        <ul class="slides" id="flexBannerList">
                            {/foreach $ads_recruitment_metting as $ad_recruitment_metting/}
                            <li>
                                <a target="_blank" href="{/$ad_recruitment_metting['url']/}"
                                   advert_id="{/$ad_recruitment_metting['advert_id']/}" area="index_carousels" company_flag="{/$ad_recruitment_metting['company_id']/}">
                                    <img src="{/get_assets img="{/$adPath/}{/$ad_recruitment_metting["img"]/}"/}"/>
                                </a>
                            </li>
                            {//foreach/}
                        </ul>
                    </div>
                </div>
                <!--现场招聘会开始-->
                <div class="fair">
                    <div class="hd">
					<h3 class="yahei">
						<!-- {/get_url rule='/zhaopinhui/'/} -->
						<a href="javascript:void(0);" target="_blank">重庆现场招聘会</a>
					</h3>
					<!-- 春季期间周一至周六上午招聘会 -->
					<p style="color:#999; margin-top:-11px;">暂停举办</p></div>
                    <div class="bd">
                        <div class="tab" id="fairTab" style="display: none;">
                            <div class="tabT">
                                <ul>
                                {/foreach from=$lastestThreeFairs key=fair_index item=fair/}
                                <li {/if $fair_index==0/} class="cu"{//if/}><p class="week">周{/$fair["week"]/}</p><p>{/if $fair["scene_id"]==1211/}{/$fair["showDate"]|date_format:"%m-%d"/}{/else/}{/$fair["date"]|date_format:"%m-%d"/}{//if/}</p></li>
                                {//foreach/}
                                </ul>
                                <div class="more"><a target="_blank" href="{/get_url rule='/zhaopinhui/'/}">更多预告</a></div>
                                <div class="clear"></div>
                            </div>
                            <div class="tabC">
                                {/foreach from=$lastestThreeFairs key=fair_index item=fair/}
                                    <div class="tabCon" {/if $fair_index != 0/}style="display:none;"{//if/}>
                                        <p><a target="_blank" href='{/get_url rule="/zhaopinhui/{/$fair["date"]|date_format:"%Y%m%d"/}{/$fair.scene_id/}/"/}'>
                                                {/$fair["subject"]/}</a>
                                        </p>
                                    </div>
                                {//foreach/}
                            </div>
                        </div>
                        <div class="txt">
                            <p><em class="txtIcon01"></em><span>两江新区龙头寺(汇博人才市场)</span></p>
                            <p><em class="txtIcon02"></em><span>轻轨三号线狮子坪站下车即到</span></p>
                            <p><em class="txtIcon03"></em><span>{/$fairPhone400/}</span></p>
                        </div>
                    </div>
                </div>
                <!--现场招聘会结束-->
                <div class="clear"></div>
            </div>
    </div>
    
    <div class="bn">

        </div>
    </div>
</div>

<div class="pageTop">
<section>
    <hgroup class="content">
        <!--明星雇主-->
        <div class="star_employer_box">
            <i class="star_tips"></i>
            {/if $can_change_star/}
            <i class="star_refresh" id="js_star_refresh"></i>
            <i class="star_more" id="js_star_more"></i>
           {//if/}
            <ul id="star_company_logos_ul">
                {/foreach $star_company_logos as $v/}
                <li>
                    <a target="_blank" href="{/base_lib_Constant::MAIN_URL_NO_HTTP/}/qiye/{/$v['company_flag']/}.html"><img src="{/$ad_logo_path/}{/$v['img_url']/}" /><span>{/$v["img_title"]/}</span></a>
                </li>
                {//foreach/}
            </ul>
        </div>
        
        <!--/明星雇主-->
        <div class="rec">
            <div class="bd">

                <div class="lst flexslider">
                	<div id="recommendSlidesLst" class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" style="width: 4200%;">
                            {/foreach from=$recommendAds item=ad/}
                            <li>
                                <a target="_blank" href="{/$ad['url']/}" {/if $ad['is_nofollow'] && $ad['is_nofollow']==1/}rel="nofollow"{//if/} advert_id="{/$ad['advert_id']/}" area="img_recommend" company_flag="{/$ad['company_flag']/}">
                                    <div class="njmNameXbox njmNameflx">
                                        <p>
                                            {/if $ad['advert_id']/}
                                            <img src="{/get_assets img="{/$adPath/}{/$ad["img"]/}"/}" />
                                            {/else/}
                                                {/if !empty($ad['company_logo_path'])/}
                                                <img src="{/$logo_path/}{/$ad['company_logo_path']/}" />
                                                {/else/}
                                                <img src="{/$siteurl.style/}/img/c/new_index/headlogo.png" />
                                                {//if/}
                                            {//if/}
                                        </p>
                                    </div>
                                    <div class="subBanner subBanflx  {/if empty($ad['company_bright_spot'])/}subBanflxNull{//if/}">
                                        <h2>{/if $ad['company_shortname']/}{/$ad['company_shortname']/}{/else/}{/$ad['company_name']/}{//if/}</h2>
                                        <span>{/$ad['company_bright_spot']/}</span>
                                    </div>
                                </a>
                            </li>
                            {//foreach/}
                        </ul>
                    </div>
                    <div class="flex-direction-nav">
                    	<a id="flexDirectionPrev" class="flex-prev" href="javascript:"></a>
                        <a id="flexDirectionNext" class="flex-next" href="javascript:"></a>
                    </div>

                </div>

            </div>
        </div>
        
    
        <div class="add" id="addTab">
            <div class="tabT" style="display:none;">
            	<ul>
               	<li class="cu"><b>热门招聘</b></li>
               	<li></li>
               	<li></li>
                <li></li>
                <li></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="tabC">
            	<div class="tabCon">
                	<div class="fstAd adLst" id="fstAd">
                    	<ul>
                        {/foreach from=$hotRecruitAds item=ad/}
                        <li>
                           <div class="pic"><a target="_blank" {/if $ad['is_nofollow'] && $ad['is_nofollow']==1/}rel="nofollow"{//if/}  href="{/$ad["url"]/}" advert_id="{/$ad['advert_id']/}" area="hot_first" company_flag="{/$ad['company_flag']/}"><img title="{/$ad["company_name"]/}" class="lazy" data-original="{/get_assets img="{/$adPath/}{/$ad["img"]/}"/}" src="{/$siteurl.style/}/img/grey.gif"/></a></div>
                         </li>
                        {//foreach/}
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="fullBanner" id="fullAd">
                        <ul>
                        {/foreach from=$hotRecruitBigAds item=ad/}
                        <li><a target="_blank" href="{/$ad["url"]/}" {/if $ad['is_nofollow'] && $ad['is_nofollow']==1/}rel="nofollow"{//if/}  advert_id="{/$ad['advert_id']/}" area="hot_second" company_flag="{/$ad['company_flag']/}"><img title="{/$ad["title"]/}" class="lazy" data-original="{/get_assets img="{/$adPath/}{/$ad["img"]/}"/}" src="{/$siteurl.style/}/img/grey.gif"/></a></li>
                        {//foreach/}
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="sndAd adLst" id="sndAd">
                        <ul>
                        {/foreach from=$hotRecruitMiddleAds item=ad/}
                        <li>
                            <div class="pic"><a target="_blank" href="{/$ad["url"]/}" {/if $ad['is_nofollow'] && $ad['is_nofollow']==1/}rel="nofollow"{//if/}  advert_id="{/$ad['advert_id']/}" area="hot_third" company_flag="{/$ad['company_flag']/}"><img title="{/$ad["title"]/}" class="lazy" data-original="{/get_assets img="{/$adPath/}{/$ad["img"]/}"/}" src="{/$siteurl.style/}/img/grey.gif"/></a></div>
                         </li>
                        {//foreach/}
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="thrdAd adLst" id="thrdAd">
                    	<ul>
                        {/foreach from=$hotRecruitBottomAds item=ad/}
                        <li>
                            <div class="pic"><a target="_blank" href="{/$ad["url"]/}" {/if $ad['is_nofollow'] && $ad['is_nofollow']==1/}rel="nofollow"{//if/}  advert_id="{/$ad['advert_id']/}" area="hot_fourth" company_flag="{/$ad['company_flag']/}"><img title="{/$ad["company_name"]/}" class="lazy" data-original="{/get_assets img="{/$adPath/}{/$ad["img"]/}"/}" src="{/$siteurl.style/}/img/grey.gif"></a></div>
                        </li>
                        {//foreach/}
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="keynote">
        	<div class="hd">
            	<h3><b></b><span>推荐企业</span></h3>
                <div class="clear"></div>
            </div>
            <div class="bd hotjob-famous">
            	<ul id="recommendCompanies">
                {/foreach from=$recommendCompanies key=company_index item=recommendCompany/}
                <li>
                    <a target="_blank" class="sub-link" href="{/$recommendCompany["url"]/}" advert_id="{/$recommendCompany['imp_id']/}" area="text_recommend" company_flag="{/$recommendCompany['company_flag']/}"  title="{/$recommendCompany["company_name"]/}">{/if !empty($recommendCompany["company_shortname"])/}{/$recommendCompany["company_shortname"]/}{/else/}{/$recommendCompany["company_name"]/}{//if/}</a>
                    <div class="sub-famous">
                        <img src="{/$siteurl.style/}/img/country/iconJin06.jpg" width="11" height="8" class="famous-img01" />
                        <div class="sub-famous-main">
                            <img src="{/if !empty($recommendCompany['company_logo_path'])/}{/$logo_path/}{/$recommendCompany['company_logo_path']/}{/else/}{/$siteurl.style/}/img/job/newjob/default_logo.png{//if/}" class="famous-img02" width="78" height="78" />
                            <div>
                                <a href="{/$recommendCompany["url"]/}" target="_blank" class="sub-name">{/if !empty($recommendCompany["company_shortname"])/}{/$recommendCompany["company_shortname"]/}{/else/}{/$recommendCompany["company_name"]/}{//if/}</a>
                                <p class="sub-txt">{/$recommendCompany["company_bright_spot"]/}</p>
                                <p>正在招聘职位：<a href="{/$recommendCompany["url"]/}" target="_blank">{/intval($counts[$recommendCompany['company_id']])/}个职位</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                {//foreach/}
                </ul>
                <div class="clear"></div>
            </div>
        </div>

        <div class="trade" id="trade">
            {/foreach from=$industries key=index item=industry/}
            <div class="build">
                <div class="hd"><em>{/$index+1/}F</em>{/$industry["Url"]/}</div>
                <div class="bd">
                    <div class="bdBg">
                        <div class="l">
                            <div class="tipLnk">
                                {/if isset($industry["keywords"])/}
                                {/foreach from=$industry["keywords"] item=theKey/}
                                <a target="_blank" href='/{/get_url rule="{/$theKey["code"]/}"/}'>{/$theKey["keyword"]/}</a>
                                {//foreach/}
                                {//if/}
                            </div>
                        </div>
                        <div class="c">
                            <div class="timeBuild">
                                <dl>
                                <dt></dt>
                                <dd>
                                    <ul>
                                	{/foreach from=$lastestCompanies[$index] key=lastIndex item=lastestCompany/}
                                    {/if $lastIndex < 4/}
                                    <li>
                                    	<a target="_blank" href="{/rewrite type='company' company_id=$lastestCompany["company_id"] company_flag=$lastestCompany["company_flag"]/}" class="comNm">{/if !empty($lastestCompany["company_shortname"])/}{/$lastestCompany["company_shortname"]/}{/else/}{/$lastestCompany["company_name"]/}{//if/}</a>

                                        {/foreach $lastestCompany["jobs"] as $key_job=>$value_job/}
                                        <a target="_blank" href="{/rewrite type='job' job_flag=$value_job['job_flag']/}" class="jobNm">{/$value_job["station"]/}</a>
                                        {//foreach/}

                                    </li>
                                    {//if/}
                                    {//foreach/}
                                    </ul>
                                </dd>
                                </dl>
                            </div>
                            <div class="timeBuild">
                                <dl>
                                <dt>

                                </dt>
                                <dd>
                                    <ul>
                                    {/if count($lastestCompanies[$index])>4/}
                                    {/foreach from=$lastestCompanies[$index] key=lastIndex item=lastestCompany/}
                                    {/if $lastIndex>=4/}
                                    <li>
                                    	<a target="_blank" href="{/rewrite type='company' company_id=$lastestCompany["company_id"] company_flag=$lastestCompany["company_flag"]/}" class="comNm">{/if !empty($lastestCompany["company_shortname"])/}{/$lastestCompany["company_shortname"]/}{/else/}{/$lastestCompany["company_name"]/}{//if/}</a>
                                    	{/foreach $lastestCompany["jobs"] as $key_job=>$value_job/}
                                        <a target="_blank" href="{/rewrite type='job' job_flag=$value_job['job_flag']/}" class="jobNm">{/$value_job["station"]/}</a>
                                        {//foreach/}
                                    </li>
                                    {//if/}
                                    {//foreach/}
                                    {//if/}
                                    <!-- <li><a href="#">更多</a></li> -->
                                    </ul>
                                </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="r">
                            <div class="pic buildPic">
                                <ul id="lastCompanyPicture">
                                {/foreach from=$lastestCompanyPictures[$index]["ads"] item=ad/}
                                <li><a target="_blank" {/if $ad['is_url']/}rel="nofollow"{//if/} href="{/$ad['url']/}" advert_id="{/$ad['recommend_id']/}" area="calling" company_flag="{/$ad['company_flag']/}"><img title="{/$ad["title"]/}" class="lazy" data-original="{/get_assets img="{/$callingAdPath/}{/$ad["recommend_img_url"]/}"/}" src="{/$siteurl.style/}/img/grey.gif"/></a></li>
                                {//foreach/}
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <p class="maskLineT"></p><p class="maskLineB"></p>
                    </div>
                </div>
            </div>
            {//foreach/}
        </div>
        <div class="letter clearfix" style="height: auto"><b>按首字母查找:</b>
            {/foreach from=$jobSearchUrls key=url_index item=jobSearchUrl/}
            {/if $url_index != 0/}<i>|</i>{//if/}<a target="_blank" href="{/$jobSearchUrl[1]/}">{/$jobSearchUrl[0]/}</a>
            {//foreach/}
        </div>

        <div class="letter clearfix" style="margin: 10px 0;height: auto"><b>热门城市:</b>
            <a target="_blank" href="//cd.huibo.com/">成都人才网</a>
            <a target="_blank" href="//gy.huibo.com/">贵阳人才网</a>
            <a target="_blank" href="//my.huibo.com/">绵阳人才网</a>
            <a target="_blank" href="//nanchong.huibo.com/">南充人才网</a>
            <a target="_blank" href="//dy.huibo.com/">德阳人才网</a>
            <a target="_blank" href="//luzhou.huibo.com/">泸州人才网</a>
        </div>

        <div class="letter clearfix" style="margin: 10px 0;height: auto"><b>按地区查找:</b>
            {/foreach from=$areaJobSearchUrls key=url_index item=areaJobSearchUrl/}
            {/if $url_index != 0/} {//if/}<a target="_blank" href="{/$areaJobSearchUrl['url']/}">{/$areaJobSearchUrl['area_name']/}{/if $areaJobSearchUrl['type']==1/}招聘{/else/}人才网{//if/}</a>
            {//foreach/}
        </div>

    </hgroup>
</section>
</div>
<section class="pageBot">
	<div class="pageBotCon">
    	<div class="botInfo">
        	<div class="l">
            	<dl>
                <dt>求职，找工作</dt>
                <dd><p><a target="_blank" href="{/get_url rule="/resume/manage" domain='person'/}">填写简历 </a></p><p><a target="_blank" href="/qiuzhi/">职位分类</a></p><p><a target="_blank" href="{/get_url rule="/xiaoyuan/"/}">校园招聘</a></p><p><a target="_blank" onclick="javascript:window.open('//wpa.qq.com/msgrd?v=3&uin=2851501286&site=qq&menu=yes', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" href="javascript:void(0)">求职客服</a></p></dd>
                </dl>
                <dl>
                <dt>招聘，找人才</dt>
                <dd><p><a target="_blank" href="{/$siteurl.company/}">网络招聘服务</a></p><p><a onclick="javascript:window.open('//wpa.qq.com/msgrd?v=3&uin=2851501279&site=qq&menu=yes', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" href="javascript:void(0)">在线咨询</a></p></dd>
                </dl>
                <dl>
                <dt>现场招聘会</dt>
                <dd><p><a target="_blank" href="{/get_url rule="/zhaopinhui/"/}">汇博人才市场</a></p><p><a target="_blank" href="{/get_url rule="/zhaopinhui/notified"/}">参会指南</a></p><p><a target="_blank" href="{/get_url rule="/zhaopinhui/traffic"/}">位置/交通</a></p><p><a target="_blank" href="{/get_url rule="/zhaopinhui/enterprise"/}">在线订展</a></p></dd>
                </dl>
                <dl>
                <dt>特色服务</dt>
                <dd><p><a target="_blank" href="{/get_url rule="/hrcollege/"/}">HR学院</a></p><p><a target="_blank" href="{/get_url rule="/shuangxuan/"/}">高校双选会</a></p><p style="display:none"><a target="_blank" href="{/get_url rule="/zhichang/"/}">职场指南</a></p><p style="display:none"><a target="_blank" href="{/get_url rule="/salary/"/}">薪资查询</a></p></dd>
                </dl>
                <div class="clear"></div>
            </div>
            <div class="c">
            	<dl>
                <dt></dt>
                <dd></dd>
                </dl>
            </div>
            <div class="r">
            	<dl>
                <dt style="margin:0;">服务热线</dt>
                <dd><p class="tel">{/$phone400/}</p></dd>
                </dl>
                <dl>
                <dt>下载手机客户端</dt>
                <dd><a target="_blank" href="{/get_url rule='/app/p'/}" class="phoneApp"></a></dd>
                </dl>
            </div>
            <div class="clear"></div>
        </div>
        <div class="frdLink" style=" height: 150px;">
        	<b style="font-weight: bolder;">友情链接:</b>
        	<div id="linkScroller" class="linkScroller" style="overflow: visible;">
        	<ul>
        		{/foreach from=$links->items item=link/}
        		 <li><a style="color:#999" target="_blank" href="{/$link["url"]/}">{/$link["site_name"]/}</a></li>
                {//foreach/}
                <li><a style="color:#999" target="_blank" href="{/get_url rule='/about/links/' domain='main'/}">更多...</a></li>
        	</ul>
        	</div>
            <div class="clear"></div>
        </div>
    </div>
</section>
{/include file="footer.html"/}

<div class="popzSpd">
	<p style="width:239px;">
    	<img src="{/$siteurl.style/}/img/index/verson2/popz_phone1.jpg" width="11" height="17" />
        <span>手机APP</span>
        <img src="{/$siteurl.style/}/img/index/verson2/popz_phone2.jpg" width="19" height="17" />
        <img src="{/$siteurl.style/}/img/index/verson2/popz_phone3.jpg" width="16" height="17" style="margin-left:33px;" />
        <span>微信公众号</span>
    </p>
    <div class="popzBode">
    	<img src="{/$siteurl.style/}/img/index/verson2/popzSm.png" width="100" height="100" />
        <em></em>
        <img src="{/$siteurl.style/}/img/index/verson2/weixin.png" width="100" height="100" />
    </div>
    <div class="clear"></div>
</div>



<div class="popzLink">
    <div class="qrCode">
        <div class="showQrCode showPhone">
            <img src="{/$siteurl.style/}/img/phone_app.gif" alt="正在加载..." style="margin-left: 4px">
            <div class="bottomText" style="text-align:center">
                <span class="tip">Hot</span>
                <span class="phone">手机APP</span>
            </div>
        </div>
        <div class="showQrCode">
            <img src="{/$siteurl.style/}/img/weixin_03.gif" alt="正在加载..." style="margin-left: 4px">
            <div class="bottomText" style="text-align:center">
                <img src="{/$siteurl.style/}/img/weixin_icon.png" alt="正在加载..." class="weixinIcon">
                <span class="weixin">微信公众号</span>
            </div>
        </div>
    </div>
	<a href="//wpa.qq.com/msgrd?v=3&amp;uin=2851501286&amp;site=qq&amp;menu=yes" target="_blank"><img src="{/$siteurl.style/}/img/index/homeContact.png" width="39" height="39" /></a>
<!--	<a href="javascript:void(0);" class="popzP"><img src="{/$siteurl.style/}/img/index/verson2/popz_phone.jpg" width="39" height="42" /></a>-->
    <a href="{/get_url rule='/about/message' domain='main'/}" style="margin-bottom:5px;" target="_blank" class="popzL">意见<br />反馈</a>
    <a href="javascript:void(0);" style="margin-bottom:5px;" class="crimePopz">幸福<br />江北</a>
    <a class="backTop hbFntWes" title="返回顶部" href="javascript:void(0);" style="display: none">&#xf0d8;</a>
</div>

<form id="web_subscribe_form" action="//www.huibo.com/jobsearch/" method="post"><input type="hidden" name="subscribe_origin" value="nosearchpage"></form>

<!--消息提醒的那个啥-->
<p align="center">
<a rel="nofollow" key ="549264da3b05a3da0fbd60db" logo_size="124x47" logo_type="realname" href="//www.anquan.org"><script src="//static.anquan.org/static/outer/js/aq_auth.js"></script></a>
</p>

<script type="text/javascript">
	//刷新明星雇主
	var refreshStarEpy = '{/base_lib_Constant::MAIN_URL_NO_HTTP/}';
	var starEpyImg = '{/$ad_logo_path/}';
	//{/$siteurl.main/}www.huibo.com
	var homeLink = '{/$siteurl.main/}';
	//{/$siteurl.style/}样式目录
	var homeStyle = '{/$siteurl.style/}';
	//{/$siteurl.person/}跳转到个人
	var personLink = '{/$siteurl.person/}';
	//{/$siteurl.company/}跳转到企业
	var companyLink = '{/$siteurl.company/}';
        
        var feedBackLink        = '{/$siteurl.main/}/personplan/GetFeedBackData/';
        var feedBackSetLink     = '{/$siteurl.main/}/personplan/setFeedBackData/';
    hbjs.use('@jobDialog, @actions', function(m){
        var $ = m['cqjob.actions'].extend(m['cqjob.jobDialog']);
        $('.slider_ad_item').on('click', function () {
            var url = '{/get_url rule="/ad/PersonVisit"/}';
            var parent_a = $(this).parent();
            $.ajax({
                url: url,
                type: "post",
                data: {advert_id:parent_a.attr('advert_id')},
                dataType: "json",
                success: function (json) {
                },
            });
        });
    });

</script>
<!--//修改20190521---xiaofei-->
<script type="text/javascript" src="{/version file='home_rs.js'/}"></script>
</body>
</html>
