<style type="text/css">
    .step-box .name em{display:inline-block; vertical-align:middle; width:22px; height:22px; background:url({/$siteurl.style/}/img/v2/resume/steel04.png) 0 -38px no-repeat; padding-right:8px; margin-top:-2px;#margin-top:0px}
    .step-box{ height:40px; border-radius:4px 4px 0 0; line-height:40px; padding:15px 0; background:#e8f5fe}
    .link_select{margin:20px auto;}
    .link_select dd{padding:20px;float: left;width:190px;color:#666}
    .link_select dd a{display: block;text-align: center;padding:7px 0;font-size:14px;margin-bottom: 10px}
</style>
<div style="text-align:center;" class="step-box clearfix">
    <h3 id="registertitle" class="name"><em></em><span>恭喜你，简历创建成功！</span></h3>
</div>	
<dl class="clearfix link_select">
    <dd>
        <a href="javascript:" class="btn3 btnsF12" onclick="window.location.reload();">返回</a>
    </dd>
    <dd>
        <a href="{/get_url rule="/person/createworkandedu/" data="resumeid=$resume_id" domain='person'/}" class="btn1 btnsF12" target="_blank">完善简历</a>
        <p>完善工作经历、教育背景等信息，企业很重视哦！</p>
    </dd>
</dl>