<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>汇博网_注册</title>
<!–[if lt IE9]>
<script src="{/version file='html5.js'/}"></script>
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='icons.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='login.css'/}" />
<script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='common.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='dialog.js'/}"></script>
</head>
<body>
<header>
	<div class="regGuHd">
    	<div class="logo"><a href="{/base_lib_Constant::MAIN_URL_NO_HTTP/}"></a></div>
    </div>
</header>
<section class="content">
	<div class="regGu">
        <div class="pRegGu">
            <div class="pBox">
                <div class="regTxt">
                    <dl>
                        <dt class="tit">在汇博<em class="green">找工作</em></dt>
                        <dd>
                            <p>每天数万个真实岗位，总有适合您的好工作</p>
                            <p>向您心仪的职位投递简历，好机会自己掌握</p>
                            <p>每天数万企业主动搜索简历，好工作主动找到您</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="{/base_lib_Constant::PERSON_URL_NO_HTTP/}/register" class="btn4 btnsF16">立即注册</a></dt>
                        <dd>已有账号？<a href="{/base_lib_Constant::PERSON_URL_NO_HTTP/}/login">立即登录</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="cRegGu">
        	<div class="cBox">
                <div class="regTxt">
                    <dl>
                        <dt class="tit">在汇博<em class="blue">找人才</em></dt>
                        <dd>
                            <p>庞大人才库，主动出击锁定适合人才</p>
                            <p>易用的招聘管理系统，轻松招聘，快乐工作</p>
                            <p>求职者主动投递简历，优秀人才主动找上门</p>
                        </dd>
                    </dl>
                    <dl>
                        <dt><a href="{/base_lib_Constant::COMPANY_URL_NO_HTTP/}/register" class="btn1 btnsF16">立即注册</a></dt>
                        <dd>已有账号？<a href="{/base_lib_Constant::COMPANY_URL_NO_HTTP/}/login">立即登录</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
<script type="text/javascript">	
$(document).ready(function(){

});
</script>
</body>
</html>


