<style>
	#validateCode {padding:10px 10px 0px 10px; overflow:hidden;}
	.vcode {width:80px;height: 26px;line-height: 26px;text-indent: 0.5em;}
	.vcode,img,a{ display: inline-block;vertical-align: middle;}
	.vcodBtn{ display: block;width:80px; height: 26px; background-color: #3d86bc; color: #fff; text-align: center; text-decoration: none; line-height: 26px;}
	.vcodBtn:active{ background-color: #1368a9;}
	.btn1.vbtn{padding: 5px 15px;line-height: 24px; height: 24px; margin:10px 0 5px 0px;}
	.err {color: red; margin-left: 10px}
</style>
<div id='validateCode'>
	<p>{/$text/}</p>
	<form id="formCode" style="overflow:hidden">
		<input type="hidden" name="txtSeed" value="{/$seed/}" />
		<input type="hidden" name="mobile_phone" value="{/$mobile/}" />
		<input type="hidden" id = "vali_code_count_temp" name="vali_code_count_temp" value="{/$vali_code_count_temp/}" />
		<input type='text' placeholder="验证码" name="txtCode" class="vcode"/>
		<img class="vcode" src="{/get_url rule="/register/verify/" domain="company" data="seed={/$seed/}"/}" />
		<a href='javascript:void(0)' class='change'>换一换</a>
	</form>
	<p class="err" style="display:none"></p>
	<a href="javascript:void(0)" id="submit" class="btn1 btnsF16 vbtn">确&nbsp;认</a>
</div>
<script type="text/javascript">
	$("#validateCode").on("click", ".change", function() {
		$("img.vcode").attr('src', "{/get_url rule="/register/verify/" domain="company" data="seed={/$seed/}"/}-r-"+Math.random());
	});

	$("#submit").on("click", function() {
		var _this = $(this);
		$.ajax({
			url : "{/get_url rule="/company/SendAuthCodeV2/"/}",
			type : "POST",
			data : $("#formCode").serialize(), 
			dataType : "JSON",
			success : function(data) {
				if (data && !data.status) {
					$(".err").text(data.msg);
					$(".err").show();
                                        $("#formCode .change").click();
				} else {
                                       // $('._dialogClose, ._dialogCancel, ._dialogOk').click();
                                       _this.closeDialog();
					$('#vali_code_count').val(parseInt($('#vali_code_count').val())+1);
                                        $('.authCodex').addClass('authCodeGray').html('<b>60</b>秒后重新获取验证码');
                                        interval = window.setInterval(coundownV2,1000);
				}
			}
		});
	});

	$(".vcode").on("focus", function() {
		$(".err").hide();
	});
</script>
