 <link rel="stylesheet" type="text/css" href="{/version file='base.css'/}" />
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <style>
.pReg .regL .thrdLogin{ margin:0; padding:0;}
.thrdLogin{ background:#e8f5fe; text-align:center; font-size:16px;}
.regL{ float:none;}
.reg{ border-radius:4px;}
.edSucTit{ background:#e8f5fe;}
.edSucTit2{ padding:30px 0;}
.subSpan{ text-align:left;}
div.content{width:100%;}
.edSucTit2 b{ color:#3d84b8;}
.edSucTit em, .edSucTit span{ font-family:"微软雅黑";}
.edSrightx{ padding-bottom:16px;}
.edSright p span.subSpan{ font-size:16px;width:352px;}
.edSright p a{ height:30px; line-height:30px; font-size:14px;}
</style>


<div class="content" >
	<div class="reg pReg">
    	<div class="regL" style="width:1000px;">
        	
            <div class="edSright edSrightx" style="font-size:30px;">
                <p style="text-align:left;padding:28px 20px 0px 20px;"><span style="font-size:18px;display:block; width:360px;">{/if !empty($user_name)/}<label style="color:red">[{/$user_name/}]</label>我们在汇博人才库中发现到一份可能是您的简历，去看看是不是您的简历吧{/else/} 我们在汇博人才库中发现到一份可能是您的简历，去看看是不是您的简历吧{//if/}</span></p>
            </div>
            <div class="edSright edSrightx">
                <p style="text-align:center;"><a class="btn1 btnsF14" href='{/get_url rule="/outsideresume/Preview/" domain="person" data="resume_id={/$resume_id/}"/}' style="width:150px;height:36px;font-size:18px;" id="btnRegisterApplyJob">预览简历</a></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
