<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title></title>
</head>
<body>
<style>
.errBox{font-size:14px;}
.errBox .errBtn{margin:10px 0 0 0; text-align:right;}
</style>
<div class="dgBox errBox" style="width:{/if empty($width)/}300{/else/}{/$width/}{//if/}px">
	<div class="errTxt"><p>{/$message/}</p></div>
	<div class="errBtn"><a href="{/$url/}" class="btn1 btnsF12 cancel">确定</a></div>
</div>
</body>
</html>