<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="重庆人才网,重庆人才网最新信息,重庆找人才,重庆招聘网,重庆招聘,重庆求职,重庆招聘会,重庆找工作,重庆人才市场,人事人才网" />
<meta name="description" content="{/$HuiBoSiteName/}({/$huibo_homepage/}),原重庆人才网(cqjob.com),重庆招聘,求职的靠谱选择,网上的重庆人才市场。汇博重庆人才网是重庆地区的专业招聘网站,重庆找人才,重庆找工作,查询重庆人才网最新招聘信息,就选汇博重庆人才网！" />
<title>重庆人才网_重庆招聘网_重庆人才网最新招聘信息_重庆人事人才网_重庆人才市场_重庆找工作-重庆{/$HuiBoSiteName/}</title>
<!–[if lt IE9]>
<script src="{/version file='html5.js'/}"></script>
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}" />
<script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='jquery.cookie.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='common.js'/}"></script>
</head>
<body>
<style>
.testPointBox{width:550px; padding:20px 50px 30px 50px; zoom:1; line-height:24px; margin:30px auto; border:1px solid #dadada; text-align:left;}
.testPointBox .hd{font-size:14px;}
.testPointBox .hd .titTxt{font-size:20px; font-family:"微软雅黑"; line-height:40px;}
.testPointBox .bd{margin-top:20px; font-size:12px;}
.testPointBox .btn{margin-top:20px; text-align:center;}
.testPointBox .btn a.btnsF14{padding:0 50px;}
</style>
<div class="dgBox testPointBox">
	<div class="testPointTxt">
    	<div class="hd">
        	<p class="titTxt">欢迎来到全新的招聘中心</p>
            <p>全新招聘中心将于2014年1月18日正式与您见面，在这之前，您访问的数据均为测试数据，不会对您的真实数据产生任何影响，请放心体验!</p>
        </div>
        <div class="bd">
        	<p><b>体验须知:</b></p>
            <p>1、向求职者发送邀请时，求职者不会接收到任何信息。</p>
            <p>2、新增、删除、修改相关数据，均不会改变您的真实数据。</p>
            <p>3、在2014年1月18日前，在这里的所有操作，均不会得到保留。</p>
        </div>
    </div>
    <div class="btn"><a class="btn1 btnsF14" href="//test.huibo.com/">立即体验</a></div>
</div>
</body>
</html>
