<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>汇博网_招聘中心_职位搜索</title>
<!–[if lt IE9]>
<script src="{/version file='html5.js'/}"></script>
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='icons.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='front.css'/}" />
<link rel="stylesheet" type="text/css" href="{/version file='jobsearch.css'/}" />

<script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='common.js'/}"></script>
<script type="text/javascript" language="javascript" src="{/version file='dialog.js'/}"></script>
</head>
<body>
{/include file='header.html'/}
<div class="content">
	<div class="bread">
        <div class="breadL">
        	<a href="#" class="turL arr hbFntWes">&#xf053;</a>
            <a href="#" class="turR arr hbFntWes">&#xf054;</a>
        	<div class="seld">
            	<ul style="width:1500px;left:-212px;">
                <li><a href="#" class="noBod">重庆招聘</a></li><li class="line">&gt;</li><li><a href="#" class="noBod">一级类别</a></li><li class="line">&gt;</li><li><a href="#" class="noBod">二级类别</a></li><li class="line">&gt;</li><li><a href="#"><span>月薪：1500-2500</span><em>×</em></a></li><li><a href="#"><span>行业：快速消费品(食品、贸易)</span><em>×</em></a></li><li><a href="#"><span>月薪：1500-2500</span><em>×</em></a></li><li><a href="#"><span>行业：快速消费品(食品、贸易)</span><em>×</em></a></li><li><a href="#"><span>福利：五险一金,包吃住</span><em>×</em></a></li><li><a href="#"><span>关键字：没有不透风的墙</span><em>×</em></a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="breadC">共<em class="orange">2154</em>个职位</div>
        <div class="breadR"><a href="#">清空筛选项</a></div>
        <div class="clear"></div>
    </div>
    <div class="hotKey"><b>您是不是想找:</b><p><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a></p><div class="clear"></div></div>
    <div class="fter">
    	<div class="fterCon">
        	<dl class="zwfl">
            	<dt>职位分类:</dt>
                <dd>
                	<div class="jobSort"><a href="#" class="cu">不限</a><a href="#">计算机/互联网类</a><a href="#">通信/电子类</a><a href="#">生产/营运/汽车类</a><a href="#">机械/设备/技工类</a><a href="#">高级管理/人事/行政类</a><a href="#">房地产/建筑/装修类</a><a href="#">销售类</a><a href="#">会计/金融/银行类</a><a href="#">广告/市场/媒体/艺术类</a><a href="#">化工/能源类</a><a href="#">采购/物流类</a><a href="#">贸易/百货类</a><a href="#">生物/制药/医疗/护理类</a><a href="#">咨询/法律/教育/科研类</a><a href="#">生活服务类</a><a href="#">公务员/翻译/其他类</a>
                    </div>
                </dd>
            </dl>
        	<dl class="gwjb">
            	<dt>岗位级别:</dt>
                <dd>
                	<ul>
                    <li class="all"><a href="#">不限</a></li>
                    <li><a href="#">普通员工</a></li>
                    <li><a href="#">资深(非管理岗)</a></li>
                    <li class="cu"><a href="#">部门经理/主管</a></li>
                    <li><a href="#">总监/副总</a></li>
                    <li><a href="#">总经理/总裁</a></li>
                    </ul>
                    <div class="clear"></div>
                </dd>
            </dl>
        	<dl class="yx">
            	<dt>月薪（元）:</dt>
                <dd>
                	<ul>
                    <li class="all"><a href="#">不限</a></li>
                    <li><a href="#">1500以下</a></li>
                    <li><a href="#">1500-2500</a></li>
                    <li class="cu"><a href="#">2500-3500</a></li>
                    <li><a href="#">3500-5000</a></li>
                    <li><a href="#">5000-7000</a></li>
                    <li><a href="#">7000-9000</a></li>
                    <li><a href="#">9000-12000</a></li>
                    <li><a href="#">12000-15000</a></li>
                    <li><a href="#">15000以上</a></li>
                    <li class="cus">
                    	<a href="#">自定义</a>
                        <div class="cusBox">
                        	<div class="cusBoxCon"><input type="text" /><i>~</i><input type="text" /><a href="#" class="btn3 btnsF12">确定</a></div>
                        </div>
                    </li>
                    </ul>
                    <div class="clear"></div>
                </dd>
            </dl>
            <dl class="fl">
            	<dt>公司福利:</dt>
                <dd>
                	<ul>
                    <li class="all"><a href="#">不限</a></li>
                    <li><input type="checkbox" id="fl1" /><label for="fl1">五险</label></li>
                    <li class="cu"><input type="checkbox" id="fl2" /><label for="fl2">住房公积金</label></li>
                    <li><input type="checkbox" id="fl3" /><label for="fl3">包吃包住</label></li>
                    <li><input type="checkbox" id="fl4" /><label for="fl4">一周双休</label></li>
                    </ul>
                    <div class="clear"></div>
                </dd>
            </dl>
            <dl class="gzdd">
            	<dt>工作地点:</dt>
                <dd><a href="#">不限</a><a href="#" class="cu">重庆市</a><a href="#">主城区</a><a href="#">周边区县</a><i>|</i><a href="#">其他省市</a></dd>
                <dd class="snd"><a href="#" class="cu">南岸区</a><a href="#">渝中区</a><a href="#">巴南区</a><a href="#">江北区</a><a href="#">九龙坡区</a><a href="#">沙坪坝区</a><a href="#">渝北区</a><a href="#">北碚区</a><a href="#">大渡口区</a></dd>
                <dd class="snd"><a href="#" class="cu">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a><a href="#">万盛区</a></dd>
            </dl>
            <dl class="zwflTow">
            	<dt>职位分类:</dt>
                <dd>
                	<div class="fstSort"><a href="#">不限</a><a href="#" class="cu">IT/互联网/通信/电子</a><a href="#">机械/制造/汽车</a><a href="#">生产/加工/消费品</a><a href="#">房地产/建筑/装修</a><a href="#">行政/人力资源/管理</a><a href="#">销售/客户服务</a><a href="#">财会/金融/银行</a></div>
                    <div class="sndSort">
                    	<div class="sndSortLst"><a href="#" class="cu">计算机硬件</a><a href="#">计算机硬件</a><a href="#">互联网/电商/网游</a><a href="#">IT管理/品管及其他</a><a href="#">电子/电器/半导体/仪器仪表</a><a href="#">通信技术开发及应用</a></div>
                    	<div class="thrdSort"><a href="#">其他(计算机硬件)</a><a href="#" class="cu">(信息)技术经理/主管</a><a href="#">其他(IT-品管/技术及其它)</a><a href="#">整车设计师</a><a href="#">安全工程师</a><a href="#">二手车评估师</a><a href="#">车身/造型设计师</a><a href="#">整车工程师</a><a href="#">其他(计算机硬件)</a><a href="#">(信息)技术经理/主管</a></div>
                    </div>
                    <div class="fstSort"><a href="#">传媒/广告/艺术</a><a href="#">化工/医药/能源</a><a href="#">贸易/采购/物流</a><a href="#" class="cu">教育/法律/专业服务</a><a href="#">服务业/零售/医护</a><a href="#">农林牧渔/科研/公务员</a></div>
                    <div class="sndSort">
                    	<div class="sndSortLst"><a href="#" class="cu">计算机硬件</a><a href="#">计算机硬件</a><a href="#">互联网/电商/网游</a><a href="#">IT管理/品管及其他</a><a href="#">电子/电器/半导体/仪器仪表</a><a href="#">通信技术开发及应用</a></div>
                    	<div class="thrdSort"><a href="#">其他(计算机硬件)</a><a href="#" class="cu">(信息)技术经理/主管</a><a href="#">其他(IT-品管/技术及其它)</a><a href="#">整车设计师</a><a href="#">安全工程师</a><a href="#">二手车评估师</a><a href="#">车身/造型设计师</a><a href="#">整车工程师</a><a href="#">其他(计算机硬件)</a><a href="#">(信息)技术经理/主管</a></div>
                    </div>
                </dd>
            </dl>
            <dl class="sshy">
            	<dt>所属行业:</dt>
                <dd>
                	<div class="fstTrade"><a href="#">不限</a><a href="#" class="cu">计算机/互联网</a><a href="#">通信/电子</a><a href="#">制造/营运</a><a href="#">房地产/建筑/装饰</a><a href="#">金融/银行/会计</a><a href="#">广告/媒体/印刷</a><a href="#">制药/医疗</a><a href="#">能源/原材料</a><a href="#">物流/运输/航空</a></div>
                    <div class="sndTrade">
                    	<div class="sndTradeLst"><a href="#">计算机服务(系统/数据服务/维修)</a><a href="#" class="cu">网络游戏</a><a href="#">电子/微电子/半导体/集成电路</a><a href="#">(通信/电信/网络)设备</a><a href="#">(通信/电信)运营/增值服务</a><a href="#">仪器仪表/工业自动化</a><a href="#">机械/设备/重工</a><a href="#">汽车(摩托车)/零配件及服务</a><a href="#">房地产开发</a>
                        </div>
                    </div>
                    <div class="fstTrade"><a href="#">贸易/消费</a><a href="#">专业服务/教育/培训</a><a href="#">生活服务/娱乐</a><a href="#">政府/非盈利机构/其它</a></div>
                </dd>
            </dl>
            <dl class="gsxz">
            	<dt>公司性质:</dt>
                <dd>
                	<ul>
                    <li class="all"><a href="#">不限</a></li>
                    <li class="cu"><a href="#">私营/民营</a></li>
                    <li><a href="#">国营</a></li>
                    <li><a href="#">合资</a></li>
                    <li><a href="#">外资</a></li>
                    <li><a href="#">政府机关</a></li>
                    <li><a href="#">事业单位</a></li>
                    <li><a href="#">非盈利机构</a></li>
                    </ul>
                    <div class="clear"></div>
                </dd>
            </dl>
            <dl class="gsgm">
            	<dt>公司规模:</dt>
                <dd>
                	<ul>
                    <li class="all"><a href="#">不限</a></li>
                    <li class="cu"><a href="#">50人以下</a></li>
                    <li><a href="#">51-100人</a></li>
                    <li><a href="#">101-500人</a></li>
                    <li><a href="#">501-1000人</a></li>
                    <li><a href="#">1000人以上</a></li>
                    </ul>
                    <div class="clear"></div>
                </dd>
            </dl>
            <dl class="sxsj" style="border:0;">
            	<dt>刷新时间:</dt>
                <dd>
                	<ul>
                    <li class="all"><a href="#">不限</a></li>
                    <li class="cu"><a href="#">1天内</a></li>
                    <li><a href="#">3天内</a></li>
                    <li><a href="#">7天内</a></li>
                    <li><a href="#">15天内</a></li>
                    <li><a href="#">30天内</a></li>
                    <li><a href="#">90天内</a></li>
                    </ul>
                    <div class="clear"></div>
                </dd>
            </dl>
            <div class="clear"></div>
        </div>
        <div class="fterBtn"><span class="fterBtnBg"><a href="#"><i class="hbFntWes">&#xf13a;<!--&#xf139;这两个代码切换,分别为展开和未展开状态--></i>展开更多选项<span class="gray">(类别、行业、公司性质、公司规模、发布时间)</span></a></span></div>
    </div>

    <div class="tableFun">
    	<div class="l">
        	<span class="btn"><b><a href="#" class="red">更新时间<i class="hbFntWes">&#xf107;</i></a></b><b><a href="#">发布时间<i class="hbFntWes">&#xf107;</i></a></b><b><a href="#">月薪<i class="hbFntWes">&#xf107;<!--&#xf106;这两个代码切换,分别为月薪的升序及降序--></i></a></b></span>
            <span class="nature"><b>职位性质:</b><a href="#" class="cu">不限</a><a href="#">全职</a><a href="#">兼职</a><a href="#">实习</a></span>
            <span class="grd"><input type="checkbox" id="grd" /><label for="grd">接受应届生</label></span>
        </div>
        <div class="r"><a href="#"><i class="hbFntWes">&#xf041;</i>在地图中查看</a></div>
        <div class="clear"></div>
    </div>
    <div class="table" id="table">
    	<table cellpadding="0" cellspacing="0" width="100%">
        	<tbody>
            	<tr>
                	<td align="left" valign="middle"><div class="check"><input type="checkbox" class="chk"></div></td>
                    <td align="left" valign="middle">
                        <div class="jobNm">
                            <a href="#" class="jobLnk">网页设计师</a>
                            <span class="hoverInfoBox">
                                <div id="arrow"><em></em><span></span></div>
                                <div class="tipBox">
                                    <div class="boxCont">
                                        <dl>
                                            <dt><b>重庆明品福物流有限责任公司</b><em>500强</em><span><i class="hbFntWes">&#xf058;</i>营业执照已验证</span></dt>
                                            <dd><i>交通/运输/物流/快递、农业/林业/养殖业</i><i>100-500人</i><i class="end">民营/私营</i></dd>
                                        </dl>
                                        <dl>
                                            <ul class="infoLst">
                                                <li class="frist"><em>薪酬工资：</em><i><b>￥8000 - 15000</b>(试用期：80%)</i></li>
                                                <li class="two"><em>学历要求：</em><i>本科</i></li>
                                                <li class="frist"><em>工作地点：</em><i>九龙坡区，杨家坪</i></li>
                                                <li class="two"><em>工作经验：</em><i>不限（可接受应届生）</i></li>
                                                <li class="frist"><em>福利待遇：</em><i>五险一金，包吃住，一周双休</i></li>
                                                <li class="two"><em>招聘人数：</em><i>5人</i></li>
                                                <div class="clear"></div>
                                            </ul>
                                        </dl>
                                        <dl class="noLine">
                                            <div class="postDes">
                                                <h2>岗位职责</h2>
                                                <p>1、执行招聘计划，进行工作分析，完成职位说明书；
                                                    <br/>2、维护拓展招聘渠道；
                                                    <br/>3、发布职位信息，收集简历，聘前测试和简历的初步筛选,安排面试；
                                                    <br/>4、负责办理员工入职离职等调配事务；
                                                    <br/>5、组织新员工入职培训，业务培训；
                                                    <br/>6、跟踪评估各类人才的使用情况，更新和维护人才储备库；
                                                    <br/>7、提供招聘分析报告和企业人员结构分析报告。
                                                </p>
                                            </div>
                                            <div class="postDes">
                                                <h2>任职资格具体描述：</h2>
                                                <p>1、人力资源或相关专业大专以上学历；
                                                    <br/>2、一年以上相关工作经验；
                                                    <br/>3、有人力资源招聘的实务操作经验，熟悉国家相关法律法规；
                                                    <br/>4、性格温和、有耐心、积极主动，为人正直，忠诚守信，工作严谨，具有很好的语言文字表达能力；
                                                    <br/>5、熟练使用办公软件，具备基本的网络知识。析报告。
                                                </p>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </td>
                    <td align="left" valign="middle"><div class="comNm"><a href="#">重庆聚焦人才服务有限公司</a></div></td>
                    <td align="left" valign="middle"><div class="add">南岸区-南坪镇</div></td>
                    <td align="left" valign="middle"><div class="jobCsh">￥2000-4000</div></td>
                    <td align="right" valign="middle"><div class="time"><p>3小时前</p></div><div class="type"><a href="#" class="btn4 btnsF12">投递</a><a href="#" class="hbFntWes">&#xf006;</a></div></td>
                </tr>
                <tr>
                	<td align="left" valign="middle"><div class="check"><input type="checkbox" class="chk"></div></td>
                    <td align="left" valign="middle"><div class="jobNm"><a href="#" class="jobLnk">网页设计师</a></div></td>
                    <td align="left" valign="middle"><div class="comNm"><a href="#">重庆聚焦人才服务有限公司</a></div></td>
                    <td align="left" valign="middle"><div class="add">南岸区-南坪镇</div></td>
                    <td align="left" valign="middle"><div class="jobCsh">￥2000-4000</div></td>
                    <td align="right" valign="middle"><div class="time"><p>3小时前</p></div><div class="type green"><i class="hbFntWes">&#xf058;</i>已投递</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="page">
            <a title="上一页" href="javascript:void(0);">&lt;</a>
            <a href="javascript:void(0)" class="cu">1</a>
            <a href="javascript:void(0)">2</a>
            <a href="javascript:void(0)">3</a>
            <a href="javascript:void(0)">4</a>
            <a href="javascript:void(0)">5</a>
            <a href="javascript:void(0)">6</a>
            <a href="javascript:void(0)">7</a><a href="javascript:void(0)">8</a>
            <a href="javascript:void(0)">9</a>
            <a href="javascript:void(0)">10</a>
            <a href="javascript:void(0)" class="morePage">...</a>
            <a href="javascript:void(0)">250</a><a title="下一页" href="javascript:void(0);">&gt;</a>
        </div>
    </div>
    <div class="hotKey"><b>您是不是想找:</b><p><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a><a href="#">产品经理</a></p><div class="clear"></div></div>

    <div class="scrollFun"></div>
</div>
<div class="botSch"><div class="botSchCon"><input type="text" /><a href="#">搜索</a><div class="clear"></div></div></div>
<footer>
	<div class="footerNav"><a href="#">关于汇博</a>|<a href="#">新闻中心</a>|<a href="#">招聘服务</a>|<a href="#">帮助中心</a>|<a href="#">诚聘英才</a>|<a href="#">友情链接</a>|<a href="#">网站地图</a>|<a href="#">法律声明</a>|<a href="#">隐私政策</a></div>
    <div class="copyright">
    	<p>&copy;2013&nbsp;Huibo.com&nbsp;版权所有&nbsp;&nbsp;|&nbsp;&nbsp;增值电信业务经营许可证：渝B2-20060063&nbsp;&nbsp;|&nbsp;&nbsp;人才中介服务许可证：渝人介（2007）第001号</p>
        <p>招聘单位无权收取任何费用,请求职人员加强自我保护意识,按劳动法规保护自身权益,警惕虚假招聘,避免上当受骗!</p>
    </div>
</footer>

<script>
$(document).ready(function(){
    $('#table').find('table').find('tr').hover(function(){
		$(this).addClass('hov');
	},function(){
		$(this).removeClass('hov');
	});
});
</script>
</body>
</html>
