<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="{/$keywords/}" />
<meta name="Description" content="{/$description/}" />
<title>{/$title/}</title>
<!–[if lt IE9]> 
<script type="text/javascript"  src="{/version file="html5.js"/}" ></script>
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="front.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="wkplc.css"/}" />
    <script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='common.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='dialog.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='jquery.form.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='ui_validate.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='ui_inputFocus.js'/}"></script>
    <script type="text/javascript">
        window.CONFIG = {
            HOST: '{/$siteurl.style/}',
            COMBOPATH: '/js/v2/'
        }
    </script>
    <script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
    <script type="text/javascript" src="{/version file="global.js"/}"></script>
    <script type="text/javascript">
            hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
    </script>
<style>
    
/*页面底部友情链接样式*/
.pageBot{border-top:1px solid #bbb; height:auto;width:100%; overflow:hidden;zoom:1; background:#fff;margin-top:20px;}
 .pageBotCon{width:1000px;margin:0 auto; text-align:left; border-bottom:1px solid #bbb; padding-bottom:10px;}
 footer{ margin-top:0; border-top:none;}
 .frdLink{position:relative;z-index:10;height:50px;overflow:hidden;}
 .footer{margin-top:0;}
 .frdLink b{float:left;display:inline;height:35px;font-size:12px;line-height:35px;width:70px;font-weight:normal;color:#999;}
 .frdLink .linkScroller{float:left;display:inline;line-height:25px;width:930px; height:50px; overflow:hidden;position:relative;}
 .frdLink .linkScroller ul{width:930px;position:absolute;left:0px;margin:5px 0 0;top:0px;}
 .frdLink .linkScroller ul li{float:left; display:inline-block; *display:inline;zoom:1; height:25px; line-height:25px;margin:0 10px 0 0;}
 .frdLink .linkScroller ul li a{color:#424242; display:inline; height:25px; line-height:25px;white-space:nowrap;font-size:12px;}
 .frdLink .linkScroller ul li a:hover{color:#0af;}
 .frdLink .linkScroller{ height:auto;}
 .frdLink .linkScroller ul{ position:inherit;}
</style>
</head>
    
<body>
{/include file='schoolserachhead.html'/}
<div class="content">
    <div class="bread"><a href="/">汇博人才</a>&gt;<span>职场指南</span></div>
    <div class="wkplc">
    	<div class="left">
        	<div class="wkplLst leftPart">
            	<div class="hd">
                	<h3>职场指南</h3>
                </div>
                <div class="bd" id="lst">
                	<ul>
                	{/foreach $informations as $information/}
                    <li class="{/if $information['hasCover']==false/} noPic{//if/}" title='{/$information['title']/}'>
                        <h2><a href="{/get_url rule="/zhichang/"/}{/$information['info_id']/}.html" target='_blank'>{/$information['title']/}</a></h2>
                        <dl>
                        <dt><a><img src="{/$information['small_cover']/}" /></a></dt>
                        <dd>
                        	<div class="txt">
                            	<p>{/$information['content']/}</p>
                            </div>
                            <div class="bot">
                            	<p class="time"><i class="hbFntWes">&#xf017;</i><span>{/$information['issue_time']/}</span></p>
                                <div class="share"><a href="javascript:void(0);" class="sina" id="shareSina" title="分享至新浪微博"></a><a href="javascript:void(0);" class="txweibo" id="shareTengXun" title="分享至腾讯微博"></a><a href="javascript:void(0);" class="qzone" id="shareQQ" title="分享至QQ空间"></a><a href="javascript:void(0);" class="renren" id="shareRenRen" title="分享至人人网"></a></div>
                                <p class="rTo"><a href="{/get_url rule="/zhichang/"/}{/$information['info_id']/}.html" target='_blank'>查看详情&gt;&gt;</a></p>
                            </div>
                        </dd>
                        </dl>
                    </li>
					{//foreach/}
                    </ul>
                    <div class="page">
					{/$pager/}
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
        	<div class="rightPart">
                <div class="classify">
                    <div class="hd">分类浏览</div>
                    <div class="bd">
                        <ul>
	                        <li><a href="{/get_url rule="/zhichang/zhichangzhilu/"/}">职场之路</a></li>
	                         <li><a href="{/get_url rule="/zhichang/qiuzhimianshi/"/}">求职面试</a></li>
	                         <li><a href="{/get_url rule="/zhichang/zhichangfengxiang/"/}">职场风向</a></li>
	                         <li><a href="{/get_url rule="/zhichang/xinzikuaibao/"/}">薪资快报</a></li>
	                         <li><a href="{/get_url rule="/zhichang/guihuachongdian/"/}">规划充电</a></li>
	                         <li><a href="{/get_url rule="/zhichang/laodongyufa/"/}">劳动与法</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="rec">
                	<div class="hd">推荐阅读</div>
                    <div class="bd">
                    	<ul>
	                	{/foreach $notHasCoverInfors as $information/} 
	                   	 <li><a href="{/get_url rule="/zhichang/"/}{/$information['info_id']/}.html" target='_blank'>{/$information['title']/}</a></li>
	                    {//foreach/} 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{/if count($links->items) > 0/}
<section class="pageBot">
    <div class="pageBotCon">
        <div class="frdLink" style=" height: auto;">
                      <b style="font-weight: bolder;">友情链接:</b>
                      <div id="linkScroller" class="linkScroller" style="overflow: visible;">
                      <ul>
                              {/foreach from=$links->items item=link/}
                               <li><a style="color:#999" target="_blank" href="{/$link["url"]/}">{/$link["site_name"]/}</a></li>
                      {//foreach/}
                      </ul>
                      </div>
                  <div class="clear"></div>
              </div>
   </div>
</section>
{//if/}
{/include file='footer.html'/}
<section class="floatRT"><a href="{/get_url rule='/about/message' domain='main'/}" target="_blank" class="serviceLink">我有问题要反馈</a><b></b></section>
<script>
$(document).ready(function(){
	$('#lst').find('li').hover(function(){
		$(this).addClass('hov');
	},function(){
		$(this).removeClass('hov');
	});
	
});

$(document).ready(function(){
	function createTips(){
  	    var strArray = ['赶紧推荐给您的朋友阅读吧。', '分享一下，推荐阅读。'];
  	    return  strArray[Math.round(Math.random())];
	}
     //分享到新浪微博
     $('#lst .sina').click(function()
     {
         var tip =  createTips(),
         	acttitle = $(this).closest('li').attr('title'),
         	info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 职场指南)，'
          var href = 'http://service.weibo.com/share/share.php?title=' + encodeURIComponent(info + tip) + '&url=' + encodeURIComponent(window.location.href) + '&source=bookmark';
         $(this).attr({ target: '_blank', href: href });
     });
     //腾讯微博
     $('#lst .txweibo').click(function()
     {
         var tip =  createTips(),
         acttitle = $(this).closest('li').attr('title'),
     	 info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 职场指南)，'
         var href = 'http://v.t.qq.com/share/share.php?title=' + encodeURIComponent(info + tip) + '&url=' + encodeURIComponent(window.location.href);
         $(this).attr({ target: '_blank', href: href });
     });
     //QQ空间
     $('#lst .qzone').click(function()
     {
         var tip =  createTips(),
         acttitle = $(this).closest('li').attr('title'),
     	 info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 职场指南)，'
         var href = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=' + encodeURIComponent(info + tip) + '&summary=' + encodeURIComponent(info + tip) + '&url=' + encodeURIComponent(window.location.href);
         $(this).attr({ target: '_blank', href: href });
     });
     //人人网 
     $('#lst .renren').click(function()
     {
         var tip =  createTips(),
         acttitle = $(this).closest('li').attr('title'),
     	 info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 职场指南)，'
         var href = 'http://share.renren.com/share/buttonshare.do?link=' + encodeURIComponent(window.location.href) + '&title==' + encodeURIComponent(info + tip);
         $(this).attr({ target: '_blank', href: href });
     });
});

</script>
</body>
</html>
