<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>{/$title/}</title>
<!–[if lt IE9]> 
<script type="text/javascript"  src="{/version file="html5.js"/}" ></script>
<![endif]–>
<link rel="stylesheet" type="text/css" href="{/version file="base.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="front.css"/}" />
<link rel="stylesheet" type="text/css" href="{/version file="campus.css"/}" />
<script type="text/javascript" language="javascript" src="{/version file="ui_dropdownlist.js"/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='jquery-1.8.3.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='common.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='dialog.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='jquery.form.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='ui_validate.js'/}"></script>
    <script type="text/javascript" language="javascript" src="{/version file='ui_inputFocus.js'/}"></script>
    <script type="text/javascript">
        window.CONFIG = {
            HOST: '{/$siteurl.style/}',
            COMBOPATH: '/js/v2/'
        }
    </script>
    <script type="text/javascript" src="{/version file='hbjs.js,jquery.min.js,util.js,class.js,shape.js,event.js,aspect.js,attribute.js,cookie.js'/}"></script>
    <script type="text/javascript" src="{/version file="global.js"/}"></script>
    <script type="text/javascript">
            hbjs.loadJS('{/$siteurl.style/}/js/v2/cqjob/common.js');
    </script>
</head>
<body>
{/include file='schoolserachhead.html'/}
<div class="content">
    <div class="bread"><a href="/">汇博人才</a>&gt;<a href="{/get_url rule="/xiaoyuan/"/}">校园招聘</a>&gt;<span>宣讲会</span></div>
    <div class="campus">
    	<div class="left">
        	<div class="meetingLst prcLst leftPart">
            	<div class="hd" title='{/$test/}'>
                	<h3>企业宣讲会</h3>
                    <div class="rBtn">
                     <form id="frmXuanJiang" method="post" action="{/get_url rule="/xuanjiang/index/"/}">
                    	<input type="hidden" name="schoolid" id="hddSchoolId" value="{/$school_id/}" />
                    	<span id="tstDrop" class="drop zindex"></span>
                     </form> 	
                    </div>
                </div>
                <div class="bd" id="lst">
                   {/if count($xuanjiangs)<=0/}
                  	 <div class="noData">没有找到相关的宣讲会！</div>
                   {/else/}	
                	<ul>
                	{/foreach $xuanjiangs as $xuanjiang/}
                    <li title='{/$xuanjiang['title']/}'>
                        <div class="share"><b>分享到：</b><a href="javascript:void(0);" class="sina" id="shareSina" title="分享至新浪微博"></a><a href="javascript:void(0);" class="txweibo" id="shareTengXun" title="分享至腾讯微博"></a><a href="javascript:void(0);" class="qzone" id="shareQQ" title="分享至QQ空间"></a><a href="javascript:void(0);" class="renren" id="shareRenRen" title="分享至人人网"></a></div>
                    	<dl>
                        <dt>
                        	<p class="ym">{/$xuanjiang['yearmonth']/}</p>
                            <p class="day">{/$xuanjiang['day']/}</p>
                        </dt>
                        <dd>
                        	<p class="tit"><a href="{/get_url rule="/xuanjiang/detail/"/}sid-{/$xuanjiang["sid"]/}" target="_blank"><em>{/$xuanjiang['sponsor']/}</em>{/html_encode content=$xuanjiang['title']/}</a></p>
                            <p>时间：{/$xuanjiang['start_time']/}</p>
                            <p>地点：{/$xuanjiang['address']/}</p>
                        </dd>
                        </dl>
                    </li>
                    {//foreach/}
                    </ul>
				   {/$pager/}
				   {//if/} 	
                </div>
            </div>
        </div>
        <div class="right">
        	<div class="rightPart">
        	    {/if !empty($fairhistorys) && count($fairhistorys)>0/}
                <div class="rev">
                    <div class="hd">现场回顾</div>
                    <div class="bd">
                        <ul>
                        {/foreach $fairhistorys as $item=>$value/}
                       	 <li><a href="{/get_url rule="/zhaopinhui/historydetail/" data="historyid={/$value.history_id/}"/}" target='_blank'><div class="pic"><img src="{/$value.cover_image_url/}" /></div><p>{/$value.title/}</p></a></li>
                       {//foreach/}
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                {//if/}                
                <div class="catus">
                	<dl>
                        <dt>校园招聘合作</dt>
                        <dd>
                            <p><span class="icon_footer icon_tel"></span><span>电话：{/$phone/}</span></p>
                            <p><span class="icon_footer icon_email"></span><span>邮箱：{/$email/}</span></p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{/include file='footer.html'/}
<section class="floatRT"><a href="{/get_url rule='/about/message' domain='main'/}" target="_blank" class="serviceLink">我有问题要反馈</a><b></b></section>
<script>
$.setIndex("zindex");
$('#tstDrop').droplist({
	defaultTitle:'请选择',
	style:'width:163px;',
    noSelectClass:'gray',
    inputWidth:155,
    width:165,
    name:'hddSex',
    selectValue:'{/$school_id/}',
    items:{/$schools/},
    maxScroll:12,
    onSelect:function(i,name) {
	   	$('#hddSchoolId').val(i);
	   	$('#frmXuanJiang')[0].submit();
}});
$(document).ready(function(){
	$('#lst').find('li').hover(function(){
		$(this).addClass('hov');
	},function(){
		$(this).removeClass('hov');
	});
	
});
$(document).ready(function(){
	function createTips(){
  	    var strArray = ['赶紧推荐给您的朋友阅读吧。', '分享一下，推荐阅读。'];
  	    return  strArray[Math.round(Math.random())];
	}
     //分享到新浪微博
     $('#lst .sina').click(function()
     {
         var tip =  createTips(),
         	acttitle = $(this).closest('li').attr('title'),
         	info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 演讲会)，'
          var href = 'http://service.weibo.com/share/share.php?title=' + encodeURIComponent(info + tip) + '&url=' + encodeURIComponent(window.location.href) + '&source=bookmark';
         $(this).attr({ target: '_blank', href: href });
     });
     //腾讯微博
     $('#lst .txweibo').click(function()
     {
         var tip =  createTips(),
         acttitle = $(this).closest('li').attr('title'),
     	 info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 演讲会)，'
         var href = 'http://v.t.qq.com/share/share.php?title=' + encodeURIComponent(info + tip) + '&url=' + encodeURIComponent(window.location.href);
         $(this).attr({ target: '_blank', href: href });
     });
     //QQ空间
     $('#lst .qzone').click(function()
     {
         var tip =  createTips(),
         acttitle = $(this).closest('li').attr('title'),
     	 info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 演讲会)，'
         var href = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=' + encodeURIComponent(info + tip) + '&summary=' + encodeURIComponent(info + tip) + '&url=' + encodeURIComponent(window.location.href);
         $(this).attr({ target: '_blank', href: href });
     });
     //人人网 
     $('#lst .renren').click(function()
     {
         var tip =  createTips(),
         acttitle = $(this).closest('li').attr('title'),
     	 info = '【这篇文章还不错】' + '“'+ acttitle + '”'+ '（来自huibo.com 校园招聘 -> 演讲会)，'
         var href = 'http://share.renren.com/share/buttonshare.do?link=' + encodeURIComponent(window.location.href) + '&title==' + encodeURIComponent(info + tip);
         $(this).attr({ target: '_blank', href: href });
     });
});
</script>
</body>
</html>
